{%extends 'base.html'%}
{%load static from staticfiles%}

    <title></title>

<body>
{%block content%}
<style>
    .next-guide-wrapper {
        max-width:720px;
        min-height: 700px;
        padding-top:100px;
        margin:auto;
    }


    .next-guide-wrapper div {
        margin: 30px 0px;
        padding: 10px 0px;
    }

</style>
<div class="next-guide-wrapper">
<div class="h4">클래스 의뢰하기</div>
    <div class="h2" style="font-weight:bold;">감사합니다 클래스 외뢰가 접수되었습니다</div>
    <div><img src="{%static 'media/image/slice/metaicon-1.png' %}"></div>
    <div>답변 소요 시간은 약 하루이며, 문자로 안내해드리겠습니다</div>

    <a href="http://{{HTTP_HOST}}/v2/board/questionboard/"><button class="btn btn-primary" style="height:50px;" >문의중인 클래스 보러가기 </button>
                                            <!--<p>내가 올린 질문 보기</p>-->
        </a>
</div>
{%endblock%}
</body>
