{%extends 'base.html'%}
{%load static from staticfiles %}
<title>{%block title%}{{qitem_post.title}}{%endblock%}</title>

<body>

{%block content%}

<style>

    .tmk-qitem-detail-wrapper{
        max-width: 900px;
    }
    .tmk-qitem-header{
        padding: 40px 10px;
        border-bottom: 1px solid rgba(0,0,0,0.22);
        margin:auto auto 30px;
        width: 900px;
    }
    .tmk-qitem-header > span{
        font-size: 28px;
        font-weight: bold;
    }

    .tmk-qitem-aside-right {text-align:left;width:27%;padding-left:30px;float:left;}
    .tmk-qitem-aside-right div {float:left; width:100%;}
    .tmk-qitem-img {width:73%;float:left;border-radius:8px;}


    .tmk-panel {
        float: left;
        width: 73%;
        text-align: center;
        padding: 30px auto;

        display: inline-block;

        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;

    }
    .tmk-panel div {margin:30px auto;}

    .tmk-qitem-q-top {width:30px;height:5px;background:#e85460;}
    .tmk-qitem-q {line-height:50px;width:400px;}
    .tmk-qitem-q .h4 {font-family:NanumMyeongjo!important;}


    #qitem-Carousel {
        border-radius: 8px;
    }
    .carousel-inner {
        /*height: 500px;*/
        overflow: hidden;
        border-radius:8px;
    }
    .item {
        padding: 0 !important;
        margin: 0 !important;
        border-radius:8px !important;
    }

    .carousel-control {
        width: 50px;
        height: 100px!important;
        margin: 180px 15px;
    }

.item {height:400px;width:100%;}
    .picks-cards > ul > li:first-child {margin-left:0;}


</style>
<div class="tmk-sub-body">
    <div class="tmk-qitem-wrapper">
        <div class="row">
            <div class="tmk-qitem-header">
                <span>{{qitem_post.title}}를 만들고 싶어요</span>
            </div>
        </div>

        <div class="tmk-qitem-img">

            <div id="qitem-Carousel" class="carousel slide" data-ride="carousel">
                <!--Indicators -->

                {%if forloop.counter0 == 0 %}
                {%else%}
                <ol class="carousel-indicators">
                    {%for photo in qitem_post.qpic_set.all %}
                    {% if forloop.counter0 == 0 %}
                    <li data-target="#class-post-Carousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                    {% else %}
                    <li data-target="#class-post-Carousel" data-slide-to="{{forloop.counter0}}"></li>
                    {% endif %}
                    {%endfor%}
                </ol>
                {%endif%}
                <div class="carousel-inner" role="listbox">
                    {%for photo in qitem_post.qpic_set.all%}
                    {% if forloop.counter0 == 0 %}
                    <div class="item image{{forloop.counter0}} active" style="background-image:url({{MEDIA_URL}}{{photo.pic}});background-size:cover;background-position:center;">
                        <!--<img class="img-responsive{{forloop.counter0}}" src="{{MEDIA_URL}}{{photo.pic}}" alt="{{photo.photo_title}} image{{forloop.counter0}}">-->
                    </div>
                    {% else %}
                    <div class="item image{{forloop.counter0}}" style="background-image:url({{MEDIA_URL}}{{photo.pic}});background-size:cover;background-position:center;">
                        <!--<img class="img-responsive{{forloop.counter0}}" src="{{MEDIA_URL}}{{photo.pic}}" alt="{{photo.photo_title}} image{{forloop.counter0}}">-->
                    </div>
                    {% endif %}
                    {%endfor%}
                </div>

                {% if forloop.counter0 == 0 %}
                {% else %}
                <a class="left carousel-control"  href="#qitem-Carousel" role="button" style="background-image:url({%static 'media/image/slice/arrow-left.png'%}); background-repeat:no-repeat;" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#qitem-Carousel" role="button" style="background-image:url({%static 'media/image/slice/arrow-right.png'%}); background-repeat:no-repeat;" data-slide="next">
                    <!--<img src="{%static 'media/image/slice/arrow-right.png'%}">-->
                    <span class="sr-only">Next</span>
                </a>
                {%endif%}
            </div>
        </div>

        <!--&#45;&#45;&#45;&#45;&#45;&#45;만들기 문의-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
        <aside class="tmk-qitem-aside-right">
                <div class="aside-category">만들기 문의</div>
            <div class="h3">{{qitem_post.category.first.category}}</div>


            <a class="profile-photo-mini" href="http://{{HTTP_HOST}}/v2/user/profile/{{qitem_post.djgouser.id}}" style="background-image:url({{MEDIA_URL}}{{qitem_post.djgouser.userprofile_set.first.propic}});">
                <!--<img src="{{MEDIA_URL}}{{qitem_post.djgouser.userprofile_set.first.propic}}">-->
            </a>

            <a class="aside-username" href="http://{{HTTP_HOST}}/v2/user/profile/{{qitem_post.djgouser.id}}">
                by {{qitem_post.djgouser.last_name}} {{qitem_post.djgouser.first_name}}</a><br>
            <div style="width:100%;">자기 소개 : {{user.userprofile_set.first.inter_oneline}}</div>
        </aside>

        <div class="tmk-panel">
            <div class="tmk-panel-header"><img src="{%static 'media/image/slice/headicon-6.png'%}"> 문의 내용</div>
            <hr>
            <div class="tmk-qitem-q">
                <div class="tmk-qitem-q-top"></div>
                <div class="h4">무엇을 배우고 싶으세요?</div>
            </div>
            {{qitem_post.wantedu}}
            <div class="tmk-qitem-q">
                <div class="tmk-qitem-q-top"></div>
                <div class="h4">수업인원은 몇명인가요?
                </div>
            </div>
            {{qitem_post.memnum}}명입니다

            <div class="tmk-qitem-q">
                <div class="tmk-qitem-q-top"></div>
                <div class="h4">수업 희망 지역
                </div>
            </div>
            <div>{{qitem_post.mylocal}}</div>

        </div>


        <div class="solution-box" style="width:73%;float:left;">
        <span class="picks-cards-hdr">
            <div class="h4" style="text-align:left;"><img src="{%static 'media/image/slice/headicon-7.png'%}"> 만들어진 클래스</div>
            </span>
{%if qitem_post.solutionbox.count == 0 %}
<div class="no-solutions" style="width:100%;">
    <img src="{%static 'media/image/slice/metaicon-5.png'%}">
    <div class="h4">으악! 죄송합니다 <br> 아직 만들어진 클래스가 없네요...</div>
    <div>빠른 시간내에 클래스가 만들어질 수 있도록 노력하겠습니다</div>
</div>

        {%else%}
<div class="picks-cards rows">
            <ul>
                {% for solution in qitem_post.solutionbox.all %}

                <li class="solution-cards">

                    <div class="solution-credit">

                        <a class="credit-title h4" href="http://{{HTTP_HOST}}/v2/question/item/{{que.qitempost.id}}">
                            {{solution.title}}</a>
                    </div>
                    <span>클래스 지기</span>
                    <div class="solution-host">
                        <a class="profile-photo-mini" href="http://{{HTTP_HOST}}/v2/user/profile/{{qitem_post.djgouser.id}}"
                           style="background-image:url({{MEDIA_URL}}{{qitem_post.djgouser.userprofile_set.first.propic}});"></a>

                        <a class="aside-username" href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
                            {{solution.djgouser.last_name}} {{solution.djgouser.first_name}}</a>

                    </div>
                    <div class="solution-contents">

                        <div class="cards-date"><span>클래스 정보</span> <br>
                            <img src="{%static 'media/icon/map-icon.png'%}"> {{solution.state.first.state}}/{{solution.mylocal}}<br>
                            <img src="{%static 'media/icon/calendar-icon.png'%}"> {{solution.repeat}}회/총 {% widthratio solution.repeat 1 solution.perhour%}시간<br>
                            <img src="{%static 'media/icon/time-icon.png'%}"> {{solution.weekday_time}}<br>
                        </div>
                    </div>
                    <div class="solution-payment">
                        <span>수강료</span><br>
                        <div>재료비 포함<p class="pull-right">{{solution.price}}원</p></div>

                    </div>
                    <button class="btn btn-primary btn-block">나도 문의하기 </button>
                </li>


                {% endfor %}
                </ul>
</div>
        {%endif%}
        </div>
    </div>

</div>
{%endblock%}
</body>

{%comment%}
    답변 타이틀 :{{solution.title}}<br>
    프로필 사진 :
    <a class="profile-photo-mini" href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
        <img src="{{MEDIA_URL}}{{solution.djgouser.userprofile_set.first.propic}}"></a><br>

    <a href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
        {{solution.djgouser.last_name}} {{solution.djgouser.first_name}}</a><br>
    클래스 정보 <br>
    지역 {{solution.state.first.state}}/{{solution.mylocal}}<br>
    수업횟수 {{solution.repeat}}회/총 {% widthratio solution.repeat 1 solution.perhour%}시간<br>
    수업요일 {{solution.weekday_time}}
{%endcomment%}