{%extends 'base.html'%}
    <title>{{qitem_post.title}}</title>

<body>
{%block content%}
{{qitem_post.title}}를 만들고 싶어요.<br><br>

{% for photo in qitem_post.qpic_set.all %}
<img src="{{MEDIA_URL}}{{photo.pic}}">
{% endfor %}<br>


------만들기 문의---------<br>
카테고리 : {{qitem_post.category.first.category}}<br>

프로필 사진 :
<a href="http://{{HTTP_HOST}}/v2/user/profile/{{qitem_post.djgouser.id}}">
<img src="{{MEDIA_URL}}{{qitem_post.djgouser.userprofile_set.first.propic}}"></a><br>
이름 :
<a href="http://{{HTTP_HOST}}/v2/user/profile/{{qitem_post.djgouser.id}}">
{{qitem_post.djgouser.last_name}}{{qitem_post.djgouser.first_name}}</a><br>
자기 소개 : <br>



------수업 정보 --------<br>
무엇을 배우고 싶으신가요?<br>
{{qitem_post.wantedu}}<br><br>
수업인원은 몇명인가요?<br>
{{qitem_post.memnum}}명입니다 <br><br>
수업 희망 지역<br>
{{qitem_post.mylocal}}<br>

------개설 수업-------------<br>
{% for solution in qitem_post.solustionbox.all %}
        답변 타이틀 :{{solution.title}}<br>
        프로필 사진 :
        <a href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
        <img src="{{MEDIA_URL}}{{solution.djgouser.userprofile_set.first.propic}}"></a><br>
        이름 :
        <a href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
        {{solution.djgouser.last_name}}{{solution.djgouser.first_name}}</a><br>
        클래스 정보 <br>
        지역 {{solution.state.first.state}}/{{solution.mylocal}}<br>
        수업횟수 {{solution.repeat}}회/총 {% widthratio solution.repeat 1 solution.perhour%}시간<br>
        수업요일 {{solution.weekday_time}}<br>
=================================<br>
{% endfor %}
=======
{%endblock%}
</body>
