{%extends 'base.html'%}
    <title></title>

<body>
{%block content%}
<div class="tmk-sub-body">
<div class="well">
    <form class="" method="POSt" action="{{request.path}}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="title">


            <!-- Large button group -->
            <select name="category" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <ul class="dropdown-menu">
                        <option value="leather">가죽공예</option>
                        <option value="woodword">목공예</option>
                        <option value="flowerart">꽃꽂이</option>
                        <option value="dyeing">천연염색</option>
                        <option value="toreutics">금속공예</option>
                        <option value="painting">미술</option>
                        <option value="knot">매듭공예</option>
                        <option value="knitting">뜨개질</option>
                        <option value="etc">기타</option>
                </ul>
            </select>

            <!--<select name="category">-->
                <!--<option value="leather">가죽공예</option>-->
                <!--<option value="woodword">목공예</option>-->
                <!--<option value="flowerart">꽃꽂이</option>-->
                <!--<option value="dyeing">천연염색</option>-->
                <!--<option value="toreutics">금속공예</option>-->
                <!--<option value="painting">미술</option>-->
                <!--<option value="knot">매듭공예</option>-->
                <!--<option value="knitting">뜨개질</option>-->
                <!--<option value="etc">기타</option>-->
            <!--</select>으로-->

            <input name="title">을 만들고 싶어요.<br>
            <input id="id_photo1" name="Qphoto" type="file"><br>
            <input id="id_photo2" name="Qphoto" type="file"><br>
            <input id="id_photo3" name="Qphoto" type="file"><br>
            <input id="id_photo4" name="Qphoto" type="file"><br>
            <input id="id_photo5" name="Qphoto" type="file"><br>

            무엇을 배우고 싶으세요?<br>
            <input type="text" name="wantedu"><br>
            수업 인원은 몇명인가요?<br>
            <input type="number" name="memnum" min="1" max="50"><br>
            편하신 지역을 자유롭게 입력해주세요
            <select name="state">
                <option value="seoul">서울</option>
                <option value="gyeoggi">경기도</option>
                <option value="gwangju">광주</option>
                <option value="daegu">대구</option>
                <option value="daejeon">대전</option>
                <option value="busan">부산</option>
                <option value="ulsan">울산</option>
                <option value="incheon">인천</option>
            </select>
            <input name = "mylocal"><br>
            희망 수업일<br>
            나중에 입력 <br>

            저희가 어디로 연락드리면 될까요?
            <input name="mobile">
            <input type="submit" class="btn btn-default btn-primary" value="질문 올리기">
          {% for field in create_qform %}
          {{ field.errors|striptags }}
            {% if field.errors %}
                {{field.html_name}}
            {% endif %}
          {% endfor %}
        </div>
    </form>
</div>
    </div>
{%endblock%}
</body>
