{%extends 'base.html'%}
{%load static from staticfiles %}
<title></title>
<body>
{%block content%}
<style>
    .tmk-qitem-wrapper{
        width: 720px;
        margin:30px auto;
    }

    .tmk-qitem-wrapper aside {font-size:12px;color:#36D2D2;}
    .tmk-qitem-header{
        padding: 40px 10px;
        border-bottom: 1px solid rgba(0,0,0,0.22);
        margin-bottom:30px;
    }
    .tmk-qitem-header > span{
        font-size: 28px;
        font-weight: bold;
    }

   .tmk-qitem-hdr-contents .tmk-qitem-selecter-wrapper{
       display: inline-block;
       vertical-align: middle;
       min-width: 200px;
       height:50px;
   }

   .tmk-qitem-hdr-contents .selecter .selecter-selected:after {top:20px;}

   .tmk-qitem-hdr-contents .selecter .selecter-selected {font-size:18px;line-height:35px;padding-left:0px;}

    .tmk-qitem-search-wrapper input {font-size:18px;height:50px;}


    .tmk-qitem-hdr-contents{
        margin: 30px 0px;

    }
    .tmk-qitem-hdr-contents  span.tmk-ctns-text{
        font-size: 20px; margin-left:10px; margin-right:10px;
    }
    .tmk-qitem-hdr-contents > div{
        display: inline-block;
        vertical-align: middle;
    }

    .tmk-qitem-selecter-wrapper{
        display: inline-block;
        vertical-align: middle;
        min-width: 100px;

    }


    .tmk-contact-p-text {
        font-size: 20px;
        font-weight: 600;
    }

    .tmk-panel{
        display: inline-block;
        float: left;
        padding: 20px;
        text-align:left;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 73%;
        margin-bottom:10px;
    }


    .tmk-panel-header {
        font-size:18px;
        height: 50px;
        font-weight:600;
        line-height:28px;

    }

    .tmk-panel-header img {width:28px;height:28px;margin-right:5px;}

    .tmk-panel-contents{
        text-align:left;
        float: left;
        width:100%;
        display: inline-block;
        background-color: rgba(255,255,255,0.7);
    }
.tmk-panel-contents p {margin-top:15px;margin-bottom:15px;}

    .selecter .selecter-selected:first-child{
        color: #000;
        height:50px;
    }


    .wgt-stepper{
        height: 34px;
        width: 70px;
        display: inline-block;
        vertical-align: top;
    }
    .wgt-stepper .stepper-arrow {
        position: relative;
        right: -49px;
        top: -33px;
        display: block;
        width: 20px;
        height: 16px;
        cursor: pointer;
        text-indent: -9999px;
        background-color: #3bafda;
    }
    .wgt-stepper .up {
        background: url("{%static 'media/image/icon/icon-arrow-up-small.png'%}") no-repeat center;
        background-size: 12px;
        background-color:  #E6E9ED;
    }
    .wgt-stepper .down {
        background: url("{%static 'media/image/icon/icon-arrow-down-small.png'%}") no-repeat center;
        background-size: 12px;
        background-color:  #E6E9ED;
    }

    .tmk-qitem-footer {
        width: 700px;
    }


</style>

<form class="" method="POSt" action="{{request.path}}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="tmk-qitem-wrapper">

        <div class="row">
            <div class="tmk-qitem-header">
                <span> {{user.last_name}}{{user.first_name}}님께서 만들고 싶은 것은 무엇인가요?</span>
                <div class="tmk-qitem-hdr-contents">
                    <div><span class="tmk-ctns-text">나는</span></div>
                    <div class="tmk-qitem-selecter-wrapper">
                        <div class="selecter cover" tabindex="0">
                            <select name="category" class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                <option value="leather">가죽공예</option>
                                <option value="woodword">목공예</option>
                                <option value="flowerart">꽃꽂이</option>
                                <option value="dyeing">천연염색</option>
                                <option value="toreutics">금속공예</option>
                                <option value="painting">미술</option>
                                <option value="knot">매듭공예</option>
                                <option value="knitting">뜨개질</option>
                                <option value="etc">기타</option>
                            </select>
                            <span class="selecter-selected" onclick="btnClick(this)">카테고리 선택</span>
                            <div class="selecter-options" data-value="">
                                <span class="selecter-item selected" data-value="" onclick="selecting(this, '')">카테고리</span>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'leather')">가죽공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'woodword')">목공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'flowerart')">꽃꽂이</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'dyeing')">천연염색</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'toreutics')">금속공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'painting')">미술</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'knot')">매듭공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'knitting')">뜨개질</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'etc')">기타</div>
                            </div>
                        </div>
                    </div>


                    <div><span class="tmk-ctns-text">분야의</span></div>
                    <div class="tmk-qitem-search-wrapper">
                        <input type="text" name="title" class="form-control" placeholder="ex) 인테리어 소품">
                    </div>
                    <div><span class="tmk-ctns-text">만들고 싶어요</span></div>
                </div>
            </div>
            <div class="tmk-qitem-contents">
                <div class="tmk-qitem-learnWhat">
                    <div class="tmk-learnWhat-contents tmk-panel">
                        <div class="tmk-panel-header"><img src="{%static 'media/image/slice/headicon-1.png'%}">내용
                        </div>
                        <div class="tmk-panel-contents">

                            <p>어떤 수업을 찾고 계세요?</p>
                            <textarea class="form-control" type="text" COLS=70 ROWS=4 name="wantclass"></textarea>
                            <p>어떤 목적으로 배우시는 건가요?</p>
                            <textarea class="form-control" type="text" COLS=70 ROWS=4 name="wantgoal"></textarea>
                            <p>어떤 것들을 만들어 보고 싶으세요?</p>
                            <textarea class="form-control" type="text" COLS=70 ROWS=4 name="wantedu"></textarea>
                            <p>수업 인원은 몇명인가요?</p><br>
                            <div class="col-md-3" style="margin-left:-15px;">
                                <div class="wgt-stepper">
                                    <div>
                                        <input name="memnum" type="text" min="1" max="20" class="form-control stepper-input" value="1"/>
                                        <span class="stepper-arrow up" onclick="stepper(this);">up</span>
                                        <span class="stepper-arrow down" onclick="stepper(this);">down</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tmk-panel-footer"></div>
                    </div>
                    <aside class="tmk-aside-right">자세히 적어주시면 더 좋은 수업을 찾아 드려요.<br><br> 친구와 함께 수강하시면 더 저렴합니다.</aside>
                </div>
                <div class="tmk-qitem-region">
                    <div class="tmk-contents tmk-panel">
                        <div class="tmk-panel-header"><img src="{%static 'media/image/slice/headicon-3.png'%}">희망지역</div>
                        <div class="tmk-panel-contents">
                            <p>편하신 지역을 자유롭게 입력해주세요</p>
                            <div class="tmk-qitem-selecter-wrapper" style="float:left;width:100px;">
                                <div class="selecter cover" tabindex="0">
                                    <select name="state" class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                        <option value="seoul">서울</option>
                                        <option value="gyeoggi">경기도</option>
                                        <option value="gwangju">광주</option>
                                        <option value="daegu">대구</option>
                                        <option value="daejeon">대전</option>
                                        <option value="busan">부산</option>
                                        <option value="ulsan">울산</option>
                                        <option value="incheon">인천</option>
                                    </select>
                                    <span class="selecter-selected" style="width:100px;" onclick="btnClick(this)">지역 선택</span>
                                    <div class="selecter-options"  style="width:100px;" data-value="">
                                        <span class="selecter-item selected" data-value="" onclick="selecting(this, 'ca')">지역 선택</span>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'seoul')">서울</div>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'gyeoggi')">경기</div>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'gwangju')">광주</div>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'daegu')">대구</div>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'daejeon')">대전</div>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'busan')">부산</div>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'ulsan')">울산</div>
                                        <div class="selecter-item"
                                             data-value="id"
                                             onclick="selecting(this, 'incheon')">인천</div>
                                    </div>
                                </div>
                            </div>

                            <input class="form-control" style="width:380px;margin-left:5px;float:left;vertical-align:middle;" placeholder="ex) 홍대 근처, 성북구, 이태원 일대" name = "mylocal"><br>
                        </div>
                        <div class="tmk-panel-footer"></div>
                    </div>
                    <aside class="tmk-aside-right">편한 장소를 여러곳 입력해 주세요.</aside>
                </div>
                <div class="tmk-qitem-calenda">
                    <div class="tmk-phupload-contents tmk-panel">
                        <div class="tmk-panel-header"><img src="{%static 'media/image/slice/headicon-2.png'%}"> 수업희망일</div>
                        <div class="tmk-panel-contents">
                            <p>요일, 시간 입력(10자 이내)</p>
                            <input class="form-control" placeholder="ex)주말 저녁, 수/목 7:00시 이후" maxlength="10" type="text" name="weekday">

                        </div>
                        <div class="tmk-panel-footer"></div>
                    </div>
                    <aside class="tmk-aside-right">입력 하신 요일에 맞춰 작가들이 수업일정을 제안합니다.</aside>
                </div>
            </div>
            <div class="tmk-qitem-footer">
                <div class="tmk-panel" style="background:none;border-color:transparent;padding-left:0px;">
                    <div><span class="tmk-contact-p-text">저희가 어디로 연락드리면 될까요?</span></div><br>
                    <input class="form-control" style="width:70%;height:50px;vertical-align:middle;" placeholder="전화번호를 입력해주세요" name="mobile">
                    <input type="submit" class="btn btn-primary" style="width:25%;margin-left:10px;height:50px;"value="다했어요">
                    {% for field in create_qform %}
                    {{ field.errors|striptags }}
                    {% if field.errors %}
                    {{field.html_name}}
                    {% endif %}
                    {% endfor %}

                    {%comment%}
                    <div id="form-error" class="hidden">
                        <div class="alert alert-warning">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <table>
                                {% for field in create_qform %}
                                {{ field.errors|striptags }}<br>
                                {% if fieled.errors %}
                                {{field.html_name}}
                                {%endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {%endcomment%}
                </div>


            </div>
        </div>
    </div>
</form>
{%endblock%}
