{%extends 'base.html'%}
{%load static from staticfiles %}
<title>{%block title%}{{qskill_post.title}}{%endblock%}</title>

<body>

{%block content%}

<style>

    .tmk-qskill-detail-wrapper{
        max-width: 900px;
    }
    .tmk-qskill-header{
        padding: 40px 10px;
        border-bottom: 1px solid rgba(0,0,0,0.22);
        margin:auto auto 30px;
        width: 900px;
    }
    .tmk-qskill-header > span{
        font-size: 28px;
        font-weight: bold;
    }
    .tmk-qskill-aside-right  {text-align:left;width:27%;padding-left:30px;float:left;}
    .tmk-qskill-aside-right div {float:left; width:100%;}

    .tmk-qskill-img {width:73%;float:left;border-radius:8px;}
    /*.tmk-qskill-img img {width:100%}*/

    .tmk-panel {
        float: left;
        width: 73%;
        text-align: center;
        padding: 30px auto;

        display: inline-block;

        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;

    }
    .tmk-panel div {margin:30px auto;}

    .tmk-qskill-q-top {width:30px;height:5px;background:#e85460;}
    .tmk-qskill-q {line-height:50px;width:400px;}
    .tmk-qskill-q .h4 {font-family:NanumMyeongjo!important;}
    .aside-username {line-height:50px;width:100px;}



</style>


<div class="tmk-sub-body">
    <div class="tmk-qskill-wrapper">
        <!--<div class="row">-->
        <div class="tmk-qskill-header">
            <span>{{qskill_post.title}}를 배우고 싶어요</span>
        </div>
        <!--</div>-->



        <div class="tmk-panel">
            <div class="tmk-panel-header">문의 내용</div>
            <hr>
            <div class="tmk-qskill-q">
                <div class="tmk-qskill-q-top"></div>
                <div class="h4">어떤 수업을 찾고 계세요?</div>
            </div>
            {{qskill_post.wantclass}}
            <div class="tmk-qskill-q">
                <div class="tmk-qskill-q-top"></div>
                <div class="h4">어떤 목적으로 찾고 계신건가요?
                </div>
            </div>
            {{qskill_post.memnum}}명입니다

            <div class="tmk-qskill-q">
                <div class="tmk-qskill-q-top"></div>
                <div class="h4">무엇을 배우고 싶으신가요?
                </div>
            </div>
            <div>{{qskill_post.wantedu}}</div>


            <div class="tmk-qskill-q">
                <div class="tmk-qskill-q-top"></div>
                <div class="h4">수업 인원은 몇 명인가요?
                </div>
            </div>
            <div>{{qskill_post.memnum}}명입니다 </div>


            <div class="tmk-qskill-q">
                <div class="tmk-qskill-q-top"></div>
                <div class="h4">수업 희망 지역
                </div>
            </div>
            <div>{{qskill_post.mylocal}}</div>

        </div>
        <aside class="tmk-qskill-aside-right">
            <div class="aside-category">배우기 문의</div>
            <div class="h3">{{qskill_post.category.first.category}}</div>

            <a class="profile-photo-mini" href="http://{{HTTP_HOST}}/v2/user/profile/{{qskill_post.djgouser.id}}"
               style="background-image:url({{MEDIA_URL}}{{qskill_post.djgouser.userprofile_set.first.propic}});
               background-size:cover;">
                <!--<img src="{{MEDIA_URL}}{{qskill_post.djgouser.userprofile_set.first.propic}}">-->
            </a>

            <a class="aside-username" href="http://{{HTTP_HOST}}/v2/user/profile/{{qskill_post.djgouser.id}}">
                by   {{qskill_post.djgouser.last_name}} {{qskill_post.djgouser.first_name}}</a><br>
            <div style="width:100%;">자기 소개 : {{user.userprofile_set.first.inter_oneline}}</div>
        </aside>

        <div class="solution-box" style="width:73%;float:left;">
        <span class="picks-cards-hdr">
            <div class="h4" style="text-align:left;"><img src="{%static 'media/image/slice/headicon-7.png'%}"> 만들어진 클래스</div>
            </span>
            {%if qitem_post.solutionbox.count == 0 %}
            <div class="no-solutions" style="width:100%;">
                <img src="{%static 'media/image/slice/metaicon-5.png'%}">
                <div class="h4">으악! 죄송합니다 <br> 아직 만들어진 클래스가 없네요...</div>
                <div>빠른 시간내에 클래스가 만들어질 수 있도록 노력하겠습니다</div>
            </div>

            {%else%}
            <div class="picks-cards rows">
                <ul>
                    {% for solution in qskill_post.solutionbox.all %}



                    <li class="solution-cards">

                        <div class="solution-credit">

                                <a class="credit-title h4" href="http://{{HTTP_HOST}}/v2/question/skill/{{que.qskillpost.id}}">
                                    {{solution.title}}</a>
                        </div>
                        <div class="solution-host">
                            <a class="profile-photo-mini" href="http://{{HTTP_HOST}}/v2/user/profile/{{qskill_post.djgouser.id}}"
                               style="background-image:url({{MEDIA_URL}}{{qskill_post.djgouser.userprofile_set.first.propic}});"></a>

                            <a class="aside-username" href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
                                {{solution.djgouser.last_name}} {{solution.djgouser.first_name}}</a>

                        </div>
                        <div class="solution-contents">

                            <div class="cards-date">클래스 정보 <br>
                                <img src="{%static 'media/icon/map-icon.png'%}"> {{solution.state.first.state}}/{{solution.mylocal}}<br>
                                <img src="{%static 'media/icon/calendar-icon.png'%}"> {{solution.repeat}}회/총 {% widthratio solution.repeat 1 solution.perhour%}시간<br>
                                <img src="{%static 'media/icon/time-icon.png'%}"> {{solution.weekday_time}}<br>
                            </div>
                        </div>
                        <div class="solution-payment">
                            수강료<br>
                            <div>재료비 포함<span class="pull-right">{{solution.price}}원</span></div>

                        </div>
                        <button class="btn btn-primary btn-block">나도 문의하기 </button>
                    </li>



                    {% endfor %}
                </ul>
            </div>
            {%endif%}
        </div>
    </div>
</div>

{%comment%}
------만들기 문의---------<br>
카테고리 : {{qskill_post.category.first.category}}<br>
이름 :
<a href="http://{{HTTP_HOST}}/v2/user/profile/{{qskill_post.djgouser.id}}">
    {{qskill_post.djgouser.last_name}}{{qskill_post.djgouser.first_name}}</a><br>
프로필 사진 :
<a href="http://{{HTTP_HOST}}/v2/user/profile/{{qskill_post.djgouser.id}}">
    <img src="{{MEDIA_URL}}{{qskill_post.djgouser.userprofile_set.first.propic}}"></a><br>

자기 소개 : <br>



------수업 정보 --------<br>
어떤 수업을 찾고 계세요?<br>
{{qskill_post.wantclass}}<br><br>

어떤 수업을 찾고 계세요?<br>
{{qskill_post.wantgoal}}<br><br>

무엇을 배우고 싶으신가요?<br>
{{qskill_post.wantedu}}<br><br>
수업인원은 몇명인가요?<br>
{{qskill_post.memnum}}명입니다 <br><br>
수업 희망 지역<br>
{{qskill_post.mylocal}}<br>
--------------------수업 개설 사례----------------<br>
{% for solution in qskill_post.solustionbox.all %}
답변 타이틀 :{{solution.title}}<br>
프로필 사진 :
<a href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
    <img src="{{MEDIA_URL}}{{solution.djgouser.userprofile_set.first.propic}}"></a><br>
이름 :
<a href="http://{{HTTP_HOST}}/v2/user/profile/{{solution.djgouser.id}}">
    {{solution.djgouser.last_name}}{{solution.djgouser.first_name}}</a><br>
클래스 정보 <br>
지역 {{solution.state.first.state}}/{{solution.mylocal}}<br>
수업횟수 {{solution.repeat}}회/총 {% widthratio solution.repeat 1 solution.perhour%}시간<br>
수업요일 {{solution.weekday_time}}<br>
가격 {{solution.price}}원<br>
=================================<br>
{% endfor %}
{%endcomment%}

{%endblock%}
</body>
