{%extends 'base.html'%}
{%load static from staticfiles%}

<title>{%block title%}{%endblock%}</title>

<body>
{%block content%}
<style>
    .question-bridge-wrapper {
        max-width:720px;
        min-height: 500px;
        padding-top:60px;
        margin:auto;
    }

.question-bridge-wrapper .h3:first-child {font-family:NanumMyeongjo!important;font-weight:normal;}
    .question-bridge-wrapper div {
        padding: 10px 0px;
    }

    .bridge-card {
        color: #666;
        float:left;
        margin: 40px;
        width: 250px;
        height: 340px;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: -3px 6px 30px 0 #666;
        text-align:center;
    }

    .bridge-card .h3 {line-height:32px;color:#000;}
    .bridge-card small {font-size:14px;}
    .bridge-card-qitem {
        background-image: url({%static 'media/image/slice/metaicon-9.png' %});
        background-position: center;
        background-repeat: no-repeat;
        height: 50%;
        margin-top:40px;
    }
    .bridge-card-qskill {
        background-image: url({%static 'media/image/slice/metaicon-10.png' %});
        background-position: center;
        background-repeat: no-repeat;
        height: 50%;
        margin-top:40px;
    }

    .bridge-card-h4 {float:left;height:340px;line-height:340px;margin:40px 10px;}

    .category-icon img {margin-top:30px;}
</style>
<div class="tmk-sub-body">
<div class="question-bridge-wrapper">
    <div class="h3">클래스 의뢰하기</div>
    <div class="h2" style="font-size:36px;"> 안녕하세요! 의뢰해주실 내용은 무엇인가요?</div>
    <div class="h4" style="font-weight:normal;line-height:24px;">아래 두개의 카드 중 자신에게 맞는 카드를 선택해주세요.</div>
    <div class="card">
        <a href="http://{{HTTP_HOST}}/v2/question/item/create" class="bridge-card">
        <div class="bridge-card-qitem">
            <!--<img src="{%static 'media/image/slice/metaicon-7.png'%}">-->
        </div>
            <div class="h3"><small>만들고 싶은 제품이 있을때</small><br>사진으로 의뢰하기</div>
        </a>
<div class="bridge-card-h4 h4">또는</div>
        <a href="http://{{HTTP_HOST}}/v2/question/skill/create" class="bridge-card">
            <div class="bridge-card-qskill">
                <!--<img src="{%static 'media/image/slice/metaicon-8.png'%}">-->
            </div>
            <div class="h3"><small>배워보고 싶은 기술이 있을때</small><br>글로 의뢰하기</div>
        </a>
        <!--<img src="{%static 'media/image/slice/metaicon-1.png' %}"></div>-->

        <div class="category-icon">
           <img src="{%static 'media/image/categoryfull.png'%}">
        </div>
</div>
</div>

</div>
{%endblock%}
</body>