{%extends 'base.html'%}
{%load static from staticfiles%}
{% load v2d1_board_tags %}
<title>{%block title%}{{profile_user.last_name}}{{profile_user.first_name}}님의 프로필{%endblock%}</title>
{%block style%}
<style>
    body {background:#fff!important;}
    .profile-banner {min-height:320px;margin-bottom:50px;padding-top:50px;font-size:18px;background-color:#eee;}
    .profile-banner .btn-primary img {vertical-align:text-bottom;height:20px;}
    .nav-tabs {background:#fff;border:none;border-bottom:2px solid #eee;}
    .nav-tabs a {font-size:20px;font-weight:bold;}
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
    {border:none;border-bottom:4px solid #FF565A;color:#FF565A;}
    .nav-tabs li{border:none;}
    .nav-tabs>li>a {border:none;color:#CACCCD;}
    .nav-tabs a {border:none;}

    .img-grid img {max-height:100%;}
    .tmk-card-img:hover {z-index:-3;}

    .onoff-class {line-height:230px;float:none;border-radius:4px;position:absolute;z-index:10;top:0;left:0;right:0;bottom:0;opacity:0;font-size:16px;}
    .onoff-class a {color:#fff;}
    .onoff-class:hover {z-index:3;background-color:#000;color:#fff;opacity:0.8;}


    .modify-demand {line-height:300px;float:none;border-radius:4px;position:absolute;z-index:10;top:0;left:0;right:0;bottom:0;opacity:0;font-size:16px;}
    .modify-demand a {color:#fff;}
    .modify-demand:hover {z-index:3;background-color:#000;color:#fff;opacity:0.8;}

    .tmk-demand-info {height:220px;padding:10px;overflow:hidden;margin-bottom:15px;}
    .tmk-demand-info div {margin:25px auto;}

    .tmk-infobox-profile{float:left;width:100%;padding:10px;}
    .tmk-infobox-profile .img-grid {margin:auto;width:100px;overflow:hidden;vertical-align:middle;}

    .card-link {z-index:1!important;}
    .card-link img {z-index:0!important;}

    .tmk-infobox-profile .infobox-img-wrapper {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        position:relative;
    }
    .tmk-infobox-profile .infobox-img-wrapper img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .btn-group a {font-size:24px;height:42px;padding:25px;margin:auto 15px;font-weight:bold;}
</style>
{%endblock%}
{%block content%}

<div class="col-lg-12 profile-banner">
    <div class="container">
        <div class="tmk-infobox-profile">
            <div class="img-grid">
                <div class="infobox-img-wrapper">
            <img src="{{MEDIA_URL}}{{profile_user.t2profile_set.first.pro_pic}}">
        </div>
                </div>
            </div>
        <div class="tmk-h2" style="margin:0 auto;">{{profile_user.last_name}}{{profile_user.first_name}}</div>
        <div style="margin: 12px auto; ">{{profile_user.t2profile_set.first.intro_line}}</div>
        <div class="btn-group pull-left">
            <a style="color:#CACCCD;" href="http://{{HTTP_HOST}}/v2.1/user/profile/{{profile_user.id}}/">소개</a>
            <a style="color:#FF565A;border-bottom:4px solid" href="http://{{HTTP_HOST}}/v2.1/user/profile/{{profile_user.id}}/class_check/">클래스</a>
        </div>
        <div class="pull-right hidden-xs">
            {% if request.user.is_authenticated%}
            <a href="http://{{HTTP_HOST}}/v2.1/user/profile/{{profile_user.id}}/edit" class="btn btn-primary"><img src="{%static 'media/image/slice/icon-setting.png'%}"> 프로필 수정</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="tmk-main-body col-lg-12">

    <div class="container" style="padding:0;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#class" aria-controls="class" role="tab" data-toggle="tab">개설한 클래스</a>
            </li>
            <li role="presentation">
                <a href="#demand" aria-controls="demand" role="tab" data-toggle="tab">제안한 클래스</a>
            </li>
        </ul>
        </div>
    <div class="container" style="background:#F9FBFB;padding-bottom:50px;">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="class">
                <div class="card-list" id="card-list">
                    <div id="card-list-wrapper">
                        <ul>
                            <!--<div class="tmk-h3">개설한 클래스</div>-->
                            {% for class in host_cl_cards %}

                            <li class="tmk-class-card col-md-4">
                                <span class="onoff-class">
                                    <a href="{% url 'onoff_class_v2d1' class.user.id class.classtype class.id  %}">
                                        {%if class.is_open%}
                                    수업 내리기
                                    {% else %}
                                    수업 열기
                                    {% endif %}
                                        </a><br>
                                    {% if class.classtype == "tutclass" %}
                                        <a href="http://{{HTTP_HOST}}/v2.1/class/modify/tut/{{class.tut_post.id}}">수업 수정</a>
                                    {% else %}
                                        <a href="http://{{HTTP_HOST}}/v2.1/class/modify/teach/{{class.teach_post.id}}">수업 수정</a>
                                    {% endif %}
                                </span>
                                <a class="tmk-card-img" href="http://{{HTTP_HOST}}/v2.1/class/{{class.id}}">
                                    <div class="tmk-class-type-label">
                                        <span class="label tmk-label">{{class.classtype}}</span>
                                    </div>
                                    <div class="card-link">
                                        <img id="tmk-card-img" src="{{MEDIA_URL}}{{class.t2classpic_set.first.image}}">
                                    </div>
                                </a>

                                <a class="tmk-card-img-profile">
                                    <div class="card-link">
                                        <img id="tmk-img-pro" src="{{MEDIA_URL}}{{class.user.t2profile_set.first.pro_pic}}">
                                        {%comment%}{{class.user}}{%endcomment%}
                                    </div>
                                </a>

                                <div class="tmk-card-info">
                                    <div class="h4">{{class.title}}</div>
                                    <div>{{class.intro_line}}</div>
                                </div>
                                <div class="dp-label">
                                    <div class="dp-label-left">{{class.repeat}}회 / 수업당 {% widthratio class.repeat 1 class.perhour%}{%comment%}{{class.perhour}}{%endcomment%}시간</div>
                                    <div class="dp-label-right">￦{{class.price}}</div>

                                </div>


                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="demand">
                <div class="card-list" id="card-list">
                    <div id="card-list-wrapper">
                        <ul>
                            {% for class in demand_classes %}
                            <li class="tmk-class-card col-md-4" style="height:380px;">

                                 <span class="modify-demand">
                                    <a href="http://{{HTTP_HOST}}/v2.1/demand/modify/{{class.id}}"> 수정하기
                                    </a>
                                </span>

                                <!--<a href="http://{{HTTP_HOST}}/v2.1/demand/modify/{{class.id}}/" style="color: #565a5C;">-->
                                    <div class="tmk-demand-info">
                                        <div style="color:#82888A">{{class.category}}</div>
                                        <div class="h4">{{class.title}}</div>
                                        <div class="info-describe" style="white-space: normal;word-break: break-all;">{{class.descript}}</div>
                                    </div>

                                <div class="" style="text-align:left;padding-left:20px;">
                                    <div style="margin:10px auto;height:40px;overflow:hidden;color:#84CDC2;">{{class.demand_post.goal|goaltag2han}}</div>
                                </div>

                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock%}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWLKiQU9kiiXSpS7A5RAeKenzpQlI84Ds&signed_in=true&language=ko&libraries=places&callback=initMap" async defer></script>
{%block script%}
<script>
</script>
{%endblock%}