{% extends 'base.html'%}
{% load static from staticfiles %}

<title>{%block title%}Tomakit-수업 개설{%endblock%}</title>
{%block style%}
{%endblock%}
<body>
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="tmk-page-header col-md-10 col-md-offset-1">
        <div class="tmk-h2 tmk-title">Tomakit의 선생님으로 등록 되셨습니다..</div>
        <div class="tmk-h4"><br>아래의 버튼 혹은 상단의 클래스 개설 눌러 손쉽게 클래스 만들어 보세요!<br>
        </div>
    <a href="{{HTTP_HOST}}/v2.1/class/create/begin"><button class="btn btn-primary">확인</button></a>
    </div>
</div>
{%endblock%}
</body>
