# Logs and databases #
*.sqlite
*.sqlite3

# Directory #
/uploads/*.*

# Migrations#
/../migrations/*.*
app_class/migrations/0001_initial.py
app_class/migrations/0001_initial.pyc
app_class/migrations/0002_auto_20150525_1421.py
app_class/migrations/0002_auto_20150525_1421.pyc
app_class/migrations/0003_classpost_video_url.py
app_class/migrations/0003_classpost_video_url.pyc
app_class/migrations/0004_review.py
app_class/migrations/0004_review.pyc
uploads/classpic/21/89c96b19-02d4-11e5-b786-7831c1d1e5f8.jpg
uploads/classpic/21/89ee19d7-02d4-11e5-b16c-7831c1d1e5f8.jpg
