{%load static from staticfiles%}

<style>
#search {position:relative;}
  #search #id_address {width:80%;}
  #search .btn {vertical-align: top; margin-left:0px;background:url({%static 'media/icon/magnifier13.png'%}) cornsilk no-repeat center center;min-width:40px;height:35px;}
  #search .btn:hover {opacity:0.5;}
</style>
<!--<input type="text" id="sample5_address" placeholder="주소">-->
<div id="search">
  <input id="id_address" name = "address" placeholder="강좌가 열리는 곳이 어디인가요?" readonly class="col-md-8 form-control">
  <input type="button" class="btn btn-default" onclick="sample5_execDaumPostcode()">
</div>
<div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

<script type="text/javascript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=0f2cdbb0a576db786aebe9405731c9d4&libraries=services">
</script>
<script type="text/javascript" src="{%static 'media/js/postcode.js' %}"></script>

