{%load static from staticfiles%}

<style>

    /*.facebook-login {line-height:40px;}*/

</style>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="signup">
    <div class="pop">
      <div id="register-modal">

          <form method="POST" action="{% url 'signup_v2d1' %}" enctype="multipart/form-data" class="form-signin">
              <input type="hidden" name="next" value="{{next}}"/>
              {% csrf_token%}

              <div class="form-signin-heading h2">회원가입</div>
              <div class="about">
                  <p class="text-muted">
                      모두를 위한 수공예 놀이터 <b>토마킷</b>
                      <!--에서는 다양한 공예 분야의 <b> 전문 공방/작업실</b>, <b>예술인</b>, <b>공예가</b>들의-->
                      <!--<b>강좌 정보</b>를 한 눈에 모아서 볼 수 있는 서비스를 제공하고 있습니다. -->
                      <!--토마킷 -->
                      가입은 완전히 <b>무료</b>입니다! 간편하게 가입하고 꼭 필요한 수업을 신청해보세요.
                  </p>
              </div>


              <a href="http://{{HTTP_HOST}}/login/facebook?next={{next}}"><div class="facebook-login"><img src="{%static 'media/image/slice/buttonicon-4.png'%}"> 페이스북으로 회원가입</div></a>
              <div class="or h4" style="text-align:center;">또는</div>

              <label for="username" class="sr-only">이메일 주소</label>
              <input id="username" name="username" type="email"
                     class="form-control" placeholder="이메일" required autofocus/>
              <!--            <p class="ok">&nbsp;</p>-->
              <label for="lastname" class="sr-only">성</label>
              <input id="lastname" name="last_name" type="text"
                     class="form-control" required placeholder="성" />
              <label for="firstname" class="sr-only">이름</label>
              <input id="firstname" name="first_name" type="text"
                     class="form-control" required placeholder="이름" />

              <label for="id_password" class="sr-only">Password</label>
              <input id="id_password" name="password" type="password"
                     class="form-control" placeholder="비밀번호" required />
              <label for="id_password_confirm" class="sr-only">Confirm Password</label>
              <input id="id_password_confirm" name="password_confirm" type="password"
                     class="form-control" required placeholder="비밀번호 확인"/>

              <!--<p class="change_link">이미 회원이신가요?-->
                  <!--<a href="/v2/user/login/?next=/" class="to_register">로그인하기</a>-->
              <!--</p>-->
              {% if accountform.errors %}
              <div class="form-error">
                  <div class="alert alert-warning">
                      <a href="#" class="close" data-dismiss="alert">&times;</a>
                      <p>정보를 정확히 입력해주세요:</p>
                      <table>
                          {% for field in accountform %}
                          {{ field.errors|striptags }}
                          {% endfor %}
                      </table>
                  </div>
              </div>
              {% endif %}
              <input type="submit" class="btn btn-primary btn-block" value="회원가입">
          </form>
      </div> <!--/register-->
      <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script type="text/javascript" src="{% static 'media/js/userform-validation.js' %}"></script>
  
    </div>
<!--footer position here-->
  </div>

    
  
  <div role="tabpanel" class="tab-pane" id="login">
    <div class="pop">
    <div class="animate">
        <form method="POST" action="{% url 'login_v2d1' %}" class="form-signin" autocomplete="off">
            <input type="hidden" name="next" value="{{next}}"/>
            {% csrf_token %}
            <div class="form-signin-heading h2">로그인</div>



            <a href="http://{{HTTP_HOST}}/login/facebook"><div class="facebook-login"><img src="{%static 'media/image/slice/buttonicon-4.png'%}"> 페이스북으로 로그인</div></a>

            <div class="or h4" style="text-align:center;">또는</div>

            <!--<label for="username" class="sr-only">이메일 주소</label>-->
            <input id="username" name="username" type="text"
                   class="form-control" placeholder="이메일" value="{{is_authenticated}}" required autofocus/>

            <!--<label for="password" class="sr-only">Password</label>-->
            <input id="password" type="password" name="password" placeholder="비밀번호" class="form-control" required
                   autocomplete="off" value="{{valid_password}}">

            <a href="http://{{HTTP_HOST}}/v2.1/user/pw_reset" class="fg-pwd">
                <p style="margin:10px auto;padding-left:10px;">비밀번호가 기억나지 않아요</p></a>

            {% if login_form.errors %}
            <div class="form-error">
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <p>정보를 정확히 입력해주세요:
                    <table>
                        {% for field in login_form %}
                        {{ field.errors|striptags }}
                        {% endfor %}</p>
                    </table>
                </div>
            </div>
            {% endif %}
            <!--
                        <p class="kepplogin">
                          <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
                          <label for="loginkeeping">Keep me logged in</label>
                        </p>
            -->
            <div class="signin-btn-p">
                <input class="btn btn-primary btn-block" type="submit" value="로그인">
            </div>
        </form>


    </div>
    </div>
  </div>
  
  <div class="modal-footer">
<!--      <a href="{% url 'login_url'%}?next={{request.path}}" class="#to_register">로그인하기!</a>-->
      <ul class="nav nav-tabs" role="tablist" id="loginmodal">
        <li role="presentation" class="active">
          <span class="change-link">처음이신가요?</span>
          <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">회원가입</a></li>
        <li role="presentation">    
          <span class="change-link">이미 가입하셨나요? </span>
          <a href="#login"  aria-controls="login" role="tab" data-toggle="tab">로그인 하기</a>
        </li>
      </ul>
    
  </div>
</div>
