{% extends 'base.html'%}
{% load static from staticfiles %}

<title>{%block title%}Tomakit-수업 요청{%endblock%}</title>
{%block style%}

<link rel="stylesheet" type="text/css" href="{% static 'media/css/nouislider.min.css'%}">
<style>
    .tmk-qitem-wrapper{
        width: 720px;
        margin:30px auto;
    }

    .tmk-qitem-wrapper aside {font-size:12px;color:#36D2D2;}
    .tmk-qitem-header{
        padding: 40px 10px;
        border-bottom: 1px solid rgba(0,0,0,0.22);
        margin-bottom:30px;
    }
    .tmk-qitem-header > span{
        font-size: 28px;
        font-weight: bold;
    }

    .tmk-qitem-selecter-wrapper{
        display: inline-block;
        vertical-align: middle;
        min-width: 200px!important;
        height:50px;
    }

    .selecter .selecter-selected:after {
        top: 20px !important;
    }

    .selecter-selected {
        height: 42px !important;
    }
    .tmk-qitem-hdr-contents .selecter .selecter-selected {
        font-size: 16px;
        line-height: 30px;
        padding-left: 0px;
    }

    .tmk-qitem-search-wrapper input {font-size:18px;height:50px;}

    .tmk-qitem-hdr-contents{
        margin: 30px 0px;
    }
    .tmk-qitem-hdr-contents  span.tmk-ctns-text{
        font-size: 20px; margin-right: 10px;margin-left:10px;
    }
    .tmk-qitem-hdr-contents > div{
        display: inline-block;
        vertical-align: middle;
    }

    /*.tmk-qitem-selecter-wrapper{*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*min-width:100px;*/
    /*}*/

    .tmk-contact-p-text {
        font-size: 20px;
        font-weight: 600;
    }

    .tmk-aside-right{
        text-align:left;
        /*width: 25%;*/
        float: left;
        display: inline-block;
        min-height: 100px;
        padding:10px;
        margin-left: 10px;
        background-color: rgba(255,255,255,0.7);
    }

    /*.selecter .selecter-selected{*/
    /*color: #000;*/
    /*}*/

    .filedrag {
        border: 2px dashed #AAA;
        border-radius: 7px;
        cursor: default;
        padding: 15px;
        margin-bottom: 20px;
    }

    .filedrag .drag-label {
        font-weight: bold;
        text-align: left;;
        display: block;
        color: #AAA;
        margin-top: 10px;
        margin-bottom: -10px;
        /*width:70%;*/
    }

    .filedrag.hover {
        border-color: #F00;
        border-style: solid;
        box-shadow: inset 0 3px 4px #888;
    }

    .filedrag.hover .drag-label {
        color: #F00;
    }

    .custom-file-input-wrapper {
        position: relative;
    }

    .custom-file-input-wrapper .custom-file-input-button {
        position: relative;
        overflow: hidden;
    }

    .custom-file-input-wrapper .custom-file-input-button * {
        cursor: pointer;
    }

    .custom-file-input-wrapper .custom-file-input-button input[type="file"] {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        opacity: 0;
    }


    .tmk-imgs img{
        width: 70px;
        height: 70px;
    }
    .tmk-imgs input{
        display: none;
        border:none;
    }
    .tmk-imgs div{
        position: relative;
        display: inline-block;
        /*background:url("http://www.jpnn.com/blog/assets/img/news/thumb/no_image.jpg");*/
        background-size:cover;
    }



    .tmk-imgs div span{
        background-image: url("/static/media/image/icon/icon-close.png");
        position: absolute;
        top: 26px;
        width: 23px;
        right: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;
        background-repeat: no-repeat;
        visibility: hidden;
    }

    .tmk-imgs div:hover span{
        visibility: visible;
    }

    .tmk-qitem-footer {
        width: 700px;
    }


    .wgt-stepper{
        height: 34px;
        width: 70px;
        display: inline-block;
        vertical-align: top;
    }
    .wgt-stepper .stepper-arrow {
        position: relative;
        right: -49px;
        top: -33px;
        display: block;
        width: 20px;
        height: 16px;
        cursor: pointer;
        text-indent: -9999px;
        background-color: #3bafda;
    }
    .wgt-stepper .up {
        background: url("{%static 'media/image/icon/icon-arrow-up-small.png'%}") no-repeat center;
        background-size: 12px;
        background-color:  #E6E9ED;
    }
    .wgt-stepper .down {
        background: url("{%static 'media/image/icon/icon-arrow-down-small.png'%}") no-repeat center;
        background-size: 12px;
        background-color:  #E6E9ED;
    }

    .noUi-handle-lower {
        background-image: url("{%static 'media/image/slice/triangle-left.png'%}");
        background-repeat: no-repeat;
        background-position: center;
    }
    .noUi-handle-upper {
        background-image: url("{%static 'media/image/slice/triangle-right.png'%}");
        background-repeat: no-repeat;
        background-position: center;
    }
    @media screen and (min-width:613px) and (max-width:991px) {
        .col-md-2 {display:block;}
        .col-md-7 {display:inline-block;min-width:340px;margin-left:-15px;}
    }
    .tmk-h3 {text-align:left;}
    #tmk-form .btn-primary {margin-right:15px;}
    .tmk-page-header{padding-bottom:15px;}
    label span {color:red}

    .filePhoto{
        display: none;
    }
    input.filePhoto{
        display: none;
    }
</style>
{%endblock%}

<body>
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="container">
        <div class="tmk-page-header">
            <div class="tmk-h2 tmk-title">원하는 클래스를 개설해드립니다</div>
            <div class="tmk-h4">제안서를 작성해주시면<br>가까운 장소, 편한 시간의 수업을 개설하여 드립니다</div>
            <div class="tmk-page-pick"></div>
        </div>
        <div style="padding-left:15px;" class="tmk-h3">클래스 제안하기</div>
        <div class="col-md-8 well" id="tmk-form" style="text-align:left;float:left;">
            <!--<div class="tmk-h3">클래스 제안하기</div>-->
            <form method="POST" action="{% url 'demand_modify_v2d1' demand_num %}" enctype="multipart/form-data">
                {%csrf_token%}


                <div class="tmk-panel">
                    <label class="col-md-2">제목 <span>*</span></label>
                    <div class="tmk-qitem-selecter-wrapper col-md-3">
                        <div class="selecter cover" tabindex="0">
                            <select id="category" name="category" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                <option value="leather"
                                        {% if demand_data.category == 'cate_1' %}selected{% endif %}>공예</option>
                                <option value="calligraphy"
                                        {% if demand_data.category == 'cate_2'%}selected{% endif %}>아트</option>
                                <option value="flower"
                                        {% if demand_data.category == 'cate_3'%}selected{% endif %}>푸드</option>
                                <option value="dyeing"
                                        {% if demand_data.category == 'cate_4'%}selected{% endif %}>기타</option>
                            </select>
                            <span class="selecter-selected category-selected" onclick="btnClick(this)">카테고리 선택</span>
                            <div class="selecter-options" data-value="">
                                <span class="selecter-item selected category-selected" data-value="" onclick="selecting(this, '')">카테고리</span>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_1')">공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_2')">아트</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_3')">푸드</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_4')">기타</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <input type="text" class="form-control" name="title" value="{{demand_data.title}}"
                               placeholder="ex) 캘라그라피로 엽서를 만들고 싶어요"  {% if tutform.title.errors%}autofocus{%endif%}>
                    </div>

                    <!--<div class="alert alert-warning alert-dismissable">-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
                    <div class="col-md-10 pull-right tmk-error">{{demandform.title.errors|striptags}} {{demandform.title.errors|striptags}}</div>
                    <!--</div>-->

                </div>


                <div class="tmk-panel">
                    <label class="col-md-2">내용 <span>*</span></label>
                    <div  class="col-md-10">
                    <textarea name="descript" class="form-control" rows="4" cols="50"
                              placeholder="ex) 가죽공방을 창업하고 싶어서요. 기초부터 차근 차근가르쳐주는 공방 없을까요?"
                            {% if tutform.descript.errors%}autofocus{%endif%}>{{demand_data.descript}}</textarea>
                    </div>
                    <div class="col-md-10 pull-right tmk-error">{{demandform.descript.errors|striptags}}<br>
                    </div>
                </div>



                <div class="tmk-panel">
                    <label class="col-md-2">수강목표 <span>*</span></label>
                    <div class="col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <!--<label class="icheckbox_flat checked">-->
                            <input type="checkbox" class="icheckbox_flat checked" autocomplete="off" checked name="goal" value="easy&chip"
                                   {% for goal in demand_data.goal %} {% if goal == "easy&chip" %}
                            checked {% endif %}{% endfor %}>&nbsp;부담없고 재미있는 수업&nbsp;</input>
                            <!--</label>-->
                            <!--<label class="btn btn-normal">-->
                            <input type="checkbox" class="icheckbox_flat" autocomplete="off" name="goal" value="quality"
                                   {% for goal in demand_data.goal %} {% if goal == "quality" %}
                            checked {% endif %}{% endfor %}>&nbsp;가격보다는 수업 퀄리티&nbsp;
                            <!--</label>-->
                            <!--<label class="btn btn-danger">-->
                            <input type="checkbox" class="icheckbox_flat checked" autocomplete="off" name="goal" value="professional"
                                   {% for goal in demand_data.goal %} {% if goal == "professional" %}
                            checked {% endif %}{% endfor %}>&nbsp;창업을 위한 전문 수업&nbsp;
                            <!--</label>-->
                        </div>
                        <div class="col-md-10 pull-right">전화번호는 공개되지 않습니다.<br></div>
                        <div class="col-md-10 pull-right tmk-error">{{demandform.goal.errors|striptags}}<br>
                        </div>
                    </div>
                </div>

                <div class="tmk-panel">
                    <label class="col-md-2">희망일정 <span>*</span></label>
                    <div class="col-md-10">
                        <input type="text" name="weekday" class="form-control" value="{{demand_data.weekday}}"
                               placeholder="ex) 주말 아무때나, 평일7시이후" {% if tutform.weekday.errors%}autofocus{%endif%}><br>
                    </div>
                    <div class="col-md-10 pull-right tmk-error">
                        {{demandform.weekday.errors|striptags}}<br>
                    </div>
                </div>

                <div class="tmk-panel">

                    <label class="col-md-2">희망지역 <span>*</span></label>
                    <div class="tmk-qitem-selecter-wrapper col-md-3">
                        <div class="selecter cover" tabindex="0">
                            <select id="state" name="state" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                <option value="zone_1"
                                        {% if demand_data.state == 'zone_1'%}selected{% endif %}>서울</option>
                                <option value="zone_2"
                                        {% if demand_data.state == 'zone_2'%}selected{% endif %}>경기.인천</option>
                                <option value="zone_3"
                                        {% if demand_data.state == 'zone_3'%}selected{% endif %}>부산</option>
                                <option value="zone_4"
                                        {% if demand_data.state == 'zone_4'%}selected{% endif %}>다른 지역</option>
                            </select>
                            <span class="selecter-selected state-selected" onclick="btnClick(this)">지역 선택</span>
                            <div class="selecter-options" data-value="">
                                <span class="selecter-item selected state-selected" data-value="" onclick="selecting(this, '')">지역</span>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_1')">서울</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_2')">경기.인천</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_3')">부산</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_4')">다른 지역</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <input type="text" value="{{demand_data.local}}" name="local" class="form-control"
                               style="display:inline;" placeholder="ex) 강남역 근처, 홍대 주변" {% if tutform.local.errors%}autofocus{%endif%}><br>
                    </div>
                    <div class="col-md-10 pull-right tmk-error">{{demandform.state.errors|striptags}}
                        {{demandform.local.errors|striptags}}</div>
                </div>

                <div class="tmk-panel">
                    <label class="col-md-2">연락처<span>*</span></label>
                    <!--<div class="col-md-10" style="display:inline;">-->
                    <div class="form-group">
                        <div class="col-xs-4 col-sm-3 col-md-3" style="min-width:80px;">
                            <input class="form-control" value="010">
                        </div>
                        <!--<div class="col-md-1" style="margin-left:-15px;margin-right:-15px;text-align:center;">-</div>-->
                        <div class="col-xs-4 col-sm-3 col-md-3" style="min-width:80px;margin-left:-15px;">
                            <input type="text" class="form-control" value="{{demand_data.mobile1}}" name="mobile1"
                                    {% if tutform.mobile.errors%}autofocus{%endif%}>
                        </div>
                        <!--<div class="col-md-1" style="margin-left:-15px;margin-right:-15px;text-align:center;">-</div>-->
                        <div class="col-xs-4 col-sm-3 col-md-3" style="min-width:80px;margin-left:-15px;">
                            <input type="text" class="form-control" value="{{demand_data.mobile2}}" name="mobile2">
                        </div>
                    </div>
                    <!--</div>-->
                    <div class="col-md-10 pull-right tmk-error">{{demandform.mobile.errors|striptags}}<br></div>
                </div>

                <div class="tmk-panel">
                    <label class="col-md-2">참조할사진<br>(선택)</label>
                    <div class="tmk-qitem-phupload col-md-10">
                        <div class="tmk-phupload-contents">
                            <div class="tmk-panel-contents">
                                <div class="well filedrag" id="filedrag">
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <div>
                                                <label class="drag-label">참조할 작품 사진을 이곳에 끌어다 놓아주세요 <br>
                                                    JPG, PNG 파일만 업로드가 가능합니다.</label>
                                            </div>

                                        </div>
                                        <div class="col-md-4" style="top: 10px;">
                                        <span id="uploader" onclick="putImgsToFile();" class="custom-file-input-button btn btn-default" style="cursor:pointer;">
                                            <span class="custom-file-input-button-text">사진 가져오기</span>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="tmk-imgs" id="tmk-imgs">
                                        {% for img_info in demand_data.db_images%}
                                        <div class="tmk-img">
                                            <input type="file" name="image" id="filePhoto{{forloop.counter}}" class="filePhoto"/>
                                            <input type="hidden" name="img_id" value="{{img_info.0}}">
                                            <img src="{{MEDIA_URL}}{{img_info.1}}"/>
                                            <span onclick="deleteImg(this);"></span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div id="templateImg">
                                        <div class="tmk-img">
                                            <input type="file" name="image" id="filePhoto1" class="filePhoto"/>
                                            <input type="hidden" name="img_id" value="">
                                            <img src=""/>
                                            <span onclick="deleteImg(this);"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tmk-panel-footer"></div>
                        </div>
                        <!--<aside class="tmk-aside-right">만들고 싶은 것의 사진을 업로드 해주세요. JPG, PNG 파일만 업로드가 가능합니다.</aside>-->
                    </div>
                    <div class="col-md-10 col-md-offset-2 col-xs-12 tmk-form-error">
                    {{imageform.image.errors|striptags}}
                    </div>
                </div>

                <div class="tmk-panel" style="border-bottom:none;">

                    <label class="col-md-2">희망 수강료 범위<br>(선택)</label>
                    <div class="col-md-10">
                        <div id="html5">
                            <!--<span>최소</span><span class="pull-right">최대</span>-->
                            <div id="slide"></div>
                            <!--<span id="value-span"></span>-->
                            <label for="max-price" class="pull-left" style="color:#84CDC2;margin-top:5px;">￦
                                <input style="border:0px;width:52px;color:#84CDC2;font-weight:bold;" type="text" value="{{demand_data.max_price}}" id="max-price" name="max_price"
                                        {% if tutform.max_price.errors%}autofocus{%endif%}></input>
                            </label>
                            <!--<label for="max-price">원</label>-->
                            {{demandform.max_price.errors|striptags}}

                            <label for="max-price" class="pull-right" style="color:#84CDC2;margin-top:5px;">￦
                                <input style="text-align:right;border:0px;width:52px;color:#84CDC2;font-weight:bold;" type="text" value="{{demand_data.min_price}}" id="min-price" name="min_price"
                                        {% if tutform.min_price.errors%}autofocus{%endif%}></input>
                            </label>
                            {{demandform.min_price.errors|striptags}}
                        </div>
                    </div>
                </div>


                <input class="btn btn-primary pull-right" type="submit" value="제안등록">
            </form>
        </div>
    </div>
</div>

{%endblock%}
{%block script%}
<script src='{%static "media/js/qitem_create.js" %}'></script>
<script type="text/javascript" src="{% static 'media/js/nouislider.js' %}"></script>
<script type="text/javascript" src="{%static 'media/js/wNumb.js'%}"></script>
<script>
    var slider = document.getElementById('slide');
    var format = wNumb({
        decimals: 0
    });

    noUiSlider.create(slider, {
        start: [50000, 450000],
        step: 10000,
        margin: 10000,
        connect: true,
        range: {
            'min': 10000,
            'max': 500000
        }
    });


    var valueInputmin = document.getElementById('min-price'),
            valueInputmax = document.getElementById('max-price');

    // When the slider value changes, update the input and span
    slider.noUiSlider.on('update', function( values, handle ) {
        if ( handle ) {
            valueInputmin.value = format.from(values[handle]);
        } else valueInputmax.value = format.from(values[handle]);
    });

    // When the input changes, set the slider value
    valueInputmin.addEventListener('change', function(){
        slider.noUiSlider.set([null, this.value]);
    });
    valueInputmax.addEventListener('change', function(){
        slider.noUiSlider.set([null, this.value]);
    });
</script>

{%endblock%}