{%extends 'base.html'%}
{% load static from staticfiles%}
{% load humanize %}
{% load v2d1_board_tags %}
<title>{%block title%}수업 요청 상세 정보 {{post.title}}{%endblock%}</title>

{%block style%}
<style>
    .tmk-review .col-md-8 {padding:0px;}
    .tmk-review .btn-primary {width:170px;height:80px;}
    .tmk-review textarea {height:80px;}
    .img-wrap img {width:100%;}
</style>
{%endblock%}

{%block content%}
<div class="tmk-main-body col-md-12" style="text-align:left;">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-2">여기에 사용자 이름 넣어야됨</div>

        <div class="col-md-8" style="background:#fff;">
            <div class="">{{post.category.category|cate2han}}</div>
            <div class="tmk-h3"> {{post.title}}</div>
            한줄소개 :: {{post.descript}}<br>
            목표::{{post.goal}}<br><br>

            희망시간 :: {{post.weekday}}<br>
            희망지역 :: {{post.state.state|state2han}} {{post.local}}<br>
            희망수강료 :: {{post.min_price}}~{{post.max_price}}<br>

            참조 사진
            {% for image in post.t2demandpic_set.all%}
            <div class="col-md-8 img-wrap">
                <img src="{{MEDIA_URL}}{{image.image}}">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--줄서기-->
    {% if request.user.t2profile_set.first.mobli_able %}
        <a href="{% url 'lineup_demand_v2d1' post.id %}?lineup_next=/v2.1/demand/{{post.id}}/">
    {% else%}
        <a href="{% url 'mobli_require_v2d1' post.id %}?lineup_next=/v2.1/demand/{{post.id}}/">
    {% endif %}
    {% if request.user in post.inline_users.all %}
    줄서기 취소
    {% else %}
    줄서기
    {% endif %}
    <!--줄선 사람 숫자-->
    {% if post.inline_users.count %}
    ({{post.inline_users.count}})
    {% else %}
    (0)
    {% endif %}
    {% if post.inline_users.count %}
    {% for user in post.inline_users.all %}
    <img src="{{MEDIA_URL}}{{user.t2profile_set.first.pro_pic}}">
    {% endfor %}
    {% endif %}
</a><br>
<!--댓글-->




<div class="col-md-12" style="background:#fff;">

    <div class="tmk-review">
        <div class="col-md-8 col-md-offset-1">
            <div class="h3">후기 쓰기</div>
            <form method="POST" action="{% url 'create_comment_v2d1' post.id %}">
                {%csrf_token%}
                <div class="col-md-2 col-xs-2">
                    <div class="tmk-card-img-profile" style="margin-top:15px;">
                        <div class="card-link">
                            <img src="{{MEDIA_URL}}{{user.t2profile_set.first.pro_pic}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xs-7">
                    <input type="hidden" name="class_num" value="{{post.id}}">
                    <textarea class="form-control" name="comment"></textarea>
                    <input type="checkbox" name="class_ad" value="host_ad">수업 소개 댓글
                </div>
                <div class="col-md-2 col-xs-3">
                    <input class="btn btn-primary" type="submit" value="댓글달기">
                </div>
            </form>
        </div>
        <div class="col-md-8 col-md-offset-1">
            {% for comment in post.t2demandcmt_set.all%}
            {% if comment.is_active %}
            <div class="col-md-2">
                <div class="tmk-card-img-profile" style="margin-top:15px;">
                <div class="card-link">
                    <img src="{{MEDIA_URL}}{{comment.user.t2profile_set.first.pro_pic}}">
                </div>
            </div></div>
            <div class="col-md-10">사용자 이름<br>
                <div>후기 : {{comment.comment}}</div>
                {% if comment.class_ad%}
                수업 개설 덧글
                {% endif %}
            </div>
            <!--수정 form 나중에  hidden-->
        </div>

        <div class="col-md-8 col-md-offset-1">
            <form method="POST" action="{% url 'modify_comment_v2d1' post.id %}">
                {%csrf_token%}
                <div class="col-md-8">
                    <input type="hidden" name="comment_num" value="{{comment.id}}">
                    <input type="hidden"  name="demand_num" value="{{post.id}}">
                    <textarea class="form-control" name="comment">{{comment.comment}}</textarea>
                    <input class="form-control" type="checkbox" name="class_ad" value="host_ad"
                           {% if comment.class_ad%}checked="checked"{% endif %}>수업 개설 댓글
                </div>
                <div class="col-md-2">
                    <input class="btn btn-link" type="submit" value="후기수정">
                </div>
            </form>

            <form method="POST" action="{% url 'delete_comment_v2d1' comment.id%}">
                {%csrf_token%}
                <input type="hidden" name="demand_num" value="{{post.id}}">
                <input class="btn btn-link" type="submit" value="댓글삭제">
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>





{%endblock%}
