{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'media/css/nouislider.min.css'%}">
<style>
    .tmk-qitem-wrapper{
        width: 720px;
        margin:30px auto;
    }

    .tmk-qitem-wrapper aside {font-size:12px;color:#36D2D2;}
    .tmk-qitem-header{
        padding: 40px 10px;
        border-bottom: 1px solid rgba(0,0,0,0.22);
        margin-bottom:30px;
    }
    .tmk-qitem-header > span{
        font-size: 28px;
        font-weight: bold;
    }

    .tmk-qitem-selecter-wrapper{
        display: inline-block;
        vertical-align: middle;
        min-width: 200px!important;
        height:50px;
    }

    .selecter .selecter-selected:after {
        top: 20px !important;
    }

    .selecter-selected {
        height: 42px !important;
    }
    .tmk-qitem-hdr-contents .selecter .selecter-selected {
        font-size: 16px;
        line-height: 30px;
        padding-left: 0px;
    }

    .tmk-qitem-search-wrapper input {font-size:18px;height:50px;}

    .tmk-qitem-hdr-contents{
        margin: 30px 0px;
    }
    .tmk-qitem-hdr-contents  span.tmk-ctns-text{
        font-size: 20px; margin-right: 10px;margin-left:10px;
    }
    .tmk-qitem-hdr-contents > div{
        display: inline-block;
        vertical-align: middle;
    }

    .tmk-contact-p-text {
        font-size: 20px;
        font-weight: 600;
    }
    .tmk-aside-right{
        text-align:left;
        /*width: 25%;*/
        float: left;
        display: inline-block;
        min-height: 100px;
        padding:10px;
        margin-left: 10px;
        background-color: rgba(255,255,255,0.7);
    }
    .filedrag {
        border: 2px dashed #AAA;
        border-radius: 7px;
        cursor: default;
        padding: 15px;
        margin-bottom: 20px;
    }
    .filedrag .drag-label {
        font-weight: bold;
        text-align: left;;
        display: block;
        color: #AAA;
        margin-top: 10px;
        margin-bottom: -10px;
        /*width:70%;*/
    }
    .filedrag.hover {
        border-color: #F00;
        border-style: solid;
        box-shadow: inset 0 3px 4px #888;
    }
    .filedrag.hover .drag-label {
        color: #F00;
    }
    .custom-file-input-wrapper {
        position: relative;
    }
    .custom-file-input-wrapper .custom-file-input-button {
        position: relative;
        overflow: hidden;
    }
    .custom-file-input-wrapper .custom-file-input-button * {
        cursor: pointer;
    }
    .custom-file-input-wrapper .custom-file-input-button input[type="file"] {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        opacity: 0;
    }
    .tmk-imgs img{
        width: 70px;
        height: 70px;
    }
    .tmk-imgs input{
        display: none;
        border:none;
    }
    .tmk-imgs div{
        position: relative;
        display: inline-block;
        /*background:url("http://www.jpnn.com/blog/assets/img/news/thumb/no_image.jpg");*/
        background-size:cover;
    }
    .tmk-imgs div span{
        background-image: url("/static/media/image/icon/icon-close.png");
        position: absolute;
        top: 26px;
        width: 23px;
        right: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;
        background-repeat: no-repeat;
        visibility: hidden;
    }
    .tmk-imgs div:hover span{
        visibility: visible;
    }
    .tmk-qitem-footer {
        width: 700px;
    }
    .wgt-stepper{
        height: 34px;
        width: 70px;
        display: inline-block;
        vertical-align: top;
    }
    .wgt-stepper .stepper-arrow {
        position: relative;
        right: -49px;
        top: -33px;
        display: block;
        width: 20px;
        height: 16px;
        cursor: pointer;
        text-indent: -9999px;
        background-color: #3bafda;
    }
    .wgt-stepper .up {
        background: url("{%static 'media/image/icon/icon-arrow-up-small.png'%}") no-repeat center;
        background-size: 12px;
        background-color:  #E6E9ED;
    }
    .wgt-stepper .down {
        background: url("{%static 'media/image/icon/icon-arrow-down-small.png'%}") no-repeat center;
        background-size: 12px;
        background-color:  #E6E9ED;
    }

    .noUi-handle-lower {
        background-image: url("{%static 'media/image/slice/triangle-left.png'%}");
        background-repeat: no-repeat;
        background-position: center;
    }
    .noUi-handle-upper {
        background-image: url("{%static 'media/image/slice/triangle-right.png'%}");
        background-repeat: no-repeat;
        background-position: center;
    }

    @media screen and (min-width:613px) and (max-width:991px) {
        .col-md-2 {display:block;}
        .col-md-6 {display:inline-block;min-width:340px;margin-left:-15px;}
    }
label span {color:red;}
    .tmk-panel label {color:#565a5c;}
    #tmk-form .btn-primary {margin-right:15px;}
</style>

<div class="tmk-page-pick hidden-xs" style="border:1px solid #ddd;"></div>
<div class="tmk-h3" style="font-weight:bold;margin-top:30px;text-align:left;"> 클래스 제안하기</div>

    <form method="POST" action="{% url 'demand_create_v2d1' %}" enctype="multipart/form-data">
        {%csrf_token%}


        <div class="tmk-panel">
            <label class="col-md-2">제목 <span>*</span></label>
            <div class="tmk-qitem-selecter-wrapper col-md-3">
                <div class="selecter cover" tabindex="0">
                    <select name="category" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                        <option value="all"
                                {% if begin_data.category == 'all' %}selected{% endif %}>모든 카테고리</option>
                        <option value="cate_1"
                                {% if begin_data.category == 'cate_1' %}selected{% endif %}>가죽공예</option>
                        <option value="cate_2"
                                {% if begin_data.category == 'cate_2'%}selected{% endif %}>플라워아트</option>
                        <option value="cate_3"
                                {% if begin_data.category == 'cate_3'%}selected{% endif %}>전통공예/한복</option>
                        <option value="cate_4"
                                {% if begin_data.category == 'cate_4'%}selected{% endif %}>목공예</option>
                        <option value="cate_5"
                                {% if begin_data.category == 'cate_5'%}selected{% endif %}>금속공예/매듭</option>
                        <option value="cate_6"
                                {% if begin_data.category == 'cate_6'%}selected{% endif %}>재봉틀/뜨개질</option>
                        <option value="cate_7"
                                {% if begin_data.category == 'cate_7'%}selected{% endif %}>캘리그라피</option>
                        <option value="cate_8"
                                {% if begin_data.category == 'cate_8'%}selected{% endif %}>그리기</option>
                        <option value="cate_9"
                                {% if begin_data.category == 'cate_9'%}selected{% endif %}>베이킹/요리</option>
                        <option value="cate_10"
                                {% if begin_data.category == 'cate_10'%}selected{% endif %}>화장품/향기</option>
                        <option value="cate_11"
                                {% if begin_data.category == 'cate_11'%}selected{% endif %}>기타</option>
                    </select>
                    <span class="selecter-selected" onclick="btnClick(this)">카테고리 선택</span>
                    <div class="selecter-options" data-value="">
                        <!--<span class="selecter-item selected" data-value="" onclick="selecting(this, '')">카테고리</span>-->
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'all')">모든 카테고리</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_1')">가죽공예</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_2')">플라워아트</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_3')">전통공예/한복</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_4')">목공예</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_5')">금속공예/매듭</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_6')">재봉틀/뜨개질</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_7')">캘리그라피</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_8')">그리기</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_9')">베이킹/요리</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_10')">화장품/향기</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'cate_11')">기타</div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <input type="text" class="form-control" name="title" value="{{demand_data.title}}"placeholder="ex) 캘라그라피로 엽서를 만들고 싶어요">
            </div>

            <!--<div class="alert alert-warning alert-dismissable">-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->
            {{demandform.category.errors|striptags}}
            {{demandform.title.errors|striptags}}
            <!--</div>-->

        </div>


        <div class="tmk-panel">
            <label class="col-md-2">내용 <span>*</span></label>
            <div  class="col-md-10">
        <textarea name="descript" class="form-control" rows="4" cols="50"
                  placeholder="ex) 가죽공방을 창업하고 싶어서요. 기초부터 차근 차근가르쳐주는 공방 없을까요?">{{demand_data.descript}}</textarea>
                {{demandform.descript.errors|striptags}}<br>
            </div>
        </div>



        <div class="tmk-panel">
            <label class="col-md-2">태그 <span>*</span></label>
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <!--<label class="icheckbox_flat checked">-->
                    <input type="checkbox" class="icheckbox_flat checked" autocomplete="off" checked name="goal" value="easy&chip"
                           {% for goal in demand_data.goal %} {% if goal == "easy&chip" %}
                    checked {% endif %}{% endfor %}>&nbsp;부담없고 재미있는 수업&nbsp;</input>
                    <!--</label>-->
                    <!--<label class="btn btn-normal">-->
                    <input type="checkbox" class="icheckbox_flat" autocomplete="off" name="goal" value="quality"
                           {% for goal in demand_data.goal %} {% if goal == "quality" %}
                    checked {% endif %}{% endfor %}>&nbsp;가격보다는 수업 퀄리티&nbsp;
                    <!--</label>-->
                    <!--<label class="btn btn-danger">-->
                    <input type="checkbox" class="icheckbox_flat checked" autocomplete="off" name="goal" value="professional"
                           {% for goal in demand_data.goal %} {% if goal == "professional" %}
                    checked {% endif %}{% endfor %}>&nbsp;창업을 위한 전문 수업&nbsp;
                    <!--</label>-->
                </div>
                {{demandform.goal.errors|striptags}}<br>
            </div>
        </div>

        <div class="tmk-panel">
            <label class="col-md-2">희망일정 <span>*</span></label>
            <div class="col-md-10">
                <input type="text" name="weekday" class="form-control" value="{{demand_data.weekday}}" placeholder="ex) 주말 아무때나, 평일7시이후"><br>
                {{demandform.weekday.errors|striptags}}<br>
            </div>
        </div>

        <div class="tmk-panel">

            <label class="col-md-2">희망지역 <span>*</span></label>
            <div class="tmk-qitem-selecter-wrapper col-md-3">
                <div class="selecter cover" tabindex="0">
                    <select name="state" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                        <option value="all"
                                {% if begin_data.category == 'all' %}selected{% endif %}>모든 지역</option>
                        <option value="zone_1"
                                {% if demand_data.state == 'zone_1'%}selected{% endif %}>도봉/성북/동대문...</option>
                        <option value="zone_2"
                                {% if demand_data.state == 'zone_2'%}selected{% endif %}>은평/마포/서대문...</option>
                        <option value="zone_3"
                                {% if demand_data.state == 'zone_3'%}selected{% endif %}>종로/중구/용산...</option>
                        <option value="zone_4"
                                {% if demand_data.state == 'zone_4'%}selected{% endif %}>양천/영등포/동작...</option>
                        <option value="zone_5"
                                {% if demand_data.state == 'zone_5'%}selected{% endif %}>송파/강남/서초...</option>
                        <option value="zone_6"
                                {% if demand_data.state == 'zone_6'%}selected{% endif %}>수원/안산/안양...</option>
                        <option value="zone_7"
                                {% if demand_data.state == 'zone_7'%}selected{% endif %}>성남/남양주/용인...</option>
                        <option value="zone_8"
                                {% if demand_data.state == 'zone_8'%}selected{% endif %}>파주/의정부/고양...</option>
                        <option value="zone_9"
                                {% if demand_data.state == 'zone_9'%}selected{% endif %}>인천/부천</option>
                        <option value="etc"
                                {% if demand_data.state == 'etc'%}selected{% endif %}>기타</option>
                    </select>
                    <span class="selecter-selected" onclick="btnClick(this)">지역 선택</span>
                    <div class="selecter-options" data-value="">
                        <!--<span class="selecter-item selected" data-value="" onclick="selecting(this, '')">카테고리</span>-->
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'all')">모든 카테고리</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_1')">도봉/성북/동대문...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_2')">은평/마포/서대문...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_3')">종로/중구/용산...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_4')">양천/영등포/동작...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_5')">송파/강남/서초...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_6')">수원/안산/안양...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_7')">성남/남양주/용인...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_8')">파주/의정부/고양...</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'zone_9')">인천/부천</div>
                        <div class="selecter-item"
                             data-value="id"
                             onclick="selecting(this, 'etc')">기타</div>
                    </div>
                </div>

                {{demandform.state.errors|striptags}}
                {{demandform.local.errors|striptags}}<br>

            </div>
            <div class="col-md-6">
                <input type="text" value="{{demand_data.local}}" name="local" class="form-control" style="display:inline;" placeholder="ex) 강남역 근처, 홍대 주변"><br>
            </div>

        </div>

        <div class="tmk-panel">
            <label class="col-md-2">연락받으실<br>전화번호 <span>*</span></label>
            <!--<div class="col-md-10" style="display:inline;">-->
            <div class="form-group">
                <div class="col-xs-4 col-sm-3 col-md-3" style="min-width:80px;">
                    <input class="form-control disabled" value="010" disabled>
                </div>
                <!--<div class="col-md-1" style="margin-left:-15px;margin-right:-15px;text-align:center;">-</div>-->
                <div class="col-xs-4 col-sm-3 col-md-3" style="min-width:80px;margin-left:-15px;">
                    <input type="text" class="form-control" value="{{demand_data.mobile1}}" name="mobile1">
                </div>
                <!--<div class="col-md-1" style="margin-left:-15px;margin-right:-15px;text-align:center;">-</div>-->
                <div class="col-xs-4 col-sm-3 col-md-3" style="min-width:80px;margin-left:-15px;">
                    <input type="text" class="form-control" value="{{demand_data.mobile2}}" name="mobile2">
                </div>
            </div>
            <!--</div>-->
            {{demandform.mobile.errors|striptags}}<br>
        </div>

<a class="btn-link pull-left" data-toggle="#demand-form-options" id="dfo-btn" style="color:red;cursor:pointer;margin-bottom:15px;">+ 선택사항 추가입력</a>
        <div id="demand-form-options" hidden>
        <div class="tmk-panel">
            <label class="col-md-2">참조할사진<br>(선택)</label>
            <div class="tmk-qitem-phupload col-md-10">
                <div class="tmk-phupload-contents">
                    <div class="tmk-panel-contents">
                        <div class="well filedrag" id="filedrag">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div>
                                        <label class="drag-label">참조할 작품 사진을 이곳에 끌어다 놓아주세요 <br>
                                            JPG, PNG 파일만 업로드가 가능합니다.</label>
                                    </div>

                                </div>
                                <div class="col-md-4" style="top: 10px;">
                                        <span id="uploader" onclick="findLastInput(true);" class="custom-file-input-button btn btn-default" style="cursor:pointer;">
                                            <span class="custom-file-input-button-text">PC에서 사진 가져오기</span>
                                        </span>
                                </div>
                            </div>
                            <div class="tmk-imgs" id="tmk-imgs">
                                <div>
                                    <img src="">
                                    <span onclick="deleteImg(this);"></span>
                                </div>
                                <div>
                                    <img src="">
                                    <span onclick="deleteImg(this);"></span>
                                </div>
                                <div>
                                    <img src="">
                                    <span onclick="deleteImg(this);"></span>
                                </div>
                                <div>
                                    <img src="">
                                    <span onclick="deleteImg(this);"></span>
                                </div>
                                <div>
                                    <img src="">
                                    <span onclick="deleteImg(this);"></span>
                                </div>
                                <input type="file" name="image"  id="filePhoto1" />
                                <input type="file" name="image"  id="filePhoto2" />
                                <input type="file" name="image"  id="filePhoto3" />
                                <input type="file" name="image"  id="filePhoto4" />
                                <input type="file" name="image"  id="filePhoto5" />

                            </div>   </div>
                    </div>
                    <div class="tmk-panel-footer"></div>
                </div>
                <!--<aside class="tmk-aside-right">만들고 싶은 것의 사진을 업로드 해주세요. JPG, PNG 파일만 업로드가 가능합니다.</aside>-->
            </div>
            {{imageform.image.errors|striptags}}
        </div>
        <div class="tmk-panel" style="border-bottom:none;">
            <label class="col-md-2">희망 수강료 범위</label>
            <div class="col-md-10">
                <div id="html5">
                    <!--<span>최소</span><span class="pull-right">최대</span>-->
                    <div id="slide"></div>
                    <!--<span id="value-span"></span>-->
                    <label for="max-price" class="pull-left" style="color:#84CDC2;margin-top:5px;">￦
                        <input style="border:0px;width:52px;color:#84CDC2;font-weight:bold;" type="text" value="{{demand_data.max_price}}" id="max-price" name="max_price"></input>
                    </label>
                    <!--<label for="max-price">원</label>-->
                    {{demandform.max_price.errors|striptags}}

                    <label for="max-price" class="pull-right" style="color:#84CDC2;margin-top:5px;">￦
                        <input style="text-align:right;border:0px;width:52px;color:#84CDC2;font-weight:bold;" type="text" value="{{demand_data.min_price}}" id="min-price" name="min_price"></input>
                    </label>
                    {{demandform.min_price.errors|striptags}}
                </div>
            </div>
        </div>
        </div>
        <div class="tmk-page-pick hidden-xs" style="border:1px solid #ddd;"></div>
        <input class="btn btn-primary" type="submit" style="padding:10px;" value="수업 제안 등록">
    </form>
<!--</div>-->
<!--</div>-->

<script type="text/javascript" src="{% static 'media/js/nouislider.js' %}"></script>
<script type="text/javascript" src="{%static 'media/js/wNumb.js'%}"></script>
<script>
    $(document).ready(function(){
        $("#dfo-btn").click(function(){
            $("#demand-form-options").toggle();
        });
    });
</script>
<script>
    var slider = document.getElementById('slide');
    var format = wNumb({
        decimals: 0
    });

    noUiSlider.create(slider, {
        start: [50000, 450000],
        step: 10000,
        margin: 10000,
        connect: true,
        range: {
            'min': 10000,
            'max': 500000
        }
    });


    var valueInputmin = document.getElementById('min-price'),
            valueInputmax = document.getElementById('max-price');

    // When the slider value changes, update the input and span
    slider.noUiSlider.on('update', function( values, handle ) {
        if ( handle ) {
            valueInputmin.value = format.from(values[handle]);
        } else valueInputmax.value = format.from(values[handle]);
    });

    // When the input changes, set the slider value
    valueInputmin.addEventListener('change', function(){
        slider.noUiSlider.set([null, this.value]);
    });
    valueInputmax.addEventListener('change', function(){
        slider.noUiSlider.set([null, this.value]);
    });
</script>