{% load static from staticfiles%}
{% load humanize %}
{% load v2d1_board_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>수업 요청 상세 정보</h2><br>

카테고리::{{post.category.category|cate2han}}<br>
제목 :: {{post.title}}<br>
한줄소개 :: {{post.descript}}<br>
목표::{{post.goal}}<br><br>

희망시간 :: {{post.weekday}}<br>
희망지역 :: {{post.state.state|state2han}} {{post.local}}<br>
희망수강료 :: {{post.min_price}}~{{post.max_price}}<br>

참조 사진
{% for image in post.t2demandpic_set.all%}
    <img src="{{MEDIA_URL}}{{image.image}}"><br>
{% endfor %}


<form method="POST" action="{% url 'create_comment_v2d1' post.id %}">
    {%csrf_token%}
    <input type="hidden" name="demand_num" value="{{post.id}}">
    <textarea name="comment"></textarea><br>
    <input type="checkbox" name="class_ad" value="host_ad">수업 소개 댓<br>
    <input type="submit" value="댓글달기">
</form>
---------------------<br>
{% for  comment in post.t2demandcmt_set.all%}
    {% if comment.is_active %}
        댓글::{{comment.comment}}
        {% if comment.class_ad%}
            수업 개설 덧글
        {% endif %}<br>

        수정 form 나중에  hidden
        <form method="POST" action="{% url 'modify_comment_v2d1' post.id %}">
            {%csrf_token%}
            <input type="hidden" name="comment_num" value="{{comment.id}}">
            <input type="hidden" name="demand_num" value="{{post.id}}">
            <textarea name="comment">{{comment.comment}}</textarea><br>
            <input type="checkbox" name="class_ad" value="host_ad"
                    {% if comment.class_ad%}checked="checked"{% endif %}>수업 개설 댓글<br>
            <input type="submit" value="댓글수정">
        </form><br>
        <form method="POST" action="{% url 'delete_comment_v2d1' comment.id%}">
            {%csrf_token%}
            <input type="hidden" name="demand_num" value="{{post.id}}">
            <input type="submit" value="댓글삭제">
        </form><br><br>
    {% endif %}
{% endfor %}
</body>
</html>