{%extends 'base.html'%}
{%load static from staticfiles%}

<title>{%block title%}Tomakit-요청 완료{%endblock%}</title>
{%block style%}
{%endblock%}
<body>
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="tmk-page-header col-md-10 col-md-offset-1">
        <div class="tmk-h2 tmk-title">클래스 제안 등록완료</div>
        <div class="tmk-h4">축하합니다 클래스 제안이 완료되었습니다<br>클래스는 마이페이지 > 클래스 > <span style="color:red">제안한 클래스</span>에서 확인하실 수 있습니다<br>토마킷에 등록된 작가들이 내용을 확인 후 클래스를 개설하고 문자로 알려드립니다</div>
        <a href="/"><button class="btn btn-primary">확인</button></a>
    </div>

</div>
{%endblock%}
</body>