{% extends 'base.html' %}
{% load static from staticfiles%}
{% load line_extras_tag%}
<title>{%block title%}토마킷 :: 기초부터 공방 창업까지. 현업 작가들의 공예 수업을 만나보세요.{%endblock%}</title>

  {% block content %}
<div class="tmk-main-banner">
    <div class="tmk-main-banner-title">HELLO</div>
    <video autoplay loop muted poster="https://d3ce7jb7ih53ua.cloudfront.net/verloca_new_design/main_page/first-page-1.png" id="bgvid">
    <source src="https://d3ce7jb7ih53ua.cloudfront.net/verloca_new_design/main_page/verlocal+header_3.mp4"></source>
    </video>
    <div></div>
</div>
<div class="tmk-main-body">
    <div class="tmk-main-border">
        <div>두근두근 핸드메이드</div>
    </div>
    <div class="tmk-main-picks">
        <div class="picks-title rows">
            <span class="col-md-2"></span>
            <span class="title-main col-md-8">직접 창조한다는 것은 얼마나 가슴 뛰는 일인가요?</span>
        </div>
    </div>

    <div class="tmk-body-picks">
        <div class="tmk-picks-main">
            <div class="tmk-picks-title"> 지금까지 4,065개의 핸드메이드 클래스가 만들어졌어요 </div>
        </div>
        <div class="tmk-picks-list">
            <span>일이삼사오육칠팔구십일이삼사오<br>만들고싶어요</span>
            <ul class="tmk-picks-list-ul">
                <li>
                    <div class="list-ul-img"></div>
                    <div class="list-ul-span">
                        <div class="span-title">선인장 인형 만들고 싶어요</div>
                        <div class="span-by">by komm</div>
                    </div>
                </li>
                <li>
                    <div class="list-ul-img"></div>
                    <div class="list-ul-span">
                        <div class="span-title">선인장 인형 만들고 싶어요</div>
                        <div class="span-by">by komm</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="tmk-main-border">
        <div>개설된 핸드메이드 문의</div>
    </div>
    <div class="tmk-main-picks">
        <div class="picks-title rows">
            <span class="col-md-2"></span>
            <span class="title-main col-md-8">수업이 만들어진 핸드메이드 수업을 만나보세요</span>
            <span class="title-seeAll col-md-2">모두보기</span>
        </div>

        <div class="picks-cards rows">
            <ul>
                <li>
                    <div></div>
                </li>
                <li>
                    <div></div>
                </li>

                <li>
                    <div></div>
                </li>

                <li>
                    <div></div>
                </li>

                <li>
                    <div></div>
                </li>

                <li>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
</div>

  {%endblock %}