<div class="row">
    {% for item in catgitem %}
    <div class="col-xs-12 col-lg-4">
        <div class="itembox">
            <div class="thumbnail">
                <!--              <span class="tag">CLASS</span>-->
                <!--classpost-->
                <div class="ttt">
                    <a href="http://{{HTTP_HOST}}/class/{{item.id}}">
                        <img src="{{MEDIA_URL}}{{item.classpic_set.first.class_photo}}">
                    </a>
                </div>
                <div class="caption">
                    <div class="ellipsis"><a href="http://{{HTTP_HOST}}/class/{{item.id}}" class="thumbnail-title">{{item.title}}</a>
                    </div>
                    &#8361;{{item.price}}
                    <p class="sr-only">원</p>
                    <span class="tag"> · CLASS</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
</div>