{%load static from staticfiles%}

<style>
  .go-top {position:fixed;bottom:0px; right:20px;z-index: 1000;
    font-size:40px;
    color:#cdbfe3;
  }
  .go-top:hover {color:lightsalmon;}


</style>
<a href="#" class="go-top hidden">
  <span class="glyphicon glyphicon-circle-arrow-up" alt="go top"></span>
  </a>
<div id="footer">
<!--  <div class="container">-->
    <div id="upper-footer">
      <div class="footer-nav">

        <ul class="">
          <li><a href="/">HOME</a></li>
          <li><a href="/user/contact">Partnership</a></li>
          <li><a href="#">ABOUT</a></li>
<!--          <li><a href="#">CAREERS</a></li>-->
          <li><a href="/user/userprivacy">PRIVACY</a></li>
          <li><a href="/user/contact">F & Q</a></li>
        </ul>

      </div>
    </div>
    <div id="bi">
      <hr>
      <span class="col-sm-4 col-xs-12 logo"><span>TOMAKIT</span>, to make everything.</span>
      <div class="col-sm-6 col-sm-offset-2 col-xs-12">
        <div class="credit pull-right"><b>&#169; 2015 Tencity</b>, Inc. All rights reserved.
<!--          <b>Hosted</b> by <span class="name">Moon</span> | <b>Designed</b> by <span class="name">Minaminimi</span>-->
        </div>
      </div>
    </div>
<!--  </div>-->
</div>

<script type="text/javascript">
  $(window).scroll(function() {
    if ($(this).scrollTop() > 200){  
      $('.go-top').removeClass("hidden");
    }
    else{
      $('.go-top').addClass("hidden");
    }
  });

</script>

