<!DOCTYPE html>
<html>

  <head lang="ko">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    <title>

      회원가입 페이지

    </title>

    <!-- Animation style -->
    <!--    <link href="{{ STATIC_URL }}media/css/animate-custom.css" rel="stylesheet">-->

    <!-- Custom style -->
    <link href="{{ STATIC_URL}}media/css/signin.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <style>

      .container {
        width: 500px;
        margin: 100px auto;
      }

      #form-error {
        width: 70%;
        margin: auto auto;
      }

      .centered {
        position: relative;
        display: inline-block;

        width: 100%;
        padding: 1em;
      }

      object {
        width:100%;
      }


    </style>

  </head>


  <body>

    <!--    <object name="navbar" type="text/html" data={% include "layout/header.html" %}></object>-->

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Crafter Penguin</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">강사 등록</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">원데이 클래스 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">목공예 </a></li>
                <li><a href="#">패브릭 </a></li>
                <li><a href="#">푸드 앤 디저트 </a></li>
                <li><a href="#">테크놀로지</a></li>
                <li class="divider"></li>

                <!--
<li class="dropdown-header">Nav header</li>
<li><a href="#">Separated link</a></li>
<li><a href="#">One more separated link</a></li>

-->
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!--
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search">
</div>
<button type="submit" class="btn btn-default">검색</button>
</form>
-->

            {% if user.is_authenticated %}
            <li><a href="#"><p class="hi"><strong>안녕하세요 {{ user.username }}님!</strong></p></a></li>
            <li><a href="http://127.0.0.1:8000/user/logout">로그아웃</a></li>
            {% else %}
            <li><a href="#"><p class="hi">hello world!</p></a></li>
            <li><a href="http://127.0.0.1:8000/user/signup">회원가입</a></li>
            <li class="active"><a href="http://127.0.0.1:8000/user/login">로그인</a></li>
            <!--            <span class="sr-only">(current)</span>-->

          </ul>
          {% endif %}

        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
