<!DOCTYPE html>
{% load static from staticfiles%}
<html>

  <head lang="ko">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'media/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <!-- Custom style -->
    <link href="{% static 'media/css/userform.css'%}" rel="stylesheet">
    <script src="{% static 'bootstrap/docs/assets/js/ie-emulation-modes-warning.js'%}"></script>

