{%load static from staticfiles %}

<style>
  #hi span {font-family: sans-serif;} #hi strong:hover {color: white;}
/*  .container-fluid {padding-left:5%;padding-right:5%;}*/
  #navbar a:hover {background-color:#ddd;}
  #nav-user a:first-child:hover{background-color:transparent; background-color:#ddd;}
  .navbar-static-top {z-index:10;}
  .navbar-brand {color:black;font-size:24px;}
  .bi {max-width:150px;margin:0;padding:0;vertical-align: text-top;}
</style>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/idealine">TOMAKIT</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
        <ul class="nav navbar-nav">    
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CATEGORY <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">CATEGORY</li>
              <li><a href="/idealine/category/baby">아기용품 </a></li>
              <li><a href="/idealine/category/home">홈패션과 인테리어 </a></li>
              <li><a href="/idealine/category/funny">키덜트와 재미 </a></li>
              <li><a href="/idealine/category/art">Art & 디자인 </a></li>
              <li><a href="/idealine/category/fashion">패션 악세사리</a></li>
              <li><a href="/idealine/category/tast">요리와 디저트 </a></li>
              <li><a href="/idealine/category/beauty">아름다움을 위하여</a></li>
<!--

              <li class="divider"></li>
<li class="dropdown-header">기타</li>
<li><a href="#">Separated link</a></li>
<li><a href="#">One more separated link</a></li>
-->
            </ul>
          </li>
<!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">제휴 신청 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">

              <li><a href="/class/create">만들기 강좌 등록</a></li>
              <li><a href="/kit/create">DIY KIT 판매 등록</a></li>
            </ul>
          </li>
-->
      <li><a href="/user/contact">컨텐츠 제안하기</a></li>
          
        </ul>

        <ul id=nav-user class="nav navbar-nav navbar-right">
          <!--
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search">
</div>
<button type="submit" class="btn btn-default">검색</button>
</form>
-->
          {% if user.is_authenticated %}
          <li><a id="hi" href="/user/profile">안녕하세요 <strong>
              {{user.profile_set.first.nick_name}}</strong> 님!</a></li>
          <li><a href="/user/logout">로그아웃</a></li>
          {% else %}
          <li><a class="hi" href="#">hello world!</a></li>
          <li><a href="{% url 'signup' %}?next={{request.path}}">회원가입</a></li>
          <li><a href="{% url 'login_url' %}?next={{request.path}}">로그인</a></li>
          <!--            <span class="sr-only">(current)</span>-->

        </ul>
        {% endif %}

      </div> <!--/.nav-collapse -->
    </div> <!--/.container -->
    </div>
  </nav>
