{% extends 'base.html' %}
{% load static from staticfiles%}

{%block content%}

<style>
    .tmk-host-sign-bg {
        width: 100%;
        min-height: 800px;
        background: url({%static 'media/image/host-bg.jpg' %});
        padding-top: 100px;
        background-size: cover;
        background-position: center;
    }
    .tmk-host-guide {
        width: 720px;
        background: rgba(255, 255, 255, 1);
        padding: 40px;
        margin: auto;
    }
    .tmk-host-guide div {
        margin-top: 50px;
    }
    .tmk-host-guide .h3 {
        font-weight: normal;
    }
    .tmk-host-guide div:first-child {
        margin-top: 10px;
        font-family: NanumMyeongjo !important;
    }
    .tmk-host-guide .btn-primary {
        height: 50px !important;
        line-height: 30px;
    }
    .info-mail {
        color: #000;
        border-bottom: 2px solid #000;
    }

</style>


<!--<div class="tmk-main-body">-->
<div class="host-sign-wrapper">
    <div class="tmk-host-sign-bg">

        <div class="tmk-host-guide">
            <div class="h3">작가 등록하기</div>
            <div class="h3">반갑습니다!<br>
                토마킷에 작가로 참여하고 싶으신가요?<br>
                토마킷에서는 수강생 모집 - 운영 - 스케줄 관리가 쉬워집니다</div>
            <div class="h2">간단한 소개와 포트폴리오를 첨부하여<br>
                <a href="http://mailto:tomakit.info@gmail.com" class="info-mail">tomakit.info@gmail.com</a> 로 메일주세요</div>
            <div><img src="{%static 'media/image/slice/metaicon-4.png'%}"></div>
            <div><a class="btn btn-primary" href="javascript:history.back()">확인하고 되돌아가기</a></div>
        </div>
    </div>

</div>
<!--</div>-->


{% endblock %}
{%comment%}
<style>
    .about {padding:10px;border-radius:0px;margin-bottom:20px;background-color:#eee;}
    .text-muted {margin-top:10px;}
    .text-muted b:hover {color:coral;}
    .about .glyphicon {margin-right:1%;}
    .about .glyphicon:hover {color:coral;}
</style>
<div class="tmk-sub-body">
    <div id="login">
        <form method="POST" action="{% url 'v2_host_signup' %}" enctype="multipart/form-data" class="form-signin">
            <input type="hidden" name="next" value="{{next}}"/>
            {% csrf_token%}
            <div class="form-heading h2">작가 회원 가입</div>
            <label for="mobile" class="sr-only">전화번호</label>
            <input id="mobile" name="mobile" type="text"
                   class="form-control" required placeholder="전화번호" />
            <input type="checkbox" name="hosttype" value="out" > <span>출강</span>
            <input type="checkbox" name="hosttype" value="shop"> <span>공방강의</span>
            {% for field in hostform %}
            {{ field.errors|striptags }}
            {% endfor %}
            <input type="submit" class="btn btn-block btn-primary" value="회원가입">
        </form>
    </div>
</div>

<!--    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<!--<script type="text/javascript" src="{% static 'media/js/userform-validation.js' %}"></script>-->
{%endcomment%}