{%extends 'base.html'%}
{% load static from staticfiles%}
{% load humanize %}
<title>{%block title%}{{class_post.seo_title}}{%endblock%}</title>

{% block content %}

<div id="wrap">

  <div class="container class-post-media-content">
    <div class="post-content">


      <div class="title" style="text-align:center;background-color:none;margin-bottom:15px;">
        <h2>{{class_post.title}}</h2>
        <h5>
          by 누구누구 뭐뭐뭐 
          <span class="name">{{user.profile_set.first.nick_name}}</span><img class="profile-pic" src="{{MEDIA_URL}}{{user.profile_set.first.pro_photo}}"></h5>
      </div>

      <div class="col-md-8 col-md-offset-0 class-post-media-thumbnail">
        <div class="col-md-12 photo">
          <div class="post-photo">

            <div class="thumbnail" style="border-radius:0px;">
              <div id="class-post-Carousel" class="carousel slide" data-ride="carousel">
                <!--Indicators -->

                {% if class_post.video_url %} {%else%}
                <ol class="carousel-indicators">

                  {%for photo in class_post.classpic_set.all %} {% if forloop.counter0 == 0 %}
                  <li data-target="#class-post-Carousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                  {% else %}
                  <li data-target="#class-post-Carousel" data-slide-to="{{forloop.counter0}}"></li>
                  {% endif %} {%endfor%}
                </ol>

                {%endif%}

                <!-- Wrapper for slides -->
                {% if class_post.video_url %}
                {%comment%}{{class_post.video_url}}{%endcomment%}
                <div class="carousel-inner" role="listbox">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{class_post.video_url}}" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                {%else%}
                <div class="carousel-inner" role="listbox">
                  {%for photo in class_post.classpic_set.all%}
                  {% if forloop.counter0 == 0 %}
                  <div class="item active">
                    <img class="img-responsive{{forloop.counter0}}" src="{{MEDIA_URL}}{{photo.class_photo}}" alt="{{photo.photo_title}} image{{forloop.counter0}}">
                  </div>
                  {% else %}
                  <div class="item">
                    <img class="img-responsive{{forloop.counter0}}" src="{{MEDIA_URL}}{{photo.class_photo}}" alt="{{photo.photo_title}} image{{forloop.counter0}}">
                  </div>
                  {% endif %}
                  {%endfor%}
                </div>
                {%endif%}


                <!-- Left and right controls -->
                <!--
<a class="left carousel-control" href="#class-post-Carousel" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#class-post-Carousel" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
-->

              </div>

              {%comment%}
              <div class="row thumb">
                <!-- Button trigger modal -->
                {%for photo in class_post.postpic_set.all%}
                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 mini-thumb">
                  <a type="button" class="button" id="thumbimg" data-toggle="modal" data-target="#imageModal{{forloop.counter0}}">
                    <div class="ttt">
                      <img class="img-responsive{{forloop.counter0}}" src="{{MEDIA_URL}}{{photo.post_photo}}" alt="thumbnail image {{forloop.counter0}}">
                    </div>
                  </a>
                </div>
                {% endfor %}

                <!-- Modal -->
                {%for photo in class_post.postpic_set.all%}
                <div class="modal fade" id="imageModal{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                  <div class="modal-dialog2">
                    <div class="modal-content2">
                      <div class="modal-body2">

                        <!--                         <div class="ttt">-->
                        <img type="button" data-dismiss="modal" aria-lable="Close" class="img-responsive{{forloop.counter0}}" src="{{MEDIA_URL}}{{photo.post_photo}}" alt="{{forloop.counter0}}">
                        <!--                           </div>-->

                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- END MODAL -->
              </div>
              <!-- /.row thumb -->
              {%endcomment%}

            </div>
          </div>
        </div>

        <!--누구를 위한 수업인가요-->
        <div class="col-md-12" style="text-align:center;">


          <!--여기에 내용 입력 누구를 위한 강좌 태그 -->
          <div class="col-md-6"><span style="font-size: 1em;"class="glyphicon glyphicon-pushpin"></span><br>
            <b>{{class_post.need1}}</b><br>
            {{class_post.need1_detail}}
          </div>
          <div class="col-md-6"><span style="font-size: 1em;"class="glyphicon glyphicon-pushpin"></span><br>
            <b>{{class_post.need2}}</b><br>
            {{class_post.need2_detail}}
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4 card" id="card-sticky">
      <!--well detail-->
      <div class="col-md-12 box">
        <div class="post-detail">
          <h5 class="post-price">
            <label class="sr-only">수강료</label>
            <span id="price-label" class="glyphicon glyphicon-star"></span>
            <!--#TODO catch how to use humanize tag-->
            <span id="post-price">&#8361; {{class_post.price |intcomma}}</span>
          </h5>
          <hr style="border:1px solid #ddd;margin:10px;margin-left:-2%;width:104%;">
          <div class="class-tag">
            {% for tag in class_post.price_tag.all %}
            <span class="glyphicon glyphicon-tag"></span>{{tag.price_tag}}
            {% endfor %}
          </div>
        </div>
      </div>




      <div class="col-md-12 box">
        <div class="post-detail">
          <h5 style="margin-left:-5px;"><b>수업정보</b></h5>

          <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <label class="sr-only">위치</label>
            <span id="post-add">{{class_post.address}}</span>
          </p>

          <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            <label class="sr-only">강의 날짜</label>
            <span id="post-day">{{class_post.day}}</span>
          </p>
          <p>
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <label class="sr-only">시간</label>
            <span id="post-time">
              {{class_post.time}}
            </span>
          </p>
          <p>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <label class="sr-only">모집 인원</label>
            <span id="post-minmax">{{class_post.mem_num}} 명 모집</span>
          </p>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default btn-lg" id="cont-btn" style="width:100%;float:none;margin:auto;" data-toggle="modal" data-target="#applyModal">
            <!--              <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>-->
            수업 신청
          </button>
          <!-- Modal -->

          <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModal" aria-hidden="false">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="contactModal">강좌 신청 방법</h4>
                </div>

                <div class="modal-body">
                  {% include 'component/post-apply-typeform.html' %}
                </div>
              </div>
            </div>
          </div>
          <!-- END MODAL -->

          <!--              <button type="button" class="btn btn-default btn-lg" id="cont-btn" style="background-color:transparent;color:black;display:inline-block;border:none;width:50%;margin-left:0px;">★ 관심수업 추가</button>-->

        </div>
      </div>
      <!--/.post-detail-->
      <div class="col-md-12 box">
        <div class="post-detail" style="min-height:200px;">
          <div class="col-md-8">
            <!--강사 소개 -->
            <p><b>{{user.profile_set.first.nick_name}}, OOO</b>
            </p>
            {{user.profile_set.first.sellerinfo_set.first.special}}
            <span><em>"{{user.profile_set.first.sellerinfo_set.first.intro}}"</em></span>
          </div>
          <div class="col-md-4">
            <img src="{{MEDIA_URL}}{{user.profile_set.first.pro_photo}}" style="border-radius:50%;height:50px;width:50px;">
          </div>
        </div>
      </div>
    </div>

    <!-- /#card-sticky gadget -->
  </div>

</div>


<div class="tmk-class-post-main-content">
  <div class="container">
    <div class="col-lg-8 col-md-8 post-detail" style="margin:0;">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" style="align:center;" role="tablist">
          <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
          </li>
          <li role="presentation"><a href="#classinfo" aria-controls="classinfo" role="tab" data-toggle="tab">수업소개</a>
          </li>
          <li role="presentation"><a href="#teacherinfo" aria-controls="teacherinfo" role="tab" data-toggle="tab">공방위치</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!--tab content #1-->
          <div role="tabpanel" class="tab-pane fade in active" id="overview">

            {%for detail in class_post.classdetail_set.all%} {{detail.class_detail | safe}} {% endfor %}
          </div>


          <div role="tabpanel" class="tab-pane fade" id="classinfo">
            <!--tab content #2: curriculum-->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              {%for curri in class_post.classcurri_set.all%}
              <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter0}}" aria-expanded="true" aria-controls="collapse{{forloop.counter0}}">
                  <div class="panel-heading" role="tab" id="heading{{forloop.counter0}}">
                    <h4 class="panel-title">
                      <!--                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                      STEP {{forloop.counter0}} : {{curri.curri_name}}
                      <!--                </a>-->
                    </h4>
                  </div>
                </a>
                <div id="collapse{{forloop.counter0}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{forloop.counter0}}">
                  <div class="panel-body">
                    {{curri.curri_detail}}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="teacherinfo">


            {% include "map/mapapi.html" %}

          </div>
        </div>

      </div>
    </div>




    <div class="col-lg-4 col-md-4 review-card">




      <div id="customer-review-Carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">

          {%for review in class_post.review_set.all%}
          {% if forloop.counter0 == 0 %}
          <li data-target="#customer-review-Carousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
          {% else %}
          <li data-target="#customer-review-Carousel" data-slide-to="{{forloop.counter0}}"></li>
          {% endif %}
          {%endfor%}
        </ol>

        <div class="carousel-inner" style="max-height:400px;" role="listbox">
          {%for review in class_post.review_set.all%} {%if forloop.counter0 == 0 %}
          <div class="col-lg-12 review{{forloop.counter0}} review item active">
            <h5>수강생 후기</h5>
            <em style="text-align:center;">" {{review.review}} "</em>
            <br>
            <div class="reviewer_photo{{forloop.couter0}}" style="text-align:right;">
              <span style="color:#47c9af;right:0;">{{review.reviewer_name}}</span> <img style="border-radius:50%;height:2em;width:2em;" src="{{MEDIA_URL}}{{review.reviewer_photo}}">
            </div>
          </div>
          {% else%}
          <div class="col-lg-12 review{{forloop.counter0}} review item">
            <h5>수강생 후기</h5>
            <em style="text-align:center;">" {{review.review}} "</em>
            <br>
            <div class="reviewer_photo{{forloop.couter0}}" style="text-align:right;">

              <span style="color:#47c9af;right:0;">{{review.reviewer_name}}</span> <img style="border-radius:50%;height:2em;width:2em;" src="{{MEDIA_URL}}{{review.reviewer_photo}}">
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock %}