<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
제목 : {{class_detial.title}}<br/>
수강료: {{class_detial.price}}<br/>
강의 소개 : {{class_detial.describe}}<br>
강의 날짜 : {{class_detial.lessonday}}<br>
시작 시간 : {{class_detial.start_time}}<br>
종료 시간 : {{class_detial.end_time}}<br>
최소 인원 : {{class_detial.minimum}}<br>
최대 인원 : {{class_detial.maximum}}<br>
연락처 : {{class_detial.contact_tel}}<br>
주소 : {{class_detial.address}}<br>
사진
{%for photo in class_detial.classpic_set.all%}
<img src="{{MEDIA_URL}}{{photo.class_photo}}">
{% endfor %}
</body>
</html>