<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
제목 : {{class_post.title}}<br/>
수강료: {{class_post.price}}<br/>
강의 소개 : {{class_post.describe}}<br>
강의 날짜 : {{class_post.lessonday}}<br>
시작 시간 : {{class_post.start_time}}<br>
종료 시간 : {{class_post.end_time}}<br>
최소 인원 : {{class_post.minimum}}<br>
최대 인원 : {{class_post.maximum}}<br>
연락처 : {{class_post.contact_tel}}<br>
주소 : {{class_post.address}}<br>
사진
{%for photo in class_post.classpic_set.all%}
<img src="{{MEDIA_URL}}{{photo.class_photo}}">
{% endfor %}

상세 정보:
{%for detail in class_post.classdetail_set.all%}
    {{detail.class_detail | safe}}
{% endfor %}

</body>
</html>