{% extends 'base.html' %}
{% load static from staticfiles %}

<!DOCTYPE html>
<title>{% block title %}TOMAKIT 500 error{% endblock %}</title>
<style>
  .container {text-align:center;height:100%;}
</style>

{% block content%}
<div id="wrap">
  <div class="container">
    <div class="well">
      <h5>
        <img class="icon" src='{% static "media/icon/triangle38.png" %}'> {{message}} 이용에 불편을 드려 죄송합니다.
      </h5>
      <p>네트워크 또는 서비스에 일시적인 오류가 발생하였거나, <br>페이지 주소의 변경 혹은 삭제로 인해 현재 사용할 수 없습니다.</p>
      <p class="text-muted">문제가 해결되지 않으면 <span><b>tencity.info@gmail.com</b></span>으로 문의 주시기 바랍니다.</p>
    </div>
  </div>
{% endblock %}
