<!DOCTYPE html>
{% block content %}
{% load static from staticfiles%}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/media/style.css" />
        <title> Log In </title>
    </head>
    
    <body>
        <form method="post" action="{% url 'login_url' %}" autocomplete="off">
            <div class="container">
                <div class="outer">
                    <div class="centered">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username(Email)"
                           value="{{valid_username}}" /><br>
                    <input type="password" name="password" placeholder="Password"
                           value="{{valid_password}}" /><br>
                        <input type = "submit" value="login" />
                        <img src="{% static 'default_profile.jpg' %}" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
{% endblock %}