{%extends "base.html"%}
{% load static from staticfiles %}


<title> {%block title%}로그인{%endblock%}</title>
{%block content%}
  <div id="wrap">

    <div class="container">
      <div id="wrapper">
        <div id="login" class="well">
          <form method="POST" action="{% url 'login_url' %}" class="form-signin" autocomplete="off">
            <input type="hidden" name="next" value="{{next}}"/>
              {% csrf_token %}
            <h2 class="form-signin-heading">로그인</h2><br />
            <label for="username" name="username"> 이메일 </label><br />
            <input type="text" name="username" class="form-control" required
                   placeholder="ex) tomakit@gmail.com" autocomplete="off" value="{{is_authenticated}}" autofocus><br />
            <label for="password" name="password"> 비밀번호 </label> 
            <a href="/user/reset_password" class="fg-pwd pull-right">비밀번호 찾기</a>
         
            <input type="password" name="password" placeholder="Password" class="form-control" required 
                   autocomplete="off" value="{{valid_password}}">            
            <br>

            {% if login_form.errors %}
            <div id="form-error">
              <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>정보를 정확히 입력해주세요:</p>
                <table>
                  {% for field in login_form %}
                  {{ field.errors|striptags }}
                  {% endfor %}
                </table>
              </div>
            </div>
            {% endif %}
<!--
            <p class="kepplogin">
              <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
              <label for="loginkeeping">Keep me logged in</label>
            </p>
-->
            
            <div class="signin-btn-p">
            <p class="change_link">
              아직 회원이 아니신가요?
              <a href="/user/signup/?next=/user/login/" class="to_register">함께해요!</a>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            </div>
          </form>

        </div>
      </div> <!--/wrapper-->
    </div> <!-- /container -->



    </div> <!-- wrap -->
{%endblock%}