{% load static from staticfiles%}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="크래프터 펭귄(Crafter Penguin)은 DIY 라이프 스타일을 즐기는 사람들을 위한 놀이터입니다.">
    <meta name="author" content="Minaminimi">
    <meta name="keywords" contetn="DIY, Craft, DIY kit, 만들기, 수공예" />
    <link rel="stylesheet" href="{{ STATIC_URL }}media/css/mainpage.css">
<!--
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
-->


    <title>Main Page</title>


  {% include "userapp/layout/header.html" %}
  
  <body>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello</h1>
        <p>Navigation sample</p>
        <p>test</p>
<!--
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
-->
      </div>

    </div> 
    <!-- /container -->




    <div id="wrapper">
      <div id="columns">
        <div class="pin">
          <a href="http://riot-web-static.s3.amazonaws.com/images/news/December_2012/2012_12_06_SS94/imaii.jpg"><img src="http://riot-web-static.s3.amazonaws.com/images/news/December_2012/2012_12_06_SS94/imaii.jpg" />
            <p>
              Blitzcrank Paper Craft fan art
            </p></a>
        </div>

        <div class="pin">
          <img src="http://fc04.deviantart.net/fs71/f/2012/316/a/1/league_of_legends___royal_shaco___papercraft_by_kotlesiu-d5krfhp.jpg" />
          <p>
            League of Legends - Royal Shaco - papercraft by kotlesiu 
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
          <p>
            Nullam eget lectus augue. Donec eu sem sit amet ligula 
            faucibus suscipit. Suspendisse rutrum turpis quis nunc 
            convallis quis aliquam mauris suscipit.
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
          <p>
            Nullam eget lectus augue. Donec eu sem sit amet ligula 
            faucibus suscipit. Suspendisse rutrum turpis quis nunc 
            convallis quis aliquam mauris suscipit.
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
          <p>
            Donec a fermentum nisi. Integer dolor est, commodo ut 
            sagittis vitae, egestas at augue. 
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed feugiat consectetur pellentesque. Nam ac elit risus, 
            ac blandit dui. Duis rutrum porta tortor ut convallis.
            Duis rutrum porta tortor ut convallis.
          </p>
        </div>	

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
          <p>
            Nullam eget lectus augue. Donec eu sem sit amet ligula 
            faucibus suscipit. Suspendisse rutrum turpis quis nunc 
            convallis quis aliquam mauris suscipit.
            Duis rutrum porta tortor ut convallis.
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
          <p>
            Nullam eget lectus augue. 
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/8/8kEc1hS.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed feugiat consectetur pellentesque. 
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
          <p>
            Donec a fermentum nisi. Integer dolor est, commodo ut 
            sagittis vitae, egestas at augue. Suspendisse id nulla 
            ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
          <p>
            Donec a fermentum nisi. Integer dolor est, commodo ut 
            sagittis vitae, egestas at augue. Suspendisse id nulla 
            ac urna vestibulum mattis. 
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed feugiat consectetur pellentesque. Nam ac elit risus, 
            ac blandit dui. Duis rutrum porta tortor ut convallis.
          </p>
        </div>	

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/2/2v3VhAp.png" />
          <p>
            Donec a fermentum nisi. Integer dolor est, commodo ut 
            sagittis vitae, egestas at augue. Suspendisse id nulla 
            ac urna vestibulum mattis. 
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
          <p>
            Donec a fermentum nisi. Integer dolor est, commodo ut 
            sagittis vitae, egestas at augue. Suspendisse id nulla 
            ac urna vestibulum mattis. 
          </p>
        </div>

        <div class="pin">
          <img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed feugiat consectetur pellentesque. Nam ac elit risus, 
            ac blandit dui. Duis rutrum porta tortor ut convallis.
          </p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Dropdown signin -->
    <script>
      $(document).ready(function()
                        {
        //Handles menu drop down
        $('.dropdown-menu').find('form').click(function (e) {
          e.stopPropagation();
        });
      });
    </script>
  </body>
</html>