{%extends "base.html"%}
{% load static from staticfiles %}
<title>{%block title%}제휴하기{%endblock%}</title>
{%block content%}
<style>
  .well {margin:auto;margin-top:150px; max-width:800px;}
  #wrap {margin-bottom:0px;}
  textarea {resize:none;}
  button [type="submit"] {right:0;}
</style>

<div id="wrap">    
  <div class="container">
    <div id="class-form" class="well">
      <form method="POST" action="">
        {% csrf_token%}
        {% for field in emailform %}
        {{ field.errors|striptags }}
        {% endfor %}
        <label for="form_address">이메일</label>
        <input class="form-control" name="from_address" type="email" placeholder="연락 가능한 이메일 주소를 입력해주세요"/><br>
        <label for="modile">핸드폰</label>
        <input id="id_modile" name="modile"  type="tel" class="form-control" placeholder="하이픈(-) 없이 숫자만 입력해주세요"><br>
        <label for="content">토마킷과 어떤 아이템을 제휴하고 싶으신가요? 최대한 자세히 설명해주세요.</label>
        <textarea cols="40" class="form-control" id="id_content" name="content" rows="10"></textarea><br>
        <button id="submit" type = "submit" value="이메일 전송하기" class="btn btn-primary">이메일 보내기</button>
      </form>
    </div>
  </div>

</div>
{%endblock%}