{% load static from staticfiles%}
{% include "userapp/layout/header.html"%}

  
  <title>{{profile.nick_name}}님의 프로필</title>

</head>
<body>
  <div id="wrap">
  {% include "userapp/layout/nav.html"%}
  <div class="container">
  <h1>프로파일 화면 power 수정</h1>

  이메일 : {{profile.email}} <br/>
  별명 : {{profile.nick_name}}<br/>
  <img src="{{MEDIA_URL}}{{profile.pro_photo}}" class="img-responsive"/>
  

                      <tr>
                        <td>전화번호 : </td>
                        <td>{{profile.mobile}}</td>
                      </tr>
                      <tr>
                        <td>주소 : </td>
                        <td>{{profile.address}}</td>
                      </tr>


    
    
    </div>
    <div id="push"></div>
    </div> <!-- /#wrap -->

{% include "userapp/layout/footer.html" %}
</body>