<!DOCTYPE html>
<html>

  <head lang="ko">
    <meta charset="utf-8">
    <meta name="viewport" contet="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>

      회원가입 페이지

    </title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom style -->
    <link href="signin.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <style>

      .container {
        width: 500px;
        margin: 100px auto;

      }

      #form-error {
        width: 70%;
        margin: auto auto;
      }

      .centered {
        position: relative;
        display: inline-block;

        width: 100%;
        padding: 1em;

      }

    </style>
  </head>

  {% if profileform.errors %}
  <div id="form-error">
    <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
      <br />
      <table>
        {% for field in profileform %}
        {{ field.errors|striptags }}
        {% endfor %}
      </table>
    </div>
  </div>
  {% endif %}

  <body>
    <form method="POST" action="" enctype="multipart/form-data" class="form-signin">
      <div class="container">
        <div class="jumbotron">                
          <div class="centered">

            {% csrf_token%}

            <h2 class="form-signin-heading">Please sign in</h2><br />

            <label for="id_email" class="sr-only">Email address</label>
            <input id="id_email" name="email" type="email"
                   class="form-control" placeholder="Email address" required autofocus />

            <label for="id_password" class="sr-only">Password</label>
            <input id="id_password" maxlength="100" name="password" type="password" 
                   class="form-control" placeholder="password" required autofocus />
            <label for="id_password_confirm" class="sr-only">Confirm Password</label>
            <input id="id_password_confirm" maxlength="100" name="password_confirm" type="password"
                   class="form-control" placeholder="Confirm password" required autofocus /><br />

              <input id="id_nick" name="nick_name" class="form-control" placeholder="이름"/>
            <label for="id_pro_photo" style="color: gray; font-family: sans-serif;">프로필 이미지(선택):</label>
            <input id="id_pro_photo" name="pro_photo" type="file"/><br /><br />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </div>
        </div> <!--jumbotron -->
      </div> <!-- /container -->
    </form>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>



