{%extends 'base.html'%}
{% load static from staticfiles%}

    <title></title>

<body>
{%block content%}


<style>
.caseboard-banner-top {
    width: 100%;
    height: 200px;
    background: #ffdd87;
    overflow: hidden;
}
    .caseboard-banner-wrapper {
        max-width:900px;
        margin:auto;
    }
    .banner-title{
        padding:40px 0px;
        float:left;
        width:100%;
    }

.banner-title .h2 {
    font-weight: bold;
}
.banner-title .h4 {
    font-weight: normal;
}
.banner-image {
    z-index: 10;
    margin-left: -20%;
    float: left;
}

</style>

<div class="caseboard-banner-top">
    <div class="caseboard-banner-wrapper">
        <div class="banner-title">
            <div class="h2" >클래스 개설사례</div>
            <div class="h4" >여러분의 질문으로 만들어진 클래스들을 만나보세요!</div>
        </div>
        <div class="banner-image">
            <img src="{%static 'media/image/slice/img-3.png'%}">
        </div>
    </div>
</div>
category선택 :::
{% for cate in categoryies %}
    {% if cate.category_current %}
        <a class="active" href="http://{{HTTP_HOST}}/v2/board/caseboard/1/{{cate.category}}/{{cate.state}}">{{cate.category}}</a>//
    {% else %}
        <a href="http://{{HTTP_HOST}}/v2/board/caseboard/1/{{cate.category}}/{{cate.state}}">{{cate.category}}</a>//
    {% endif %}
{% endfor %}<br><br><br>ddddd

지역 선택 :::
{% for state in states %}
    {% if state.state_current %}
            <a class="active" href="http://{{HTTP_HOST}}/v2/board/caseboard/1/{{state.category}}/{{state.state}}">{{state.state}}</a>//
    {% else %}
            <a href="http://{{HTTP_HOST}}/v2/board/caseboard/1/{{state.category}}/{{state.state}}">{{state.state}}</a>//
    {% endif %}

{% endfor%}<br><br>

===========================================================================
{%for case in questions %}
    {% if case.qtype == "I" %}


        프로필 사진:
        <a href="http://{{HTTP_HOST}}/v2/user/profile/{{case.quebox.djgouser.id}}">
        <img src="{{MEDIA_URL}}{{case.quebox.djgouser.userprofile_set.first.propic}}"></a><br>
        이름 : <a href="http://{{HTTP_HOST}}/v2/user/profile/{{case.quebox.djgouser.id}}">
                {{case.quebox.djgouser.last_name}}{{case.quebox.djgouser.first_name}}</a><br>
        <a href="http://{{HTTP_HOST}}/v2/question/item/{{case.quebox.qitempost.id}}">
        질문사진 : <img src="{{MEDIA_URL}}{{case.quebox.item_pic}}"><br>
        카테고리 : {{case.quebox.category.first.category}}<br>
        제목 : {{case.quebox.title}}<br>
        희망 수업일 :{{case.quebox.weekday}}<br>
        지역 : {{case.quebox.state.first.state}}/{{case.quebox.mylocal}}<br>
        총 {{case.quebox.qitempost.solutionbox.count}}개의 수업이 개설되었습니다.</a><br>

====================================================================================
    <br><br>
    {% elif case.qtype == "S" %}
        프로필 사진:
        <a href="http://{{HTTP_HOST}}/v2/user/profile/{{case.quebox.djgouser.id}}">
        <img src="{{MEDIA_URL}}{{case.quebox.djgouser.userprofile_set.first.propic}}"></a><br>
        이름 :
        <a href="http://{{HTTP_HOST}}/v2/user/profile/{{case.quebox.djgouser.id}}">
        {{case.quebox.djgouser.last_name}}{{case.quebox.djgouser.first_name}}</a><br>
        <a href="http://{{HTTP_HOST}}/v2/question/skill/{{case.quebox.qskillpost.id}}">
        카테고리 : {{case.quebox.category.first.category}}<br>
        제목 : {{case.quebox.title}}<br>
        원하는 클래스 :{{case.quebox.skill_class}}<br>
        배우는 목표 :{{case.quebox.skill_goal}}<br>
        배우고 싶은 내용 :{{case.quebox.skill_edu}}<br>
        희망 수업일 :{{case.quebox.weekday}}<br>
        지역 : {{case.quebox.state.first.state}}/{{case.quebox.mylocal}}<br>
        총 {{case.quebox.qskillpost.solutionbox.count}}개의 수업이 개설되었습니다.</a><br>
        <br>
====================================================================================
    <br><br>
    {% endif %}
    >>>>>>>>>>>>>답변 사례>>>>>>>>>>>>>><br>
        답변 타이틀 :{{case.solubox.title}}<br>
        프로필 사진 :<img src="{{MEDIA_URL}}{{case.solubox.djgouser.userprofile_set.first.propic}}"><br>
        이름 : {{case.solubox.djgouser.last_name}}{{case.solubox.djgouser.first_name}}<br>
        클래스 정보 <br>
        지역 {{case.solubox.state.first.state}}/{{case.solubox.mylocal}}<br>
        수업횟수 {{case.solubox.repeat}}회/총 {% widthratio case.solubox.repeat 1 case.solubox.perhour%}시간<br>
        수업요일 {{case.solubox.weekday_time}}<br>
{% endfor %}

----------------paging------------------------------<br>
{% for arrow in arrows %}
    {% if arrow.nav_before %}
        <a href="http://{{HTTP_HOST}}/v2/board/question/{{arrow.befor_page}}/{{cate_current}}/{{state_current}}"><|</a>
    {% endif %}
{% endfor %}
{% for page in pages %}
    {% if page.page_current %}
        <b>{{page.page}}</b>|
    {% else %}
        <a href="http://{{HTTP_HOST}}/v2/board/question/{{page.page}}/{{cate_current}}/{{state_current}}">{{page.page}}</a>|
    {% endif %}
{% endfor %}
{% for arrow in arrows %}
    {% if arrow.nav_next %}
        <a href="http://{{HTTP_HOST}}/v2/board/question/{{arrow.next_page}}/{{cate_current}}/{{state_current}}}">|></a>
    {% endif %}
{% endfor %}

{%endblock%}
</body>