{% load static from staticfiles%}
{% include "userapp/layout/header.html"%}

{% load line_extras_tag%}

<title> 원데이 클래스 {{category}} </title>

<style>
  #wrap {margin-bottom:60px;}
  .row {margin-left:0px;margin-top:40px;margin-top:150px;}

  .thumbnail {border-radius:1px;overflow:hidden;padding:0px;}
  
  .thumbnail img{width:100%;position:relative;margin:0px;}
  .ttt {width:350px;height:15em;z-index:9;overflow:hidden;}
  .ttt img:hover {opacity:0.3;}
  .caption {position:relative; z-index: 11; background-color:white;margin:0;width:100%;height:6rem;}
  .tag {color:lightgray;margin:0;}
  .title {color:black;margin:0;font-weight: 600;}
  .ellipsis {width:80%;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;margin:0;}
  .title:hover {color:skyblue;text-decoration:none;margin:0;}
/*  .caption button {opacity:0;border:none;}*/
  .caption button{border-radius: 15px; border:none;
    background-color:orange;font-size:15px;color:white;margin-right:1px;margin-top:-8px;width:30px;height:30px;padding:0;text-align:center;}
  .caption button:hover {background-color:red; color:white;}

  .arrow {max-width:500px;margin:auto;margin-top:30px;font-size:20px;text-align: center;font-family:Verdana;}
  .arrow .glyphicon:hover {opacity:1;}
  .arrow .glyphicon {color:#66FFCC;opacity:.5;}
  .arrow button{border-radius: 20px; border:none; margin-top:-5px; background-color:#FFF;}
  .arrow-top {width:200px;text-align:center;margin-top:50px;border:1px solid #47C9AF;}

  
</style>

</head>

<body>
  <div id="wrap">
    {% include "userapp/layout/nav.html"%}
    <div class="container">
      {% include "userapp/layout/loader.html"%}
      <div class="row">
        {% for item in catgitem%}
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="itembox">
            <div class="thumbnail">
              {% if item.type.type_name == "class"%}
<!--              <span class="tag">CLASS</span>-->
              <!--classpost-->
              <div class="ttt">
              <a href="http://{{HTTP_HOST}}/post/class/{{item.id}}">
                <img src="{{MEDIA_URL}}{{item.postpic_set.first.post_photo}}"></a>
              </div>
              
              <div class="caption">
                <div class="ellipsis"><a href="http://{{HTTP_HOST}}/post/class/{{item.id}}" class="title">{{item.title}}</a></div>
                &#8361;{{item.price}}<p class="sr-only">원</p> 
                <span class="tag"> · CLASS</span>
                
                {% if user.is_authenticated %}
                <a href="http://{{HTTP_HOST}}/post/class/{{item.id}}">
                {% else %}
                <a href="/user/login">
                  {% endif %}
                <button class="btn btn-default btn-sm pull-right">★</button>
                </a>
                {% elif item.type.type_name == "kit"%}
                <!--kitpost-->
<!--                  <span class="tag">KIT</span>-->
                <div class="ttt">
                <a href="http://{{HTTP_HOST}}/post/kit/{{item.id}}">
                  <img src="{{MEDIA_URL}}{{item.postpic_set.first.post_photo}}"></a>
                </div>
                <div class="caption">
                  <div class="ellipsis">
                    <a href="http://{{HTTP_HOST}}/post/kit/{{item.id}}" class="title">{{item.title}}</a></div>
                  &#8361;{{item.price}}<p class="sr-only">원</p> 
                  <span class="tag"> · KIT</span>
                  
                  {% if user.is_authenticated %}
                  <a href="http://{{HTTP_HOST}}/post/class/{{item.id}}">
                    {% else %}
                    <a href="/user/login">
                      {% endif %}
                      <button class="btn btn-default pull-right">★</button>
                    </a>

                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor%}
              
<!--
              <script type="text/javascript">    
                $(document).ready(function() {
                    $(".ttt").each(function() {
                    
                      var width = $(".ttt img").width();
                      var height = $(".ttt img").height();

                      if (height > width) {
                      $(".ttt").addClass("fixed-height");
                    }
                    });
                  });
              </script>
-->
              
        </div>
          <!-- paginations -->
            <hr class="arrow-top">
            <div class="arrow">
              
          {% for arrow in arrows%}
              {% if arrow.nav_before %}
            <a href="http://{{HTTP_HOST}}/idealine/{{arrow.befor_page}}/"> <span class="glyphicon glyphicon-chevron-left pull-left" aria-hidden="true"></span></a>
              {% endif %}
          {% endfor %}

          {% for page in pages %}
            {% if page.page_current %}
              <button class="btn btn-default btn-sm">{{page.page}}</button>
            {% else %}
              <a href="http://{{HTTP_HOST}}/idealine/category/{{category}}/{{page.page}}/">
                <button class="btn btn-default btn-sm">{{page.page}}</button>
              </a>
            {% endif %}
          {% endfor %}
          {% for arrow in arrows%}
              {% if arrow.nav_next %}
                <a href="http://{{HTTP_HOST}}/idealine/{{arrow.next_page}}/"> <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
              {% endif %}
          {% endfor %}
            </div>
      </div>
      <div id="push"></div>
    </div> <!-- /#wrap -->
    {% include "userapp/layout/footer.html" %}
  </div>
</body>
</html>