{% load static from staticfiles%}
{% include "userapp/layout/header.html"%}

{% load line_extras_tag%}

<title> 원데이 클래스 {{category}} </title>

<style>
  #wrap {margin-bottom:60px;}
  .row {margin-left:0px;}

  .thumbnail {border-radius:1px; height:34vh;}
  .thumbnail img{width:100%; position:absolute;height:100%;margin: 0px;}
  .ttt img:hover {opacity: 0.3;}
  .thumbnail .ttt {height:28vh; position:relative; z-index:10; overflow:hidden;}
  .caption {position:relative; z-index: 11; background-color:white;bottom:11%;}


  .caption button {opacity:0; position: relative; z-index:100; bottom:0; right:0;}
  .caption button:hover {position:relative; border-radius: 0px; z-index:100; bottom:0px; right:0; border:none; background-color:#FFCC00; opacity:1;}

  .tag {color:lightgray;}
  .title {color:dimgray;}
  .ellipsis {width:100%;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
  .title:hover {color:skyblue;text-decoration:none;}

</style>

</head>

<body>
  <div id="wrap">
    {% include "userapp/layout/nav.html"%}

    <div class="container">
      <div class="row">
        {% for item in catgitem%}
        <div class="col-xs-6 col-md-4 col-lg-4">
          <div class="itembox">


            <div class="thumbnail">
              {% with item|classname as type %}
              {% if type == "ClassPost"%}
              <!--classpost-->
              <div class="ttt">
              <a href="http://{{HTTP_HOST}}/class/{{item.id}}">
                <img src="{{MEDIA_URL}}{{item.classpic_set.first.class_photo}}"></a>
              </div>
              
              <div class="caption">
                <div class="ellipsis"><a href="http://{{HTTP_HOST}}/class/{{item.id}}" class="title">{{item.title}}</a></div>
                &#8361;{{item.price}}<p class="sr-only">원</p> <span class="tag"> · CLASS</span>
                
                {% if user.is_authenticated %}
                <a href="http://{{HTTP_HOST}}/class/{{item.id}}">
                {% else %}
                <a href="/user/login">
                  {% endif %}
                <button class="btn btn-default btn-sm pull-right">신청하기</button>
                </a>



                {% elif type == "Kit_Post"%}
                <!--kitpost-->
                <div class="ttt">
                <a href="http://{{HTTP_HOST}}/kit/{{item.id}}">
                  <img src="{{MEDIA_URL}}{{item.kit_photo_set.first.kit_photo}}"></a>
                </div>
                <div class="caption">
                  <div class="ellipsis">
                    <a href="http://{{HTTP_HOST}}/kit/{{item.id}}" class="title">{{item.title}}</a></div>
                  &#8361;{{item.price}}<p class="sr-only">원</p> <span class="tag"> · KIT</span>
                  {% if user.is_authenticated %}
                  <a href="http://{{HTTP_HOST}}/class/{{item.id}}">
                    {% else %}
                    <a href="/user/login">
                      {% endif %}
                      <button class="btn btn-default btn-sm pull-right">구매하기</button>
                    </a>

                  {% endif %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>

          {% endfor%}
        </div>
      </div>
      <div id="push"></div>
    </div> <!-- /#wrap -->
    {% include "userapp/layout/footer.html" %}
  </div>
  </body>