
{% load static from staticfiles%}
{% include "userapp/layout/header.html"%}
{% include "userapp/layout/nav.html"%}

{% load line_extras_tag%}

<title> AmonHand </title>
</head>

<body>
  <div class="container">
 idealine
    {% for item in lineitem%}
        {% with forloop.counter0|big_mid as check %}
            {{check}}
            {% if check == 0 %}
            <div class="big_box">
            {% else %}
            <div class="mid_box">
            {% endif%}
        {% endwith %}
                <div class="itembox">
                    {% with item|classname as type %}
                        {% if type == "ClassPost"%}
                            <!--classpost-->
                            <a href="http://{{HTTP_HOST}}/class/{{item.id}}">
                                <img src="{{MEDIA_URL}}{{item.classpic_set.first.class_photo}}"><br></a>
                  title : <a href="http://{{HTTP_HOST}}/class/{{item.id}}">{{item.title}}</a><br>
                            종류 : ""CLASS""<br>
                            가격 :{{item.price}} 원<br>

                        {% elif type == "Kit_Post"%}
                            <!--kitpost-->
                            <a href="http://{{HTTP_HOST}}/kit/{{item.id}}">
                                <img src="{{MEDIA_URL}}{{item.kit_photo_set.first.kit_photo}}"><br></a>
                  title:<a href="http://{{HTTP_HOST}}/kit/{{item.id}}">{{item.title}}</a><br>
                            ""KIT""<br>
                            가격 :{{item.price}}<br>
                            
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
    {% endfor%}
    </div>
  </div>
</body>

  
  {% include 'userapp/layout/footer.html' %}