{% load static from staticfiles%}
{% include "userapp/layout/header.html"%}

{% load line_extras_tag%}


<title> TOMAKIT </title>
<link rel="stylesheet" type="text/css" href="{%static 'media/css/loader.css'%}">
<style>
  #wrap {margin-bottom:60px;}
  .itembox {max-width:600px;margin:auto;}
  .thumbnail {padding:10px;border-radius:1px;}
  img{width:100%;}
  img:hover{opacity:0.5;}
  .tag {color:lightgray;}
  .title {color:dimgray;}
  .title:hover {color:skyblue;text-decoration:none;}
  .arrow {max-width:500px;margin:auto;margin-top:30px;font-size:50px;}
  .glyphicon {color:#47c9af;opacity:.5;}
  .glyphicon:hover {opacity:1;}
</style>

</head>

<body>
  <div id="wrap">
    {% include "userapp/layout/nav.html"%}
    <div class="container">
      {%include "userapp/layout/loader.html"%}

      <script>
        $(function() {
          $("img.lazy").lazyload({effect : "fadeIn"});
        });
      </script>
      
      
      <div class="col-md-12 idealine">
        {% for item in lineitem %}
        {% with forloop.counter0|big_mid as check %}
        {%comment%} {{check}} {%endcomment%}
        {% if check == 0%}
        <div class="big_box">
          {% else %}
          <div class="mid_box">
            {% endif%}
            {% endwith %}
            <div class="itembox">
              <div class="thumbnail">
                {% if item.type.type_name == "class"%}
                <!--classpost-->
                <a href="http://{{HTTP_HOST}}/post/class/{{item.id}}">
                  <img class="lazy img-responsive{{forloop.counter0}}" data-original="{{MEDIA_URL}}{{item.postpic_set.first.post_photo}}" alt="{{item.title}}"><br></a>
                <a href="http://{{HTTP_HOST}}/post/class/{{item.id}}" class="title">{{item.title}}</a><br>
                &#8361;{{item.price}}<p class="sr-only">원</p> <span class="tag"> · CLASS</span>

                {% elif item.type.type_name == "kit"%}
                <!--kitpost-->
                <a href="http://{{HTTP_HOST}}/post/kit/{{item.id}}">
                  <img class="lazy img-responsive{{forloop.counter0}}" data-original="{{MEDIA_URL}}{{item.postpic_set.first.post_photo}}" alt="{{item.title}}"><br></a>
                <a href="http://{{HTTP_HOST}}/post/kit/{{item.id}}" class="title">{{item.title}}</a><br>
                &#8361;{{item.price}}<p class="sr-only">원</p> <span class="tag"> · KIT</span>
            {% endif %}
              </div> <!-- /.thumbnail -->
            </div> <!-- .itembox -->
          </div>
            {% endfor%}          
        </div>
        <div class="arrow">
          {% for arrow in arrows%}
              {% if arrow.nav_before %}
        <a href="http://{{HTTP_HOST}}/idealine/{{arrow.befor_page}}/"> <span class="glyphicon glyphicon-chevron-left pull-left" aria-hidden="true"></span></a>
              {% endif %}
          {% endfor %}
          {% for arrow in arrows%}
              {% if arrow.nav_next %}
        <a href="httP://{{HTTP_HOST}}/idealine/{{arrow.next_page}}/"> <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></a>
              {% endif %}
          {% endfor %}
        </div> <!--/.arrow-->

      </div> <!-- /.idealine -->
      <div id="push"></div>
  </div> <!-- /.container -->

</div> <!--/#wrap-->
{% include 'userapp/layout/footer.html' %}
</body>
</html>