{% extends 'base.html'%}
{% load static from staticfiles %}
{% load v2d1_board_tags %}
<title>{%block title%}Tomakit-클래스 제안하기{%endblock%}</title>
{%block style%}
<style>

    @media screen and (max-width:767px) {
        .tmk-search {
            max-width: 405px;
            margin: auto;
        }
    }

    .card-list li {
        height: 380px;
        margin: 15px;
        padding: 0;
        background:#fff;
        display:inline-block;
        vertical-align: top;
        border: 1px solid #eee;
        border-radius:4px;
        float:left;
        list-style-type: none;
    }
    @media screen and (min-width:768px) {
        .card-list li {width:370px;}
    }

    @media screen and (max-width:767px) {
        .card-list li {
            float: none !important;
            width: 100%;
            margin:15px 0;
        }
    }

    .tmk-card-info {height:230px;padding:10px;overflow:hidden;margin-bottom:15px;}
    .tmk-card-info div {margin:25px auto;}

    .tmk-card-img-profile {
        width: 50px;
        height: 50px;
        margin: auto !important;
        margin-top: 0;
    }
    .tmk-card-like {white-space: nowrap;overflow:hidden;}

</style>
{%endblock%}
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="container">
    <div class="tmk-page-header">
        <div class="tmk-h2 tmk-title">클래스 제안하기</div>
        <div class="tmk-h4">찾으시는 클래스가 없다면, 지금 바로 제안해보세요!<br>
            여러분들의 줄서기 투표를 거쳐 인기있는 클래스가 개설됩니다</div>

        <a class="btn btn-primary" href="http://{{HTTP_HOST}}/v2.1/demand/create">클래스 제안</a>
        <div class="tmk-page-pick col-md-12"></div>
        <form method="GET" action="{% url 'demnad_filter_redirct_v2d1' %}">
            {%csrf_token%}
            <div class="tmk-search cover">
                <div class="tmk-qitem-selecter-wrapper">
                    <div class="selecter cover" tabindex="0">
                        <select id="category" name="category" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                            <!--onchange="this.form.submit()"-->
                            <option value="all"
                                    {% if cate_current == 'all' %}selected{% endif %}>모든 카테고리</option>
                            <option value="cate_1"
                                    {% if cate_current == 'cate_1' %}selected{% endif %}>가죽공예</option>
                            <option value="cate_2"
                                    {% if cate_current == 'cate_2'%}selected{% endif %}>플라워아트</option>
                            <option value="cate_3"
                                    {% if cate_current == 'cate_3'%}selected{% endif %}>전통공예/한복</option>
                            <option value="cate_4"
                                    {% if cate_current == 'cate_4'%}selected{% endif %}>목공예</option>
                            <option value="cate_5"
                                    {% if cate_current == 'cate_5'%}selected{% endif %}>금속공예/매듭</option>
                            <option value="cate_6"
                                    {% if cate_current == 'cate_6'%}selected{% endif %}>재봉틀/뜨개질</option>
                            <option value="cate_7"
                                    {% if cate_current == 'cate_7'%}selected{% endif %}>캘리그라피</option>
                            <option value="cate_8"
                                    {% if cate_current == 'cate_8'%}selected{% endif %}>그리기</option>
                            <option value="cate_9"
                                    {% if cate_current == 'cate_9'%}selected{% endif %}>베이킹/요리</option>
                            <option value="cate_10"
                                    {% if cate_current == 'cate_10'%}selected{% endif %}>화장품/향기</option>
                            <option value="cate_11"
                                    {% if cate_current == 'cate_11'%}selected{% endif %}>기타</option>
                        </select>
                        <span class="selecter-selected category-selected" onclick="btnClick(this)">카테고리 선택</span>
                        <!--onchange="this.form.submit()"-->
                        <div class="selecter-options" data-value="">
                            <span class="selecter-item selected category-selected" data-value="" onclick="selecting(this, '')">카테고리</span>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'all')">모든 카테고리</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_1')">가죽공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_2')">플라워아트</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_3')">전통공예/한복</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_4')">목공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_5')">금속공예/매듭</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_6')">재봉틀/뜨개질</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_7')">캘리그라피</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_8')">그리기</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_9')">베이킹/요리</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_10')">화장품/향기</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_11')">기타</div>
                        </div>
                    </div>
                </div>

                <div class="tmk-qitem-selecter-wrapper">
                    <div class="selecter cover" tabindex="0">
                        <!--onchange="this.form.submit()"-->
                        <select id="state" name="state" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                            <option value="all"
                                    {% if state_current == 'all' %}selected{% endif %}>모든 지역</option>
                            <option value="zone_1"
                                    {% if state_current == 'zone_1'%}selected{% endif %}>도봉/성북/동대문...</option>
                            <option value="zone_2"
                                    {% if state_current == 'zone_2'%}selected{% endif %}>은평/마포/서대문...</option>
                            <option value="zone_3"
                                    {% if state_current == 'zone_3'%}selected{% endif %}>종로/중구/용산...</option>
                            <option value="zone_4"
                                    {% if state_current == 'zone_4'%}selected{% endif %}>양천/영등포/동작...</option>
                            <option value="zone_5"
                                    {% if state_current == 'zone_5'%}selected{% endif %}>송파/강남/서초...</option>
                            <option value="zone_6"
                                    {% if state_current == 'zone_6'%}selected{% endif %}>수원/안산/안양...</option>
                            <option value="zone_7"
                                    {% if state_current == 'zone_7'%}selected{% endif %}>성남/남양주/용인...</option>
                            <option value="zone_8"
                                    {% if state_current == 'zone_8'%}selected{% endif %}>파주/의정부/고양...</option>
                            <option value="zone_9"
                                    {% if state_current == 'zone_9'%}selected{% endif %}>인천/부천</option>
                            <option value="etc"
                                    {% if state_current == 'etc'%}selected{% endif %}>기타</option>
                        </select>

                        <span class="selecter-selected state-selected" onclick="btnClick(this)">지역 선택</span>
                        <div class="selecter-options" data-value="">
                            <span class="selecter-item selected state-selected" data-value="" onclick="selecting(this, '')">카테고리</span>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'all')">모든 지역</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_1')">도봉/성북/동대문...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_2')">은평/마포/서대문...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_3')">종로/중구/용산...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_4')">양천/영등포/동작...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_5')">송파/강남/서초...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_6')">수원/안산/안양...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_7')">성남/남양주/용인...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_8')">파주/의정부/고양...</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'zone_9')">인천/부천</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'etc')">기타</div>
                        </div>
                    </div>
                </div>

                <div class="hidden-xs" style="display:inline;vertical-align:text-bottom;">
                    <button class="btn btn-info" type="submit" style="outline:1px solid transparent!important;" value="검색">검색</button>
                </div>
                <div class="visible-xs">
                    <button class="btn btn-info btn-block" type="submit" value="검색">검색</button>
                </div>
            </div>
        </form>
    </div>

    <!--<div class="tmk-search">-->



    <div class="card-list" id="card-list">
        <div id="card-list-wrapper">
            <ul>
                {% for class in classlist %}
                <li class="tmk-class-card">
                    <a href="http://{{HTTP_HOST}}/v2.1/demand/{{class.id}}" style="color: #565a5C;">
                        <div class="tmk-card-info">
                        <div style="color:#82888A">{{class.category|cate2han}}</div>
                        <div class="h4" style="text-overflow:ellipsis;">{{class.title}}</div>
                        <div class="info-describe" style="white-space: normal;word-break: break-all; text-overflow:ellipsis;">{{class.descript}}</div>
                        </div>
                    </a>

                    <div class="" style="text-align:left;padding:0 20px;text-overflow:ellipsis;">
                        <div style="margin:10px auto;height:40px;overflow:hidden;color:#84CDC2;">{{class.demand_post.goal|goaltag2han}}</div>
<div class="tmk-card-like" style=" text-overflow:ellipsis;">
                    {% if request.user.t2profile_set.first.mobli_able %}
                    <a href="{% url 'lineup_pageing_v2d1' class.id page_currunt cate_current state_current%}?lineup_next=/v2.1/board/demand_list/{{page_currunt}}/{{cate_current}}/{{state_current}}">
                        {% else%}
                        <a href="{% url 'mobli_require_v2d1' class.id %}?lineup_next=/v2.1/board/demand_list/{{page_currunt}}/{{cate_current}}/{{state_current}}">
                            {% endif %}
                            {% if request.user in class.inline_users.all %}
                            <button class="btn btn-primary">
                                <img style="width:18px;vertical-align:text-top;color:#82888A;" src="{%static 'media/image/slice/icon-line_wh.png'%}">&nbsp; <span class="h4">줄서기 취소
                                {% else %}
                                <button class="btn btn-default">
                                    <img style="width:18px;vertical-align:text-top;" src="{%static 'media/image/slice/icon-line_gr.png'%}">&nbsp; <span class="h4">줄서기
                                    {% endif %}
                                    <!--줄선 사람 숫자-->
                                    {% if class.inline_users.count %}
                                    ({{class.inline_users.count}})</span></button>
                                {% else %}
                                (0)</span></button>
                            {% endif %}
                            {% if class.inline_users.count %}
                            {% for user in class.inline_users.all %}
                            <a href="http://{{HTTP_HOST}}/v2.1/user/profile/{{user.id}}" class="tmk-card-img-profile">
                                <div class="card-link">
                                    <img src="{{MEDIA_URL}}{{user.t2profile_set.first.pro_pic}}">
                                </div>
                            </a>
                            {% endfor %}
                            {% endif %}
                        </a>
                    </div>
                    </div>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <!--pagination-->
    <div class="col-md-12">
        <div class="pagination-wrapper">

            <ul class="pagination">

                {% for arrow in arrows %}
                {% if arrow.nav_before %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/demand_list/{{arrow.befor_page}}/{{cate_current}}/{{state_current}}">《</a></li>
                {% endif %}
                {% endfor %}
                {% for page in pages %}
                {% if page.page_current %}
                <li class="active"><a>{{page.page}}</a></li>
                {% else %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/demand_list/{{page.page}}/{{cate_current}}/{{state_current}}">{{page.page}}</a></li>
                {% endif %}
                {% endfor %}
                {% for arrow in arrows %}
                {% if arrow.nav_next %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/demand_list/{{arrow.next_page}}/{{cate_current}}/{{state_current}}">》</a></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </div>
        </div>
</div>
{%endblock%}
{%block script%}
<script src='{%static "media/js/tmk-selecter.js" %}'></script>
{%endblock%}