{% extends 'base.html' %}
{% load static from staticfiles%}
{% load line_extras_tag%}
<title>{%block title%}토마킷 :: 기초부터 공방 창업까지. 현업 작가들의 공예 수업을 만나보세요.{%endblock%}</title>
{%block style%}
<style>
    .tmk-main-banner {background-image:url({%static 'media/image/slice/bg-1.png'%});
        float:left;
        position:relative;
        background-size: cover;
        background-repeat:no-repeat;}
    @media screen and (min-width:768px) {
        #navbar {
            background: transparent;
        }
        .navbar-default {
            background-color: transparent;
            border-color: transparent;
            color: #fff;
        }
        .navbar-nav > li > a {
            color: white!important;
        }
        .navbar-nav > li > button {
            color: white!important;
        }
    }
</style>
{%endblock%}

{%block nav%}
{%include 'component/navigation/_head_nav_custom.html'%}
{%endblock%}
{% block content %}
<!--<div class="how-to-tmk"> </div>-->
<div class="tmk-main-banner">
    <div class="main-banner-title">특별한 일상을 만들다<br>
        핸드메이드 클래스 찾을 땐, 토마킷</div>
    <div class="main-banner-subtitle">토마킷이 편한 시간, 가까운 공방의 클래스를 찾아드려요!</div>

    <button type="button" class="btn btn-primary how-to-tomakit" id="tomatoma">토마킷 이용방법</button>
    <!--<video autoplay loop muted poster="https://d3ce7jb7ih53ua.cloudfront.net/verloc_new_design/main_page/first-page-1.png" id="bgvid">-->
    <!--<source src="https://d3ce7jb7ih53ua.cloudfront.net/verloca_new_design/main_page/verlocal+header_3.mp4"></source>-->
    <!--</video>-->
    <!--<div></div>-->

</div>

<div class="tmk-main-body">
    <div class="tmk-main-border">
        <div class="tmk-h3">반짝 반짝, 새로운 클래스</div>
    </div>
    <!--<div class="tmk-main-picks">-->
    <!--<div class="picks-title rows">-->
    <!--<span class="col-md-2"></span>-->
    <!--<span class="title-main col-md-8" style="font-family:AppleSDGothicNeo-Regular;">매일 반복되는 일상 속에서 직접 창조한다는 것은 얼마나 가슴뛰는 일인가요?</span>-->
    <!--</div>-->
    <!--</div>-->

    <div class="tmk-sub-body">
        <div class="picks-cards rows">
            <ul>
                <!--<a href="http://{{HTTP_HOST}}/v2/question/que_bridge" style="color:black;">-->
                    <!--<li class="tmk-picks-main" style="background:url({%static 'media/image/slice/card1.png'%});">-->
                        <!--<div class="tmk-picks-title">핸드메이드, 간편하게 의뢰하세요<br>-->
                            <!--<div class="tmk-picks-subtitle">핸드메이드를 찾고 계신가요? 토마킷에 의뢰해보세요<br>가까운 곳, 편안한 시간의 클래스를 무료로 찾아드려요</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</a>-->
                {%for bestclass in bestlist%}
                <li class="card-qitem counter{{forloop.counter}}">

                    <br>
                    수업 타입 ::{{bestclass.best_classcard.classtype}}<br><br>
                    사진::<img src="{{MEDIA_URL}}{{bestclass.best_classcard.t2classpic_set.first.image}}"><br><br>
                    수업호스트::{{bestclass.best_classcard.user}}<br><br>
                    수업제목::{{bestclass.best_classcard.title}}<br><br>
                    수업소개::{{bestclass.best_classcard.intro_line}}<br><br>
                    횟수::{{bestclass.best_classcard.repeat}}회/수업당시간::{{bestclass.best_classcard.perhour}}시간<br><br>
                    {{bestcalss.best_classcard.price}}
                    ---------------------------------------------------------

                </li>

                {% endfor %}
                <!--<a href="http://{{HTTP_HOST}}/v2/board/caseboard/" style="color:black;">-->
                    <!--<li class="tmk-picks-main" style="background:url({%static 'media/image/slice/card2.png'%});">-->
                        <!--<div class="tmk-picks-title">지금까지 어떤 클래스가 만들어 졌을까요?<br>-->
                            <!--<div class="tmk-picks-subtitle">다른 사람들의 클래스를 살펴보며 영감을 나누고 창의력을 키워보세요!</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</a>-->
            </ul>

        </div>

        <div style="float:left;width:100%;">
            <a href="http://{{HTTP_HOST}}/v2/board/caseboard"><button class="btn btn-primary" style="font-size:16px;margin:32px auto 0px;height:50px;display:block;">클래스 개설사례 보러가기</button></a>
        </div>
    </div>


</div>
{%comment%}
<div class="tmk-footer-banner" style="background:url({%static 'img/img-1.png'%})">

    <div class="footer-frame" style="left:0px!important;"></div>

    <div class="footer-banner-title">토마킷은 32명의 핸드메이드 작가님과 함께하고 있습니다
        <div class="footer-banner-subtitle">배우고 싶은 클래스가 있으세요? 친절한 작가님들을 만나보세요!</div>
    </div>
    <ul class="footer-banner-ul">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="footer-banner-ul2">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{%endcomment%}
{%endblock %}

{%comment%}
{% load static from staticfiles%}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
인덱스 페이지
{%for bestclass in bestlist%}
    <br>
    수업 타입 ::{{bestclass.best_classcard.classtype}}<br><br>
    사진::<img src="{{MEDIA_URL}}{{bestclass.best_classcard.t2classpic_set.first.image}}"><br><br>
    수업호스트::{{bestclass.best_classcard.user}}<br><br>
    수업제목::{{bestclass.best_classcard.title}}<br><br>
    수업소개::{{bestclass.best_classcard.intro_line}}<br><br>
    횟수::{{bestclass.best_classcard.repeat}}회/수업당시간::{{bestclass.best_classcard.perhour}}시간<br><br>
    {{bestcalss.best_classcard.price}}
---------------------------------------------------------
{% endfor %}
<!--<a href="http://{{HTTP_HOST}}/v2/user/profile/{{case.quebox.djgouser.id}}">
    <img src="{{MEDIA_URL}}{{case.quebox.djgouser.userprofile_set.first.propic}}"></a>-->
</body>
</html>
{%endcomment%}