{% extends 'base.html'%}
{% load static from staticfiles %}
{% load v2d1_board_tags %}
<title>{%block title%}Tomakit-클래스 살펴보기{%endblock%}</title>
{%block style%}
<style>
    @media screen and (max-width:767px) {
        .tmk-search {
            max-width: 405px;
            margin: auto;
        }
    }

    /*.tmk-card-link {color:#565A5C;}*/

    .tmk-card-img-profile {
        margin-top: -30px;
    }
    /*#tmk-card-img {transition:opacity 0.3s ease 0.1s;}*/
    /*#tmk-card-img:hover { opacity:0.8;}*/
    /*#tmk-img-pro {transition:none;}*/
    /*@media screen and (max-width:767px) {*/
        /*.card-list li {width:100%!important;margin:0px;left:0;right:0;margin-bottom:15px;}*/
    /*}*/
    /*@media screen and (min-width:768px) and (max-width:861px) {*/
        /*html {min-width:870px!important;}*/
    /*}*/
    /*@media screen and (min-width:861px) and (max-width:1264px) {*/
        /*/!*html {min-width:1240px;}*!/*/
        /*#card-list {text-align:center!important;margin:0px auto!important;max-width:800px;}*/
        /*#card-list-wrapper {margin:0px auto!important;}*/
    /*}*/
    /*@media screen and (min-width:1265px) {*/
        /*#card-list {text-align:center!important;margin:0px auto!important;max-width:1200px;}*/
    /*}*/
    /*.tmk-class-type-label {*/
        /*/!*text-align:left;*!/*/
        /*position: absolute;*/
        /*top: 20px;*/
        /*right: 15px;*/
        /*z-index: 1;*/
    /*}*/

    /*.tmk-card-info {margin-top:15px;}*/
    /*.tmk-card-info > div {padding:0px 5px;overflow:hidden;white-space: nowrap;}*/
    /*.dp-label {*/
        /*margin-top: 30px;*/
        /*margin-left: 7%;*/
        /*border-top: 1px solid #ddd;*/
        /*/!*min-width: 340px;*!/*/
        /*max-width: 86%;*/
    /*}*/
    /*.dp-label > div{line-height:20px;display:inline;vertical-align:-webkit-baseline-middle}*/
    /*.dp-label-left {left:0px;min-width:20%;margin-right:35%;}*/
    /*.dp-label-right {font-size:18px;min-width:20%;text-align:right;font-weight:bold;color:#82888A}*/
</style>
{%endblock%}
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="container">
    <!--<div class="tmk-body-wrapper">-->
        <div class="tmk-page-header">
            <div class="tmk-h2 tmk-title">클래스 살펴보기</div>
            <form method="GET" action="{% url 'class_filter_redirct_v2d1' %}">
                {%csrf_token%}
                <div class="tmk-search cover">
                    <div class="tmk-qitem-selecter-wrapper">
                        <div class="selecter cover" tabindex="0">
                            <select name="category" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                <option value="all"
                                        {% if cate_current == 'all' %}selected{% endif %}>모든 카테고리</option>
                                <option value="cate_1"
                                        {% if cate_current == 'cate_1' %}selected{% endif %}>가죽공예</option>
                                <option value="cate_2"
                                        {% if cate_current == 'cate_2'%}selected{% endif %}>플라워아트</option>
                                <option value="cate_3"
                                        {% if cate_current == 'cate_3'%}selected{% endif %}>전통공예/한복</option>
                                <option value="cate_4"
                                        {% if cate_current == 'cate_4'%}selected{% endif %}>목공예</option>
                                <option value="cate_5"
                                        {% if cate_current == 'cate_5'%}selected{% endif %}>금속공예/매듭</option>
                                <option value="cate_6"
                                        {% if cate_current == 'cate_6'%}selected{% endif %}>재봉틀/뜨개질</option>
                                <option value="cate_7"
                                        {% if cate_current == 'cate_7'%}selected{% endif %}>캘리그라피</option>
                                <option value="cate_8"
                                        {% if cate_current == 'cate_8'%}selected{% endif %}>그리기</option>
                                <option value="cate_9"
                                        {% if cate_current == 'cate_9'%}selected{% endif %}>베이킹/요리</option>
                                <option value="cate_10"
                                        {% if cate_current == 'cate_10'%}selected{% endif %}>화장품/향기</option>
                                <option value="cate_11"
                                        {% if cate_current == 'cate_11'%}selected{% endif %}>기타</option>
                            </select>
                            <span class="selecter-selected" onclick="btnClick(this)">카테고리 선택</span>
                            <div class="selecter-options" data-value="">
                                <!--<span class="selecter-item selected" data-value="" onclick="selecting(this, '')">카테고리</span>-->
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'all')">모든 카테고리</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_1')">가죽공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_2')">플라워아트</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_3')">전통공예/한복</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_4')">목공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_5')">금속공예/매듭</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_6')">재봉틀/뜨개질</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_7')">캘리그라피</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_8')">그리기</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_9')">베이킹/요리</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_10')">화장품/향기</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_11')">기타</div>
                            </div>
                        </div>
                    </div>
                    <div class="tmk-qitem-selecter-wrapper">
                        <div class="selecter cover" tabindex="0">
                            <select name="state" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                <option value="all"
                                        {% if state_current == 'all' %}selected{% endif %}>모든 지역</option>
                                <option value="zone_1"
                                        {% if state_current == 'zone_1'%}selected{% endif %}>도봉/성북/동대문...</option>
                                <option value="zone_2"
                                        {% if state_current == 'zone_2'%}selected{% endif %}>은평/마포/서대문...</option>
                                <option value="zone_3"
                                        {% if state_current == 'zone_3'%}selected{% endif %}>종로/중구/용산...</option>
                                <option value="zone_4"
                                        {% if state_current == 'zone_4'%}selected{% endif %}>양천/영등포/동작...</option>
                                <option value="zone_5"
                                        {% if state_current == 'zone_5'%}selected{% endif %}>송파/강남/서초...</option>
                                <option value="zone_6"
                                        {% if state_current == 'zone_6'%}selected{% endif %}>수원/안산/안양...</option>
                                <option value="zone_7"
                                        {% if state_current == 'zone_7'%}selected{% endif %}>성남/남양주/용인...</option>
                                <option value="zone_8"
                                        {% if state_current == 'zone_8'%}selected{% endif %}>파주/의정부/고양...</option>
                                <option value="zone_9"
                                        {% if state_current == 'zone_9'%}selected{% endif %}>인천/부천</option>
                                <option value="etc"
                                        {% if state_current == 'etc'%}selected{% endif %}>기타</option>
                            </select>
                            <span class="selecter-selected" onclick="btnClick(this)">지역 선택</span>
                            <div class="selecter-options" data-value="">
                                <!--<span class="selecter-item selected" data-value="" onclick="selecting(this, '')">카테고리</span>-->
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'all')">모든 카테고리</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_1')" >도봉/성북/동대문...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_2')">은평/마포/서대문...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_3')">종로/중구/용산...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_4')">양천/영등포/동작...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_5')">송파/강남/서초...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_6')">수원/안산/안양...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_7')">성남/남양주/용인...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_8')">파주/의정부/고양...</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_9')">인천/부천</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'etc')">기타</div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs" style="display:inline;vertical-align:text-bottom;">
                        <button class="btn btn-primary" type="submit" style="margin-top:-1px!important;" value="검색">검색</button>
                    </div>
                    <div class="visible-xs">
                        <button class="btn btn-primary btn-block" type="submit" value="검색">검색</button>
                    </div>
                </div>
            </form>
            <div class="tmk-page-pick col-md-12"></div>
        </div>

        <!--수업 list-->
        <!--<div class="col-md-10 col-md-offset-1 col-xs-12">-->

        <div class="card-list" id="card-list">
            <div id="card-list-wrapper">
                <ul>
                    {% for class in classlist %}
                    <li class="tmk-class-card col-md-4">
                        {%comment%}{{class}}{%endcomment%}


                        <a class="tmk-card-img" href="http://{{HTTP_HOST}}/v2.1/class/{{class.id}}">
                            <div class="tmk-class-type-label">
                                <!--수업 타입-->
                                {% if class.classtype == "tutclass"%}
                                <span class="label tmk-label">{{class.classtype|classtype2han}}</span>
                                {% else %}
                                <span class="label tmk-label">D-{{class.teach_post.deadline|classtype2han}}</span>
                                {% endif %}
                            </div>
                            <div class="card-link">
                                <img id="tmk-card-img" src="{{MEDIA_URL}}{{class.t2classpic_set.first.image}}">
                            </div>
                        </a>
                        {%comment%}수업호스트::{{class.user}}{%endcomment%}
                        <a class="tmk-card-img-profile" href="http://{{HTTP_HOST}}/v2.1/user/profile/{{class.user.id}}">
                        <div class="card-link">
                            <img id="tmk-img-pro" src="{{MEDIA_URL}}{{class.user.t2profile_set.first.pro_pic}}">
                            </div>
                        </a>
                        <div class="tmk-card-info">
                            <div class="h4">{{class.title}}</div>
                            <div>{{class.intro_line}}</div>
                        </div>
                        <div class="dp-label">
                        <div class="dp-label-left">{{class.repeat}}회 / 수업당 {{class.perhour}}시간</div>
                        <div class="dp-label-right">￦{{class.price}}</div>
                        </div>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="pagination-wrapper">

            <ul class="pagination">

                {% for arrow in arrows %}
                {% if arrow.nav_before %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/class_list/{{arrow.befor_page}}/{{cate_current}}/{{state_current}}">《</a></li>
                {% endif %}
                {% endfor %}
                {% for page in pages %}
                {% if page.page_current %}
                <li class="active"><a>{{page.page}}</a></li>
                {% else %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/class_list/{{page.page}}/{{cate_current}}/{{state_current}}">{{page.page}}</a></li>
                {% endif %}
                {% endfor %}
                {% for arrow in arrows %}
                {% if arrow.nav_next %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/class_list/{{arrow.next_page}}/{{cate_current}}/{{state_current}}">》</a></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </div>
</div>
<!--</div>-->
{% endblock %}
{% block script %}
<script src='{%static "media/js/qitem_create.js" %}'></script>
{% endblock %}
