{% extends 'base.html'%}
{% load static from staticfiles %}
{% load v2d1_board_tags %}
<title>{%block title%}Tomakit-클래스 살펴보기{%endblock%}</title>
{%block style%}
<style>
    body {background:#FFFFFF !important;}
    @media screen and (max-width:767px) {
        .tmk-search {
            max-width: 405px;
            margin: auto;
        }
    }
    .tmk-card-img-profile {
        margin-top: -30px;
    }

    .intro_line {white-space: nowrap;text-overflow:ellipsis;}

</style>
{%endblock%}
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="container">
    <!--<div class="tmk-body-wrapper">-->
        <div class="tmk-page-header">
            <div class="tmk-h2 tmk-title">클래스 살펴보기</div>
            <form method="GET" action="{% url 'class_filter_redirct_v2d1' %}">
                {%csrf_token%}
                <div class="tmk-search cover">
                    <div class="tmk-qitem-selecter-wrapper">
                        <div class="selecter cover" tabindex="0">
                            <select id="category" name="category" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                <option value="all"
                                        {% if cate_current == 'all' %}selected{% endif %}>모든 카테고리</option>
                                <option value="cate_1"
                                        {% if cate_current == 'cate_1' %}selected{% endif %}>공예</option>
                                <option value="cate_2"
                                        {% if cate_current == 'cate_2'%}selected{% endif %}>아트</option>
                                <option value="cate_3"
                                        {% if cate_current == 'cate_3'%}selected{% endif %}>푸드</option>
                                <option value="cate_4"
                                        {% if cate_current == 'cate_4'%}selected{% endif %}>기타</option>
                            </select>
                            <span class="selecter-selected category-selected" onclick="btnClick(this)">카테고리 선택</span>
                            <div class="selecter-options" data-value="">
                                <span class="selecter-item selected category-selected" data-value="" onclick="selecting(this, '')">카테고리</span>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'all')">모든 카테고리</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_1')">공예</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_2')">아트</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_3')">푸드</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'cate_4')">기타</div>
                            </div>
                        </div>
                    </div>
                    <div class="tmk-qitem-selecter-wrapper">
                        <div class="selecter cover" tabindex="0">
                            <select id="state" name="state" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                                <option value="all"
                                        {% if state_current == 'all' %}selected{% endif %}>모든 지역</option>
                                <option value="zone_1"
                                        {% if state_current == 'zone_1'%}selected{% endif %}>서울</option>
                                <option value="zone_2"
                                        {% if state_current == 'zone_2'%}selected{% endif %}>경기.인천</option>
                                <option value="zone_3"
                                        {% if state_current == 'zone_3'%}selected{% endif %}>부산</option>
                            </select>
                            <span class="selecter-selected state-selected" onclick="btnClick(this)">지역 선택</span>
                            <div class="selecter-options" data-value="">
                                <span class="selecter-item selected state-selected" data-value="" onclick="selecting(this, '')">지역 선택</span>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'all')">모든 지역</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_1')" >서울</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_2')">경기.인천</div>
                                <div class="selecter-item"
                                     data-value="id"
                                     onclick="selecting(this, 'zone_3')">부산</div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs" style="display:inline;vertical-align:text-bottom;">
                        <button class="btn btn-primary" type="submit" style="margin-top:-1px!important;" value="검색">검색</button>
                    </div>
                    <div class="visible-xs">
                        <button class="btn btn-primary btn-block" type="submit" value="검색">검색</button>
                    </div>
                </div>
            </form>
            <div class="tmk-page-pick col-md-12"></div>
        </div>

        <!--수업 list-->
        <!--<div class="col-md-10 col-md-offset-1 col-xs-12">-->

        <div class="card-list" id="card-list">
            <div id="card-list-wrapper">
                <ul>
                    {% for class in classlist %}
                    <li class="tmk-class-card col-md-4">
                        {%comment%}{{class}}{%endcomment%}


                        <a class="tmk-card-img" href="http://{{HTTP_HOST}}/v2.1/class/{{class.id}}">
                            <div class="tmk-class-type-label" >
                                <!--수업 타입-->
                                {% if class.deadline_over%}
                                <span class="label tmk-label"style="background:#FF565A!important;">모집 마감</span>
                                {% endif %}
                            </div>
                            <div class="card-link">
                                <img id="tmk-card-img" alt="{{class.title}} 사진" src="{{MEDIA_URL}}{{class.t2cardpic_set.first.image}}">
                            </div>
                        </a>
                        {%comment%}수업호스트::{{class.user}}{%endcomment%}
                        <a class="tmk-card-img-profile" href="http://{{HTTP_HOST}}/v2.1/user/profile/{{class.user.id}}">
                        <div class="card-link">
                            <img id="tmk-img-pro" alt="{{class.title}} 강사 프로필 사진" src="{{MEDIA_URL}}{{class.user.t2profile_set.first.pro_pic}}">
                            </div>
                        </a>
                        <a href="http://{{HTTP_HOST}}/v2.1/class/{{class.id}}" style="color:#333333!important;">
                        <div class="tmk-card-info">
                            <div class="h4">{{class.title}}</div>
                            <div class="intro_line">{{class.intro_line}}</div>
                        </div>

                        <div class="dp-label">
                        <div class="dp-label-left">{{class.repeat}}회 / 수업당 {{class.perhour}}시간</div>
                        <div class="dp-label-right">￦{{class.price}}</div>
                        </div>
                        </a>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="pagination-wrapper">

            <ul class="pagination">

                {% for arrow in arrows %}
                {% if arrow.nav_before %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/class_list/{{arrow.befor_page}}/{{cate_current}}/{{state_current}}">《</a></li>
                {% endif %}
                {% endfor %}
                {% for page in pages %}
                {% if page.page_current %}
                <li class="active"><a>{{page.page}}</a></li>
                {% else %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/class_list/{{page.page}}/{{cate_current}}/{{state_current}}">{{page.page}}</a></li>
                {% endif %}
                {% endfor %}
                {% for arrow in arrows %}
                {% if arrow.nav_next %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/board/class_list/{{arrow.next_page}}/{{cate_current}}/{{state_current}}">》</a></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </div>
</div>
<!--</div>-->
{% endblock %}
{% block script %}
<script src='{%static "media/js/tmk-selecter.js" %}'></script>
{% endblock %}
