{% extends 'base.html'%}
{% load static from staticfiles %}

<title>{%block title%}Tomakit-수업 개설{%endblock%}</title>
{%block style%}
<style>

    .classtype {text-align:center;}
    .classtype img {
margin-top:15px;margin-bottom:15px;
    }
    </style>
{%endblock%}
<body>
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="tmk-page-header col-md-10 col-md-offset-1">
        <div class="tmk-h2 tmk-title">클래스 개설 시작하기</div>
    </div>
    <div class="col-md-8 col-md-offset-1 well" id="demand-form" style="text-align:left;float:left;">
        <div class="tmk-h3">클래스 제안 등록</div>

        <form method="POST" action="{% url 'class_create_begin_v2d1'%}">
            {%csrf_token%}
            <div class="tmk-panel">
                <label class="col-md-2">제목</label>
                <div class="tmk-qitem-selecter-wrapper col-md-3">
                    <div class="selecter cover" tabindex="0">
                        <select name="category" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                            <option value="leather"
                                    {% if begin_data.category == 'leather' %}selected{% endif %}>가죽공예</option>
                            <option value="calligraphy"
                                    {% if begin_data.category == 'calligraphy'%}selected{% endif %}>캘리그라피</option>
                            <option value="flower"
                                    {% if begin_data.category == 'flower'%}selected{% endif %}>플라워&디퓨저</option>
                            <option value="dyeing"
                                    {% if begin_data.category == 'dyeing'%}selected{% endif %}>천연염색</option>
                            <option value="pottery"
                                    {% if begin_data.category == 'pottery'%}selected{% endif %}>도자기공예</option>
                            <option value="home_living"
                                    {% if begin_data.category == 'home_living'%}selected{% endif %}>Home&Living</option>
                            <option value="sewing"
                                    {% if begin_data.category == 'sewing'%}selected{% endif %}>미싱&옷만들기</option>
                            <option value="woodwork"
                                    {% if begin_data.category == 'woodwork'%}selected{% endif %}>목공예</option>
                            <option value="art"
                                    {% if begin_data.category == 'art'%}selected{% endif %}>미술</option>
                            <option value="toreutics"
                                    {% if begin_data.category == 'toreutics'%}selected{% endif %}>금속공예&악세사리</option>
                            <option value="knot"
                                    {% if begin_data.category == 'knot'%}selected{% endif %}>매듭공예</option>
                            <option value="knit"
                                    {% if begin_data.category == 'knit'%}selected{% endif %}>뜨개질</option>
                            <option value="bake"
                                    {% if begin_data.category == 'bake'%}selected{% endif %}>베이킹&쿠킹</option>
                            <option value="cosmetics"
                                    {% if begin_data.category == 'cosmetics'%}selected{% endif %}>천연화장품&비누</option>
                            <option value="etc"
                                    {% if begin_data.category == 'etc'%}selected{% endif %}>기타</option>
                        </select>
                        <span class="selecter-selected" onclick="btnClick(this)">카테고리 선택</span>
                        <div class="selecter-options" data-value="">
                            <!--<span class="selecter-item selected" data-value="" onclick="selecting(this, '')">카테고리</span>-->
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'leather')">가죽공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'calligraphy')">캘리그라피</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'flower')">플라워&디퓨저</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'dyeing')">천연염색</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'pottery')">도자기공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'home_living')">Home&Living</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'sewing')">미싱&옷만들기</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'woodwork')">목공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'art')">미술</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'toreutics')">금속공예&악세사리</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'knot')">매듭공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'knit')">뜨개질</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'bake')">베이킹&쿠킹</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cosmetics')">천연화장품&비누</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'etc')">기타</div>
                        </div>
                    </div>
                </div>


                <!--<div class="alert alert-warning alert-dismissable">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->


                <!--</div>-->
                {{beginform.category.errors|striptags}}
            </div>

            <div class="tmk-panel">
                <label class="col-md-2">클래스 제목</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="title" value="{{begin_data.title}}"placeholder="ex)뜨개 테디베어만들기 4주 수업">

                    {{beginform.title.errors|striptags}}
                </div>
            </div>

            <div class="tmk-panel">
                <label class="col-md-2">한줄 소개</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="intro_line" value="{{begin_data.intro_line}}" placeholder="ex)누구나 배울 수 있게 기초부터 탄탄하게 가르쳐요.">
                    {{beginform.intro_line.errors|striptags}}
                </div>

            </div>

            <div class="tmk-panel">
                <label class="col-md-2">수업방식</label>

                {%comment%}
                <!--<div class="btn-group" data-toggle="buttons">-->
                <!--&lt;!&ndash;<label class="icheckbox_flat checked">&ndash;&gt;-->
                <!--<input type="checkbox" style="background-color:#fff;" class="icheckbox_flat checked" autocomplete="off" checked name="goal" value="easy&chip"-->
                <!--{% for goal in demand_data.goal %} {% if goal == "easy&chip" %}-->
                <!--checked {% endif %}{% endfor %}>&nbsp;부담없고 재미있는 수업&nbsp;</input>-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="btn btn-normal">&ndash;&gt;-->
                <!--<input type="checkbox" class="icheckbox_flat" autocomplete="off" name="goal" value="quality"-->
                <!--{% for goal in demand_data.goal %} {% if goal == "quality" %}-->
                <!--checked {% endif %}{% endfor %}>&nbsp;가격보다는 수업 퀄리티&nbsp;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="btn btn-danger">&ndash;&gt;-->
                <!--<input type="checkbox" class="icheckbox_flat checked" autocomplete="off" name="goal" value="professional"-->
                <!--{% for goal in demand_data.goal %} {% if goal == "professional" %}-->
                <!--checked {% endif %}{% endfor %}>&nbsp;창업을 위한 전문 수업&nbsp;-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
                <!--</div>-->
                {%endcomment%}

                <div class="col-md-10 classtype">
                    <div class="col-xs-6 col-md-6" style="width:253px;height:150px;margin-left:-15px;">
                    <input type="radio" class="iradio_flat" name="classtype" style="width:20px;height:20px;" value="tutclass" id="tutclass"
                           {% if begin_data.classtype == "tutclass" %}checked {% endif %}>
                        <span style="font-size:16px;vertical-align:text-top">&nbsp;수업시간협의(소수맞춤수업)</span><br>
                        <!--<div class="col-md-12">-->
                            <img src="{%static 'media/image/slice/icon-etc_calendar.png'%}"><br>
                        <p style="margin:auto;font-size:14px;text-align:left;color:#84CDC2;">수강생과 수업시간을 자유롭게 협의하여 진행됩니다</p>
                        <!--</div>-->
                    </div>
                <div class="col-xs-6 col-md-6" style="width:253px;height:150px;margin-left:50px;">
                    <input type="radio" class="iradio_flat" name="classtype" style="width:20px;height:20px;" value="teachclass" id="teachclass"
                           {% if begin_data.classtype == "teachclass" %}checked {% endif %}>
                        <span style="font-size:16px;vertical-align:text-top">&nbsp;수업시간고정(단체워크샵)</span><br>
                    <!--<div class="col-md-12">-->
                        <img src="{%static 'media/image/slice/icon-etc_day.png'%}"><br>
                        <p style="margin:auto;font-size:14px;text-align:left;color:#84CDC2;">지정한 수업일정에 수강생을 모집하고 수업이 시작됩니다</p>
                    <!--</div>-->
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-2" style="margin-top:5px;">
                    {{beginform.classtype.errors|striptags}}</div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary pull-right" value="시작하기">

        </form>
    </div>
</div>


{%endblock%}
{%block script%}
<script src='{%static "media/js/qitem_create.js" %}'></script>
{%endblock%}
</body>