{% extends 'base.html'%}
{% load static from staticfiles %}

<title>{%block title%}Tomakit-수업 개설{%endblock%}</title>
{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'media/css/tmk-form.css'%}">
<style>
    body {background-color:#fff!important;}
    .tmk-page-header {background-color:#eee;}
    /*@media screen and (max-width:991px) {*/
        .tmk-page-header{padding-bottom:50px!important;}
    /*}*/
    label span {color:red;}
    #tmk-form {margin-top:30px;}
</style>
{%endblock%}
{%block content%}
<div class="tmk-main-body col-md-12">
<div class="container">
    <div class="tmk-page-header col-xs-12 col-lg-12">
        <div class="tmk-h2 tmk-title">클래스 개설 시작하기</div>
        <div class="tmk-h4">환영합니다! 토마킷을 통해 당신의 클래스를 세상에 공개하세요!</div>
        <!--<div class="tmk-page-pick"></div>-->
    </div>
    <div class="col-md-8" id="tmk-form" style="text-align:left;float:left;">
        <!--<div class="tmk-h3">클래스 제안 등록</div>-->

        <form method="POST" action="{% url 'class_create_begin_v2d1'%}">
            {%csrf_token%}
            <div class="tmk-panel">
                <label class="col-md-2">제목 <span>*</span></label>
                <div class="tmk-qitem-selecter-wrapper col-md-3">
                    <div class="selecter cover" tabindex="0">
                        <select name="category" required class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
                            <option value="all"
                                    {% if begin_data.category == 'all' %}selected{% endif %}>모든 카테고리</option>
                            <option value="cate_1"
                                    {% if begin_data.category == 'cate_1' %}selected{% endif %}>가죽공예</option>
                            <option value="cate_2"
                                    {% if begin_data.category == 'cate_2'%}selected{% endif %}>플라워아트</option>
                            <option value="cate_3"
                                    {% if begin_data.category == 'cate_3'%}selected{% endif %}>전통공예/한복</option>
                            <option value="cate_4"
                                    {% if begin_data.category == 'cate_4'%}selected{% endif %}>목공예</option>
                            <option value="cate_5"
                                    {% if begin_data.category == 'cate_5'%}selected{% endif %}>금속공예/매듭</option>
                            <option value="cate_6"
                                    {% if begin_data.category == 'cate_6'%}selected{% endif %}>재봉틀/뜨개질</option>
                            <option value="cate_7"
                                    {% if begin_data.category == 'cate_7'%}selected{% endif %}>캘리그라피</option>
                            <option value="cate_8"
                                    {% if begin_data.category == 'cate_8'%}selected{% endif %}>그리기</option>
                            <option value="cate_9"
                                    {% if begin_data.category == 'cate_9'%}selected{% endif %}>베이킹/요리</option>
                            <option value="cate_10"
                                    {% if begin_data.category == 'cate_10'%}selected{% endif %}>화장품/향기</option>
                            <option value="cate_11"
                                    {% if begin_data.category == 'cate_11'%}selected{% endif %}>기타</option>
                        </select>
                        <span class="selecter-selected" onclick="btnClick(this)">카테고리 선택</span>
                        <div class="selecter-options" data-value="">
                            <!--<span class="selecter-item selected" data-value="" onclick="selecting(this, '')">카테고리</span>-->
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'all')">모든 카테고리</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_1')">가죽공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_2')">플라워아트</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_3')">전통공예/한복</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_4')">목공예</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_5')">금속공예/매듭</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_6')">재봉틀/뜨개질</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_7')">캘리그라피</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_8')">그리기</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_9')">베이킹/요리</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_10')">화장품/향기</div>
                            <div class="selecter-item"
                                 data-value="id"
                                 onclick="selecting(this, 'cate_11')">기타</div>
                        </div>
                    </div>
                </div>


                <!--<div class="alert alert-warning alert-dismissable">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>-->


                <!--</div>-->
                <div class="tmk-error">
                {{beginform.category.errors|striptags}}
                </div>
            </div>

            <div class="tmk-panel">
                <label class="col-md-2">클래스 제목 <span>*</span></label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="title" value="{{begin_data.title}}"placeholder="ex) 뜨개 테디베어만들기 4주 수업" maxlength="40">
                    <div class="tmk-error">
                    {{beginform.title.errors|striptags}}
                        </div>
                </div>
            </div>

            <div class="tmk-panel">
                <label class="col-md-2">한줄 소개 <span>*</span></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="intro_line" value="{{begin_data.intro_line}}" placeholder="ex) 누구나 배울 수 있게 기초부터 탄탄하게 가르쳐요." maxlength="50">

                    <div class="tmk-error">
                        {{beginform.intro_line.errors|striptags}}
                        </div>
                </div>

            </div>

            <div class="tmk-panel" style="border-bottom:none;">
                <label class="col-md-2">수업방식 <span>*</span></label>

                <div class="col-md-10 tmk-radio classtype" style="margin-left:-15px;">
                    <div class="col-xs-5 col-md-5">
                    <input type="radio" class="iradio_flat" name="classtype" value="tutclass" id="tutclass"
                           {% if begin_data.classtype == "tutclass" %}checked {% endif %}>
                        <span style="font-size:16px;vertical-align:text-top">&nbsp;요일별모집(시간협의수업)</span><br>
                        <!--<div class="col-md-12">-->
                            <img src="{%static 'media/image/slice/icon-etc_calendar.png'%}"><br>
                        <p style="margin:auto;font-size:14px;text-align:left;color:#84CDC2;">수업이 가능한 요일과 시간대를 알려주고 학생과 수업 시간 협의 </p>
                        <!--</div>-->
                    </div>
                <div class="col-xs-5 col-md-5">
                    <input type="radio" class="iradio_flat" name="classtype" value="teachclass" id="teachclass"
                           {% if begin_data.classtype == "teachclass" %}checked {% endif %}>
                        <span style="font-size:16px;vertical-align:text-top">&nbsp;날짜별모집(시간고정수업)</span><br>
                    <!--<div class="col-md-12">-->
                        <img src="{%static 'media/image/slice/icon-etc_day.png'%}"><br>
                        <p style="margin:auto;font-size:14px;text-align:left;color:#84CDC2;">지정한 날짜/시간에 수강생 모집</p>
                    <!--</div>-->
                    </div>
                </div>
                <div class="tmk-error col-md-10 pull-right">
                    {{beginform.classtype.errors|striptags}}</div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary pull-right" value="시작하기">

        </form>
    </div>
    </div>
</div>


{%endblock%}
{%block script%}
<script src='{%static "media/js/qitem_create.js" %}'></script>
{%endblock%}