{%extends 'base.html'%}
{%load static from staticfiles%}

<title>{%block title%}Tomakit-클래스 개설 완료{%endblock%}</title>
{%block style%}
{%endblock%}
<body>
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="tmk-page-header col-md-10 col-md-offset-1">
        <div class="tmk-h2 tmk-title">클래스 개설 등록완료</div>
        <div class="tmk-h4">축하합니다 클래스 개설이 완료되었습니다<br>클래스는 마이페이지 > 클래스 > <span style="color:red">개설한 클래스</span>에서 확인하실 수 있습니다<br><br>
            클래스 개설이 처음이라면, 관리자의 승인을 거쳐 운영일 기준 24시간 내에 등록됩니다<br>
        승인과정에서 이용약관에 맞지 않는 클래스일 경우 등록거부 될 수 있습니다</div>
        <a href="/"><button class="btn btn-primary">확인</button></a>
    </div>

</div>
{%endblock%}
</body>