{%extends 'base.html'%}
{%load static from staticfiles%}

<title>{%block title%}Tomakit-클래스 개설 완료{%endblock%}</title>
{%block style%}
{%endblock%}
<body>
{%block content%}

<div class="tmk-main-body col-md-12">
    <div class="tmk-page-header col-md-10 col-md-offset-1">
        <div class="tmk-h2 tmk-title">클래스 개설 등록완료</div>
        <div class="tmk-h4">축하합니다 클래스 개설이 완료되었습니다<br>
            마이페이지에서 <span style="color:red">프로필</span>을 관리 하실 수 있습니다.<br><br>
            프로필이 잘 작성되면 수업 매출이 평균 28%증가 합니다.</div>

        <a href="{% url 'public_profile_v2d1' user_num=user.id %}">
            <button class="btn btn-primary">프로필 등록</button>
        </a><br><br>
        <a href="http://{{HTTP_HOST}}/v2.1/class/{{cl_card_id}}">
            <span style="color:#cacccd;">수업 확인하기 ></span>
        </a>

    </div>

</div>
{%endblock%}
</body>