{% extends 'base.html' %}{% load static from staticfiles %}

{%block head%}
    <title>Place Autocomplete Address Form</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script type="text/javascript" src="{% static 'google_map.js'%}"></script>
    <!--<script type="text/javascript" src="{% static 'media/js/bootstrap-slider.js' %}"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'media/css/bootstrap-slider.css'%}">-->

<script type="text/javascript" src="{% static 'media/js/nouislider.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'media/css/nouislider.min.css'%}">


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
        #locationField, #controls {
            position: relative;
            width: 480px;
        }
        #autocomplete {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 99%;
        }
        .label {
            text-align: right;
            font-weight: bold;
            width: 100px;
            color: #303030;
        }
        #address {
            /*border: 1px solid #000000;*/
            /*background-color: #f0f0ff;*/
            width: 480px;
            padding-right: 2px;
        }
        #address td {
            font-size: 10pt;
        }
        .field {
            width: 99%;
        }
        .slimField {
            width: 80px;
        }
        .wideField {
            width: 180px; margin:5px;
        }
        #locationField {
            height: 50px;
            margin-bottom: 2px;
        }
        form {width:480px;}
    </style>
{%endblock%}

<body>
{%block content%}
맞춤 수업 생성
<h1>{{title}}</h1>
<form method="POST" action="{%url 'class_create_teach_v2d1' class_num%}">
    {% csrf_token%}
    수업 횟수:
    <select name="repeat">
        <option value="1"
                {% if teach_data.repeat == '1' %}selected {% endif %}>1회</option>
        <option value="2"
                {% if teach_data.repeat == '2' %}selected {% endif %}>2회</option>
        <option value="3"
                {% if teach_data.repeat == '3' %}selected {% endif %}>3회</option>
        <option value="4"
                {% if teach_data.repeat == '4' %}selected {% endif %}>4회</option>
        <option value="5"
                {% if teach_data.repeat == '5' %}selected {% endif %}>5회</option>
        <option value="6"
                {% if teach_data.repeat == '6' %}selected {% endif %}>6회</option>
        <option value="7"
                {% if teach_data.repeat == '7' %}selected {% endif %}>7회</option>
        <option value="8"
                {% if teach_data.repeat == '8' %}selected {% endif %}>8회</option>
        <option value="9"
                {% if teach_data.repeat == '9' %}selected {% endif %}>9회</option>
        <option value="10"
                {% if teach_data.repeat == '10' %}selected {% endif %}>10회</option>
        <option value="11"
                {% if teach_data.repeat == '11' %}selected {% endif %}>11회</option>
        <option value="12"
                {% if teach_data.repeat == '12' %}selected {% endif %}>12회</option>
    </select>
    회당 수업시간:
    <select name="perhour">
        <option value="1"
                {% if teach_data.perhour == '1'%}selected {% endif %} >1시간</option>
        <option value="2"
                {% if teach_data.perhour == '2' %}selected {% endif %} >2시간</option>
        <option value="3"
                {% if teach_data.perhour == '3' %}selected {% endif %} >3시간</option>
        <option value="4"
                {% if teach_data.perhour == '4' %}selected {% endif %} >4시간</option>
        <option value="5"
                {% if teach_data.perhour == '5' %}selected {% endif %}>5시간</option>
        <option value="6"
                {% if teach_data.perhour == '6' %}selected {% endif %}>6시</option>
    </select>
    {{teachform.repeat.errors|striptags}}
    {{teachform.perhour.errors|striptags}}
    <br><br>
    수업일정
    <input type="text" name="weekday" value="{{teach_data.weekday}}" placeholder="ex)매주 화요일 7:00, 매주 토요일 2시">
    {{teachform.weekday.errors|striptags}}<br><br>

    수강료
    <input type="text" name="price" value="{{teach_data.price}}">
    재료비
    <input type="text" name="extra_price" value="{{teach_data.extra_price}}">
    {{teachform.price.errors|striptags}}
    {{teachform.extra_price.errors|striptags}}<br>
    ---------------------------2단계---------------------<br>
    수업 이미지
    <input type="file" name="image"><br>
    <input type="file" name="image"><br>
    <input type="file" name="image"><br>
    <input type="file" name="image"><br>
    <input type="file" name="image"><br>
    {{imageform.image.errors|striptags}}<br><br>
    영상 등록(선택)
    <input type="text" name="video" value="{{teach_data.video}}">
    {{teachform.video.errors|striptags}}<br><br>

    수업 소개
    <textarea name="descript" >{{teach_data.descript}}</textarea>
    {{teachform.descript.errors|striptags}}<br><br>
    커리큘럼
    <textarea name="curri">{{teach_data.curri}}</textarea>
    {{teachform.curri.errors|striptags}}<br><br>
    안내사항
    <textarea name="notic">{{teach_data.notic}}</textarea>
    {{teachform.notic.errors|striptags}}<br><br>

    ---------------------------3단계---------------------<br>
    작가소개
    <input type="text" name="intro_self" value="{{prefill_intro}}">
    {{teachform.intro_self.errors|striptags}}<br><br>
    주소 입

    <div class="tmk-sub-body">
    <div id="locationField">
        도로명 또는 동 입력
     <input id="autocomplete" class="form-control" placeholder="동이나 도로명을 입력해주세요" onFocus="geolocate()" type="text" name="addr_input"><br><br>
    </div>
    <div>
        상세 주소 입력
        <input type="text" name="addr_deatail" value="{{teach_data.addr_details}}" placeholder="상세주소를 입력해주세요">
    </div>
    <table id="address">
        <!--<tr>-->
        <!--<td class="label">국가명</td>-->
        <!--<td class="wideField" colspan="3">-->
        <!--<input class="field" id="country" disabled="true"></input></td>-->
        <!--</tr>-->
        <tr class="form-group">
            <td class="label">시/도</td>
            <td class="widefield" colspan="2">
                <input class="field" id="locality" name="locality" disabled="true">
            </td>
            <td class="wideField" colspan="2">
                <input class="field" name="area_1"  id="administrative_area_level_1" disabled="true">
            </td>
        </tr>
        <tr>
            <td class="label">구</td>
            <td class="wideField">
                <input class="field" name="sublocal_1" id="sublocality_level_1" disabled="true"></td>
            <!--<td class="label">동</td>-->
            <td class="wideField">
                <input class="field" name="sublocal_2" id="sublocality_level_2" disabled="true"></td>
            <td class="label">우편번호</td>
            <td class="wideField">
                <input class="field" name="postal_code" id="postal_code" disabled="true"></td>
        </tr>
        <tr>
            <td class="label">상세주소</td>
            <td class="slimField">
                <input class="field" id="street_address" disabled="true"></input>
                <input class="field" id="sublocality_level_4" name="sublocal_4" disabled="true"></input>
                <input class="field" id="premise" disabled="true"></input></td>
            <!--<td class="wideField" colspan="2">-->
                <!--<input class="field" id="name" disabled="true"></input></td>-->
        </tr>
    </table>
        <br>
        <input class="btn btn-primary btn-block" type="submit">
    <script src="https://maps.googleapis.com/maps/api/js?language=ko&libraries=places&callback=initAutocomplete"
            async defer></script>

</form>
    {%endblock%}
</body>
</html>