<div class="tmk-main-body col-lg-12">
    <div class="container">
        <div class="tmk-review col-md-8">
            <div class="tmk-h3 pull-left"><span style="color:#84CDC2;">"리뷰 숫자"</span>개의 후기가 있습니다</div>
            <div class="review-wrapper col-md-12">
                <form method="POST" action="{% url 'create_review_v2d1' post.id %}">
                    {%csrf_token%}
                    <div class="col-md-2">
                        <div class="tmk-card-img-profile" style="margin-top:15px;">
                            <div class="card-link">
                                <img src="{{MEDIA_URL}}{{user.t2profile_set.first.pro_pic}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7" style="text-align:left;">
                        <input type="hidden" name="class_num" value="{{post.id}}">
                        <input type="hidden" name="classtype" value="tut_class">
                        <textarea class="form-control" name="review"></textarea>
                        <!--<img src="{%static 'media/image/slice/icon-star_empty.png'%}">-->
                        <input class="form-control" type="number" name="grade" min="1" max="5"><br>
                        {{review.review.errors|striptags}} {{review.grade.errors|striptags}}
                    </div>
                    <div class="col-md-3">
                        <input class="btn btn-primary" type="submit" value="후기 작성">
                    </div>
                </form>
            </div>
            <div class="review-wrapper col-md-12">
                {% for review in post.t2classreview_set.all%}
                {% if review.is_active %}
                <div class="col-md-2" style="margin-top:15px;">
                    <div class="tmk-card-img-profile">
                        <div class="card-link">
                            <a href="http://{{HTTP_HOST}}/v2.1/user/profile/{{review.user.id}}">
                                <img src="{{MEDIA_URL}}{{review.user.t2profile_set.first.pro_pic}}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7" id="user-review">
                    <a href="http://{{HTTP_HOST}}/v2.1/user/profile/{{review.user.id}}">
                        {{review.user.last_name}}{{review.user.first_name}}
                    </a> {{review.grade}}
                    <!--댓글-->
                    <div>{{review.review}}</div>
                </div>

                <!--수정 form 나중에  hidden-->
                <div id="review-modify" hidden>
                    <form method="POST" action="{% url 'modify_review_v2d1' post.id %}">
                        {%csrf_token%}
                        <div class="col-md-7">
                            <input type="hidden" name="review_num" value="{{review.id}}">
                            <input type="hidden" name="class_num" value="{{post.id}}">
                            <input type="hidden" name="classtype" value="tut_class">
                            <textarea class="form-control" name="review">{{review.review}}</textarea>
                            <input class="form-control" type="number" name="grade" value="{{review.grade}}" min="1" max="5"><br>
                            {{review.review.errors|striptags}}
                            {{review.grade.errors|striptags}}
                        </div>
                        <div class="col-md-1">
                            <input class="btn btn-link" id="modify-end" type="submit" value="수정 완료">
                        </div>
                    </form>
                </div>
                <!--사용자가 단 댓글인 경우에만 visible되는-->
                <div class="col-md-1" id="modify-wrap">
                    <span class="btn btn-link" id="modify-btn">댓글 수정</span>
                </div>
                <form method="POST" action="{% url 'delete_review_v2d1' review.id%}">
                    {%csrf_token%}
                    <input type="hidden" name="classtype" value="tut_class">
                    <div class="col-md-1">
                        <input class="btn btn-link" type="submit" value="리뷰 삭제">
                    </div>
                </form>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>