{% extends 'base.html'%}
{% load static from staticfiles %}
{% load humanize %}
{% load v2d1_board_tags %}
<title>{%block title%}Tomakit {{post.title}}{%endblock%}</title>
{%block style%}
<style>
    .tmk-review .col-md-8 {padding:0px;}
    .tmk-review .btn-primary {width:170px;height:80px;}
    .tmk-review textarea {height:80px;}
</style>
{%endblock%}

<body>
{%block content%}
<br>
<!--워크샵 수업 상세 페이지-->

<div class="tmk-main-body col-md-12">
    <div class="tmk-page-header col-md-10 col-md-offset-1">
        <div class="tmk-h4">{{post.category.category|cate2han}}</div>
        <div class="tmk-h2 tmk-title">{{post.title}}</div>
        <div class="tmk-h4">{{post.intro_line}}</div>
        <span class="label tmk-label">D-{{post.deadline|d_day_count}}</span>
        <div class="tmk-page-pick"></div>
    </div>
    <div class="tmk-post-body">
        {% for image in post.t2classpic_set.all%}
        <img src="{{MEDIA_URL}}{{image.image}}"><br>
        {% endfor %}

        <div class="col-md-7 col-md-offset-1 well" id="tmk-post" style="text-align:left;float:left;">

            <br><br>
            <h3>수업정보</h3>
            {{post.repeat}}회 과정/{% widthratio post.repeat 1 post.perhour%}시간<br>
            모집 마감일::{{post.deadline|date:"Y년 n월 d"}}<br>
            수업 시작일::{{post.startday|date:"Y년 n월 d"}}<br>
            수업 일정 :: {{post.weekday}}<br>
            수업 인원 :: 최소{{post.min_num}}명~최대{{post.max_num}}명<br>
            장소 :: {{post.addr}}<br>

            재료비 :: {{post.extra_price|intcomma}}<br>
            수강료 :: {{post.price|intcomma}}<br>

            <form method="GET" action="{% url 'pay_prefill_v2d1' %}" target="_blank">
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="teachclass" name="classtype">
                <input type="submit" value="{{ post.extra_price|add:post.price |intcomma}}원">
            </form><br><br><br>
            총합 :: {{ post.extra_price|add:post.price |intcomma}}원<br>
            클래스 선생님 :: <img src="{{MEDIA_URL}}{{post.user.t2profile_set.first.pro_pic}}"><br><br>
            {{post.user.last_name}}{{post.user.first_name}}<br>

            신청하기<br>

            <h3>클래스 소개</h3>
            동영상<br>

            {% if post.video%}
            <iframe width="420" height="315" src="https://www.youtube.com/embed/{{post.video}}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            소개<br>
            {{post.descript}}<br>
            커맄큘럼<br>
            {{post.curri}}<br>
            안내사항<br>
            {{post.notic}}<br>

            공방위치<br>
            {{post.addr}}<br><br>

            <h3>선생님 소개</h3>
            <img src="{{MEDIA_URL}}{{post.user.t2profile_set.first.pro_pic}}"><br>
            {{post.user.last_name}}{{post.user.first_name}}<br>
            {{post.user.t2hostprofile_set.first.intro_self}}<br>
            <br>


        </div>


        <div class="tmk-review">
            <div class="col-md-8 col-md-offset-1">
                <h2>후기 쓰기</h2>

                <form method="POST" action="{% url 'create_review_v2d1' post.id %}">
                    {%csrf_token%}
                    <div class="col-md-8 col-xs-8">
                        <input type="hidden" name="class_num" value="{{post.id}}">
                        <input type="hidden" name="classtype" value="teach_class">
                        <textarea class="form-control" name="review"></textarea><br>
                        <input class="form-control" type="number" name="grade"><br>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <input class="btn btn-primary" type="submit" value="후기 작성"></div>
                </form>
            </div>



            <div class="col-md-8 col-md-offset-1">
                {% for review in post.t2classreview_set.all%}
                {% if review.is_active %}
                <div class="col-md-2">사용자 프로필 사진 여기에 뜨게</div>
                <div class="col-md-10">사용자 이름 / 등급::{{review.grade}}<br>
                    후기::{{review.review}}

                    </div>
                <!--수정 form 나중에  hidden-->
            </div>

            <div class="col-md-8 col-md-offset-1">
                <form method="POST" action="{% url 'modify_review_v2d1' post.id %}">
                    {%csrf_token%}
                    <div class="col-md-8">
                        <input type="hidden" name="review_num" value="{{review.id}}">
                        <input type="hidden" name="class_num" value="{{post.id}}">
                        <input type="hidden" name="classtype" value="teach_class">
                        <textarea class="form-control" name="review">{{review.review}}</textarea><br>
                        <input class="form-control" type="number" name="grade" value="{{review.grade}}"><br>
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-link" type="submit" value="후기수정">
                    </div>
                </form>

                <form method="POST" action="{% url 'delete_review_v2d1' review.id%}">
                    {%csrf_token%}
                    <input type="hidden" name="classtype" value="teach_class">
                    <input class="btn btn-link" type="submit" value="삭제하기">
                </form>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}
</body>