{% load static from staticfiles %}
<!-- DAUM Map API -->
<div id="map" style="width:100%;height:350px;margin-top:10px;border:1px solid #eee;"></div>
<!-- LOCAL -->
<!--<script type="text/javascript" charset="utf-8" src="//apis.daum.net/maps/maps3.js?apikey=0f2cdbb0a576db786aebe9405731c9d4&libraries=services"></script>-->
<!-- SERVER -->
<script type="text/javascript" charset="utf-8" src="//apis.daum.net/maps/maps3.js?apikey=ebcd1e635575d9408cc98f4372e2bde9&libraries=services"></script>
<script type="text/javascript">
  // 주소-좌표 변환 객체를 생성합니다
  var geocoder = new daum.maps.services.Geocoder();
  // 주소로 좌표를 검색합니다
  geocoder.addr2coord('{{class_post.address}}', function(status, result) {
    // 정상적으로 검색이 완료됐으면 
    if (status === daum.maps.services.Status.OK) {
      var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
          mapOption2 = {
            center: coords,
            level: 3
          };
      var map = new daum.maps.Map(mapContainer, mapOption2);
      // 결과값으로 받은 위치를 마커로 표시합니다
      var marker = new daum.maps.Marker({
        map: map,
        position: coords
      });
      // 인포윈도우로 장소에 대한 설명을 표시합니다
      var infowindow = new daum.maps.InfoWindow({
        content: '<div style="padding:5px;max-width:100%;word-break:none;white-space:nowrap">{{class_post.address}}</div>'
      });
    } 
    daum.maps.event.addListener(marker, 'mouseover', function() {
      // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
      infowindow.open(map, marker);
    });
    // 마커에 마우스아웃 이벤트를 등록합니다
    daum.maps.event.addListener(marker, 'mouseout', function() {
      // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
      infowindow.close();
    });
  });    
</script>


