{% extends 'base.html' %}
{%load static from staticfiles %}
    <title></title>

<body>
{%block content%}
<form method="POST" action="{{request.path}}" enctype="multipart/form-data">
        {% csrf_token %}
        프로필 사진 : <input name="pro_pic" type="file"><br>
        이름:<input name="first_name" value={{djgouser.first_name}}><br>
        성:<input name ="last_name" value={{djgouser.last_name}}><br>
        한줄 소개: <input name ='inter_oneline' value={{djgouser.userprofile_set.first.inter_oneline}}><br>
        핸드메이드를 시작한 계기:<br>
        <input name ="inter_start" value={{djgouser.userprofile_set.first.inter_start}}><br>
        작품 사진: <input type="file" name ="inter_pic"><br>
        소개 영상 :<input type="url" name ="inter_url"><br>
        <input type ='submit' value="인터뷰 업데이트">
    </form>
{%endblock%}
</body>
