{%extends "base.html" %}
{% load static from staticfiles %}

<title>{%block title%}{{djgouser.last_name}} {{djgouser.first_name}}님의 프로필{%endblock%}</title>

{%block content%}
<style>

    .tmk-profile-body {width:1170px;margin:auto;margin-bottom:50px;}
    .tmk-profile-banner {
        text-align: left;
        background: #F5515F;
        color: #ffffff;
        width: 1150px;
        height: 320px;
        margin: auto;
        display: inline-block;
        margin-bottom: 20px;
    }




    /*.profile-photo img {width:100%;}*/
    .profile-button {
        /*float:right;*/
        height: 50px;
        border: 1px solid white;
        background: transparent;
        color: white;
        margin-top: 240px;
        margin-right: 20px;
        font-family: NanumGothic!important;
    }
    .profile-button img {
        vertical-align:top;
    }
    .profile-button:hover {
        color: #ffffff;
    }

    .profile-videp {
        cursor: default;
        padding:15px;
        margin-bottom: 20px;
        min-height:400px;
    }

    .profile-video-none {
        border: 2px dashed #AAA;
        border-radius: 7px;
        cursor: default;
        padding: 15px;
        margin-bottom: 20px;
        min-height:400px;
        background:rgba(0,0,0,0.1);;
    }

    .user-profile-name-wrapper {float:left;padding-top:30px;}
    .profile-main-contents {width:65%;float:left;}
    .profile-aside-right {width:35%;float:left;padding:20px;text-align:left;}

    .tmk-profile-sub-body {width:1100px;margin:autp;text-align:center;display:inline-block;}
    /*.user-profile-name-wrapper {padding:10px;}*/

    .tmk-profile-q-top {width:30px;height:5px;background:#e85460;}
    .tmk-profile-q {margin-bottom: 20px;}
    .tmk-profile-q .h4 {font-family:NanumMyeongjo!important;line-height:40px;}

</style>

<!--<div id="wrap">-->
<div class="tmk-profile-body">
    <!--<div class="container">-->
    <div class="tmk-profile-banner">

        <div class="profile-photo col-md-4" style="background-image:url({{MEDIA_URL}}{{profile.propic}});">
            <!--<img src="{{MEDIA_URL}}{{profile.propic}}">--></div>
        <div class="user-profile-name-wrapper">
            <div class="col-md-6 h1">{{user.last_name}} {{user.first_name}}</div>
            <div class="col-md-12 h3" style="font-weight:normal;margin-top:0px;">안녕하세요, {{user.last_name}} {{user.first_name}}입니다.</div>
        </div>

        {% if request.user.is_authenticated %}
        {% if page_user == req_user %}
        <a href="http://{{HTTP_HOST}}/v2/user/edit_prof/{{page_user.id}}">
            <button class="btn profile-button pull-right">
                <img src="{%static 'media/image/slice/buttonicon-8.png'%}"> 프로필 수정</button>
        </a>
        {% endif %}
        {% endif %}
    </div>

    <div class="tmk-profile-sub-body">
        <div class="profile-main-contents">
            {{profile.inter_user}}
            {{profile.inter_pic}}

            {% if profile.inter_url or profile.inter_pic %}
            <div class="profile-video">
                <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{profile.inter_url}}" frameborder="0" allowfullscreen></iframe>
                <div class="phto-pro"><img src="{{MEDIA_URL}}{{profile.inter_pic}}" style="width:100%;"></div>
            </div>

            {% else %}
            <div class="profile-video-none">
                <h4 style="line-height:400px;">사진 또는 동영상이 없습니다</h4>
           </div>
            {% endif %}

        </div>
        <aside class="profile-aside-right">

            <div class="tmk-profile-q">
                <div class="tmk-profile-q-top"></div>
                <div class="h4">왜 핸드메이드를 시작하셨나요?</div>

                {{profile.inter_start}}

            </div>

                <div class="profile-photo-mini" style="background-image:url({{MEDIA_URL}}{{profile.propic}});">

                    <!--<img src="{{MEDIA_URL}}{{profile.propic}}">-->
                </div>
                <div class="user-profile-name">
                    <div class="aside-username">{{user.last_name}} {{user.first_name}}</div>
                </div>
        </aside>
    </div>
</div>
{%endblock%}


