{%extends "base.html" %}
{% load static from staticfiles %}

<title>{%block title%}{{djgouser.last_name}} {{djgouser.first_name}}님의 프로필{%endblock%}</title>

{%block content%}
<style>
    .tmk-profile-body {width:1100px;margin:auto;}
    .tmk-profile-banner{text-align:left;background: #F5515F;color:#ffffff; width:900px;height:280px;margin:auto;display:inline-block;margin-bottom:20px;}




    /*.profile-photo img {width:100%;}*/
    .profile-button {
        height: 50px;
        border: 1px solid white;
        background: transparent;
        color: white;
        margin-top: 210px;
        margin-left: 100px;
        font-family: NanumGothic!important;
    }
    .profile-button img {
        vertical-align:top;
    }
    .profile-button:hover {
        color: #ffffff;
    }

    .profile-video {
        border: 2px dashed #AAA;
        border-radius: 7px;
        cursor: default;
        padding: 15px;
        margin-bottom: 20px;
    }

    .profile-main-contents {width:65%;float:left;}
    .profile-aside-right {width:35%;float:left;padding:20px;text-align:left;}



    .tmk-profile-q-top {width:30px;height:5px;background:#e85460;}
    .tmk-profile-q {margin-bottom: 20px;}
    .tmk-profile-q .h4 {font-family:NanumMyeongjo!important;line-height:40px;}

</style>

<!--<div id="wrap">-->
<div class="tmk-profile-body">
    <!--<div class="container">-->
    <div class="tmk-profile-banner">


        <div class="profile-photo col-md-4" style="background-image:url({{MEDIA_URL}}{{profile.propic}});">
            <!--<img src="{{MEDIA_URL}}{{profile.propic}}">--></div>
        <div class="user-profile-name">

            <div class="col-md-6 h1">{{djgouser.last_name}} {{djgouser.first_name}}</div>
            <div class="col-md-6 h3" style="font-weight:normal;margin-top:0px;">안녕하세요, {{djgouser.last_name}} {{djgouser.first_name}}입니다.</div>
        </div>

        {% if request.user.is_authenticated %}
        {% if page_user == req_user %}
        <a href="http://{{HTTP_HOST}}/v2/user/edit_prof/{{page_user.id}}">
            <button class="btn profile-button">
                <img src="{%static 'media/image/slice/buttonicon-8.png'%}"> 프로필 수정</button>
        </a>
        {% endif %}
        {% endif %}
    </div>

    <div class="tmk-sub-body" style="height:500px;">
        <div class="profile-main-contents">
            <div class="profile-video">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{profile.inter_url}}" frameborder="0" allowfullscreen></iframe>
                <div class="phto-pro"><img src="{{MEDIA_URL}}{{profile.inter_pic}}" style="width:100%;"></div>
            </div>
        </div>
        <aside class="profile-aside-right">

            <div class="tmk-profile-q">
                <div class="tmk-profile-q-top"></div>
                <div class="h4">왜 핸드메이드를 시작하셨나요?</div>

                {{profile.inter_start}}

            </div>

                <div class="profile-photo-mini" style="background-image:url({{MEDIA_URL}}{{profile.propic}});">

                    <!--<img src="{{MEDIA_URL}}{{profile.propic}}">-->
                </div>
                <div class="user-profile-name">
                    <div class="col-md-6 h1">{{djgouser.last_name}} {{djgouser.first_name}}</div>
                </div>
        </aside>
    </div>
</div>
{%endblock%}



{%comment%}
<div class="tmk-profile-body">
    {% if page_user == req_user %}
    <div class="tmk-profile-banner">
        {% if user.userprofile_set.object.get.first.propic == none %}
        <div class="profile-photo col-md-offset-1 col-md-4"></div>
        {%else%}
        <div class="profile-photo col-md-offset-1 col-md-4" style="background-image:url({{MEDIA_URL}}{{profile.propic}});">
            <!--<img src="{{MEDIA_URL}}{{profile.propic}}">--></div>
        {%endif%}

        <div class="user-profile-name">

            <div class="col-md-6 h1">{{user.last_name}} {{user.first_name}}</div>
            <div class="col-md-6 h3" style="font-weight:normal;">안녕하세요, {{user.last_name}} {{user.first_name}}입니다.</div>
        </div>

        <a href="http://{{HTTP_HOST}}/v2/user/edit_prof/{{page_user.id}}">
            <button class="btn profile-button">
                <img src="{%static 'media/image/slice/buttonicon-8.png'%}"> 프로필 수정</button>
        </a>
    </div>

    <div class="tmk-sub-body" style="height:500px;">
        <div class="profile-main-contents">
            <div class="profile-video">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{profile.inter_url}}" frameborder="0" allowfullscreen></iframe>
                <div class="phto-pro"><img src="{{MEDIA_URL}}{{profile.inter_pic}}" style="width:100%;"></div>
            </div>
        </div>
        <aside class="profile-aside-right">

            <div class="tmk-profile-q">
                <div class="tmk-profile-q-top"></div>
                <div class="h4">왜 핸드메이드를 시작하셨나요?</div>

                {{profile.inter_start}}

            </div>
            {% if user.is_authenticated %}
            {% if user.userprofile_set.first.propic == none %}
            <div class="profile-photo-mini"></div>
            {% else %}
            <div class="profile-photo-mini" style="background-image:url({{MEDIA_URL}}{{profile.propic}});"></div>
            {%endif%}
            {%endif%}
            <!--<img src="{{MEDIA_URL}}{{profile.propic}}">-->

            <div class="user-profile-name">
                <div class="col-md-6 h1">{{djgouser.user.last_name}} {{djgouser.user.first_name}}</div>
            </div>
        </aside>
    </div>


    {%else%}


    <div class="tmk-profile-banner">
        <div class="profile-photo col-md-offset-1 col-md-4" style="background-image:url({{MEDIA_URL}}{{profile.propic}});">
            <!--<img src="{{MEDIA_URL}}{{profile.propic}}">-->
        </div>


        <div class="user-profile-name">

            <div class="col-md-6 h1">{{djgouser.set.last_name}} {{djgouser.set.first_name}}</div>
            <div class="col-md-6 h3" style="font-weight:normal;">안녕하세요, {{djgouser.last_name}} {{djgouser.first_name}}입니다.</div>
        </div>
    </div>

    <div class="tmk-sub-body" style="height:500px;">
        <div class="profile-main-contents">
            <div class="profile-video">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{profile.inter_url}}" frameborder="0" allowfullscreen></iframe>
                <div class="phto-pro"><img src="{{MEDIA_URL}}{{profile.inter_pic}}" style="width:100%;"></div>
            </div>
        </div>
        <aside class="profile-aside-right">

            <div class="tmk-profile-q">
                <div class="tmk-profile-q-top"></div>
                <div class="h4">왜 핸드메이드를 시작하셨나요?</div>

                {{profile.inter_start}}

            </div>
            {% if user.userprofile_set.first.propic == none %}
            <div class="profile-photo-mini"></div>
            {% else %}
            <div class="profile-photo-mini" style="background-image:url({{MEDIA_URL}}{{profile.propic}});"></div>
            {%endif%}
            <!--<img src="{{MEDIA_URL}}{{profile.propic}}">-->

            <div class="user-profile-name">
                <div class="col-md-6 h1">{{djgouser.last_name}} {{djgouser.first_name}}</div>
            </div>
        </aside>
    </div>

    {%endif%}
</div>

{% if user.userprofile_set.object.get.first.propic == none %}
<div class="profile-photo col-md-offset-1 col-md-4"></div>
{%else%}
<div class="profile-photo col-md-offset-1 col-md-4" style="background-image:url({{MEDIA_URL}}{{profile.propic}});">
    <!--<img src="{{MEDIA_URL}}{{profile.propic}}">--></div>
{%endif%}
{%endcomment%}