{% load static from staticfiles%}
{%block nav%}
<style>
    #navbar {background:transparent;}
    .navbar-default {
        background-color: transparent !important;
        border-color:transparent !important;
        color: white !important;
    }
    .navbar-nav>li>a {
        color: white !important;
    }
    .navbar-nav>li>button {
        color:white !important;
    }

    #navbar {background:transparent;}
</style>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">

    <div class="navbar-inner">
        <!--<div class="container">-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" style="background-color:white;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{%static 'media/image/slice/Tomakit-w.png'%}">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li><a href="http://{{HTTP_HOST}}/v2/board/caseboard">클래스 개설사례</a></li>
                <li><a href="http://{{HTTP_HOST}}/v2/board/questionboard">문의중인 클래스</a></li>
                <li><a href="http://{{HTTP_HOST}}/v2/question/que_bridge" style="color:#F5515F;">의뢰하기</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://{{HTTP_HOST}}/v2/user/signup/host" class="btn btn-default user">
                    <img src="{%static 'media/image/slice/buttonicon-6.png'%}"> 작가신청</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="btn-default user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="profile-photo-mini" style="background-image:url({{MEDIA_URL}}{{user.userprofile_set.first.propic}});margin:2px 5px 0px 0px;width:35px;height:35px;background-size:cover;border:1px solid #ffffff;">
                                    </span>
                        {{user.last_name}} {{user.first_name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width:100%;">
                        <li><a href="http://{{HTTP_HOST}}/v2/user/profile/{{request.user.id}}">프로필</a></li>
                        <li><a href="http://{{HTTP_HOST}}/v2/user/logout">로그아웃</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a type="button" class="btn-default user" id="cont-btn" data-toggle="modal" data-target="#contactModal" style="cursor:pointer; font-size:16px; ">
                        <img src="{%static 'media/image/slice/buttonicon-3.png'%}"> 로그인/가입
                    </a> {% include 'component/user_login/_loginmodal.html'%}
                </li>
                {% endif %}
            </ul>
        </div> <!--/.nav-collapse -->
    </div> <!--/.container -->
</nav>
{%endblock%}
