{%load static from staticfiles%}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">

    <div class="navbar-inner">
        <!--<div class="container">-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" style="background-color:white;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{%static 'img/Tomakit-r.png'%}"
                     data-src-main="{%static 'img/Tomakit-w.png'%}"
                     alt="">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li><a href="http://{{HTTP_HOST}}/v2/board/caseboard">클래스 살펴보기</a></li>
                <li><a href="http://{{HTTP_HOST}}/v2/board/questionboard">클래스 제안하기</a></li>
                <!--<li><a href="http://{{HTTP_HOST}}/v2/question/que_bridge" style="color:#F5515F;">의뢰하기</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://{{HTTP_HOST}}/v2/user/signup/host" class="user">
                    <img src="{%static 'media/image/slice/icon-header_teacher-gr.png'%}"> 선생님 등록</a>
                </li>
                {% if user.is_authenticated %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/demand/create" class="user">
                    <img src="{%static 'media/image/slice/icon-header_open-gr.png'%}"> 클래스 개설 </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="profile-photo-mini" src="{{MEDIA_URL}}{{user.userprofile_set.first.pro_pic}}">
                        {{user.last_name}} {{user.first_name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width:100%;">
                        <li><a href="http://{{HTTP_HOST}}/v2.1/user/profile/{{request.user.id}}">프로필</a></li>
                        <li><a href="http://{{HTTP_HOST}}/v2.1/user/logout">로그아웃</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a type="button" class="user" id="cont-btn" data-toggle="modal" data-target="#contactModal" style="cursor:pointer; font-size:16px; ">
                        <img src="{%static 'media/image/slice/buttonicon-3.png'%}"> 로그인/가입
                    </a> {% include 'component/user_login/_loginmodal.html'%}
                </li>
                {% endif %}
            </ul>
        </div> <!--/.nav-collapse -->
    </div> <!--/.container -->
</nav>