{%load static from staticfiles%}
<style>
    @media (max-width:767px) {
        #navbar {width:260px;position:absolute;right:0; box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1)!important;}
        .navbar-toggle {margin:0;padding:0;background-color:white!important;border:none;}
        .navbar-toggle span:hover {color:#FF565A!important;}
        .navbar-right li:hover {background:rgba(0,0,0,0.05);!important;}
        .dropdown-menu {width:260px!important;margin-left:-5px; box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.1)!important;}
        .navbar-inner {box-shadow:0 1px 2px 0 rgba(0,0,0,0.1)!important;}
    }
    .navbar-main-menu {line-height:70px;padding:18px;font-size:16px;color:#777;}
    .navbar-main-menu:hover {color:#000;}
    .navbar-header {text-align:left;}
    .profile-photo-mini {
        margin: auto;
        border-radius: 50%;
        background-size: cover;
        overflow: hidden;
        height:24px!important;
        width:24px!important;
        vertical-align:middle!important;
        margin-right:5px!important;
    }
    .navbar {box-shadow:0 1px 2px 0 rgba(0,0,0,0.1)!important;}

</style>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">

    <div class="navbar-inner">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="{%static 'media/image/logo/tomakit-logo-red-h32.png'%}">
            </a>

        </div>
        <div class="navbar-header">
            <a class="navbar-main-menu" href="http://{{HTTP_HOST}}/v2.1/board/class_list">클래스 살펴보기</a>|
            <a class="navbar-main-menu" href="http://{{HTTP_HOST}}/v2.1/board/demand_list">클래스 제안하기</a>
            <button type="button pull-right" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation</span>
                <span style="font-weight:bold;line-height:70px;padding-right:15px;font-size:20px;color:#777;">∨</span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">



        <ul class="nav navbar-nav navbar-right">
                {% if not user.t2hostprofile_set.first %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/user/host/apply" class="user">
                    <img src="{%static 'media/image/slice/icon-header_teacher-gr.png'%}">&nbsp;선생님 등록</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="http://{{HTTP_HOST}}/v2.1/class/create/begin" class="user">
                    <img src="{%static 'media/image/slice/icon-header_open-gr.png'%}">&nbsp;클래스 개설 </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="profile-photo-mini" src="{{MEDIA_URL}}{{user.t2profile_set.first.pro_pic}}">
                        {{user.last_name}} {{user.first_name}} &nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width:100%;">
                        <li><a href="http://{{HTTP_HOST}}/v2.1/user/profile/{{request.user.id}}">마이페이지</a></li>
                        <li><a href="http://{{HTTP_HOST}}/v2.1/user/logout">로그아웃</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a type="button" class="user" id="cont-btn" data-toggle="modal" data-target="#contactModal" style="cursor:pointer;">
                        <img src="{%static 'media/image/slice/icon-header_login-gr.png'%}">&nbsp;로그인/가입
                    </a> {% include 'component/user_login/_loginmodal.html'%}
                </li>
                {% endif %}
            </ul>
        </div> <!--/.nav-collapse -->
    </div> <!--/.container -->
</nav>

<!--<script>-->
    <!--$(function ()    {-->
        <!--$('<div>').dialog({-->
            <!--modal: true,-->
            <!--open: function ()-->
            <!--{-->
                <!--$(this).load('Sample.htm');-->
            <!--},-->
            <!--height: 400,-->
            <!--width: 400,-->
            <!--title: 'Dynamically Loaded Page'-->
        <!--});-->
    <!--});-->
<!--</script>-->