{% extends 'base.html'%}
{% load static from staticfiles%}
{% load humanize %}
{% load v2d1_board_tags %}

<title>{%block title%}결제하기{%endblock%}</title>

<body>
{%block content%}
<div class="tmk-main-body col-md-12">
    <div class="tmk-page-header col-md-10 col-md-offset-1">
        <div class="tmk-h2 tmk-title">클래스명 {{post.title}}</div>
        <div class="tmk-h4"></div>
        <div class="tmk-page-pick"></div>
    </div>
<!--결제를 확인해주세요-->
<div class="col-md-10">
<h3>클래스 수강 신청</h3>
아래의 신청 정보가 맞는지 확인해 주세요.<br>

<!--클래스명 {{post.title}}<br>-->
결제 금액 ￦{{ post.extra_price|add:post.price |intcomma}}<br>

신청자 성함{{buyer_name}}<br>
이메일{{buyer_email}}<br>
전화번호 :010{{mobli}}<br>
{% if classtype == "tutclass"%}
희망 수업 시작일{{want_day}}<br>
{% endif%}
결제 방식 :{{pay_method}}<br>
<button type="submit" class="btn btn-primary" value="결제" id="button_buy">결제하기</button>
</div>
    </div>
{%endblock%}
{%block script%}
<script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment.js"></script>
<script type="text/javascript">
    var IMP = window.IMP;
    IMP.init('imp63695163');
    $(document).ready(function(){
        $('#button_buy').on("click",function(){
            IMP.request_pay({
                pay_method : '{{pay_method}}',
                merchant_uid : '{{merchant_id}}',
                name : '{{post.title}}',
                amount : '{{amount}}',
                buyer_email : '{{buyer_email}}',
                buyer_name : '{{buyer_name}}',
                buyer_tel : '010{{mobli}}',
                vbank_due : '{{vbank_due|date:"Ymd"}}'
            }, function(rsp) {
                if ( rsp.success ) {
                    window.location.replace("http://{{HTTP_HOST}}/v2.1/payment/pay_finish?rsp=success");
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    consol.log(msg)
                } else {
                    window.location.replace("http://{{HTTP_HOST}}/v2.1/payment/pay_finish?rsp=fail");
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                    consol.log(msg)
                }
            });
        });
    });
</script>
{%endblock%}