{% extends 'base.html'%}
{% load static from staticfiles%}
{% load humanize %}
{% load v2d1_board_tags %}

<title>{%block title%}결제하기{%endblock%}</title>

{%block style%}
<style>

    .pay-form {width:400px;text-align:left;background:#fff;line-height:34px;font-size:16px;margin:100px auto;}
    .pay-form label {color:#82888a; width:35%;}
    .pay-info {margin:15px auto;}
    /*.tmk-page-header{margin:0;}*/
</style>
{%endblock%}
{%block content%}
<div class="tmk-main-body col-md-12">
    <!--<div class="tmk-page-header"></div>-->
    <div class="container">

<!--결제를 확인해주세요-->
<div class="well pay-form">
<div class="tmk-h2">신청정보 확인</div>
<div style="font-size:18px;margin:30px auto;">아래의 신청 정보가 맞는지 확인해 주세요.</div>

    <div class="pay-info">
    <label>클래스명</label> {{post.title}}<br>
<label>결제 금액</label> ￦{{ post.extra_price|add:post.price |intcomma}}<br><br>

    <label>신청자 성함</label> {{buyer_name}}<br>
    <label>이메일</label> {{buyer_email}}<br>
    <label>전화번호</label> 010{{mobli}}<br>
{% if classtype == "tutclass"%}
    <label>희망 수업 시작일</label> {{want_day}}<br>
{% endif%}
    <label>결제 방식</label> {{pay_method}}<br>
    </div>
<button type="submit" class="btn btn-primary btn-block" value="결제" id="button_buy">결제하기</button>
</div>
        </div>
    </div>
{%endblock%}
{%block script%}
<script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment.js"></script>
<script type="text/javascript">
    var IMP = window.IMP;
    IMP.init('imp63695163');
    $(document).ready(function(){
        $('#button_buy').on("click",function(){
            IMP.request_pay({
                pay_method : '{{pay_method}}',
                merchant_uid : '{{merchant_id}}',
                name : '{{post.title}}',
                amount : '{{amount}}',
                buyer_email : '{{buyer_email}}',
                buyer_name : '{{buyer_name}}',
                buyer_tel : '010{{mobli}}',
                vbank_due : '{{vbank_due|date:"Ymd"}}',
                m_redirect_url : 'http://{{HTTP_HOST}}/v2.1/payment/pay_finish?rsp=success',
            }, function(rsp) {
                if ( rsp.success ) {
                    window.location.replace("http://{{HTTP_HOST}}/v2.1/payment/pay_finish?rsp=success");
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                    consol.log(msg)
                } else {
                    window.location.replace("http://{{HTTP_HOST}}/v2.1/payment/pay_finish?rsp=fail");
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                    consol.log(msg)
                }
            });
        });
    });
</script>
{%endblock%}