{%load static from staticfiles%}

<link rel="stylesheet" type="text/css" href="{%static 'media/css/loader.css'%}">
<style>
    .loader div{
        background:url({%static 'media/image/loading2.gif' %});
        background-position: center;
        background-repeat: no-repeat;
        margin:auto;
        height:100%;
    }
</style>
<div class="loader">
    <!--<div class="loader7" style="text-align:center;font-size:10px">-->
    <!--<img src="{%static 'media/image/loading.gif' %}">-->
    <!--</div>-->

    <div></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
//    $(".loader7,.loader").fadeOut("slow");
//    $(".loader").fadeOut("slow");
        $(".loader").fadeOut("slow");
//    $(".loader").fadeOut("slow");
    })
</script>
