{% load static from staticfiles %}
<div>
<a href="tel:010-3379-4189" target="_blank">
<button type="button" class="btn btn-default btn-lg" id="cont-btn" style="width:100%;background-color:#ddd;border-color:#ddd;color:black;margin-bottom:15px;">
  <span class="glyphicon glyphicon-phone-alt"style="vertical-align:top;"></span>
    전화 문의: 010-3379-4189
  </button>
</a>


  <a href="{{class_post.costinfo.apply_url}}" target="_blank">
    <button type="button" class="btn btn-default btn-lg" id="cont-btn" style="width:100%;">
      바로 신청하기
    </button>
  </a>
</div>