#hi span {
  font-family: sans-serif;
}

#hi strong:hover {
  color: white;
}

header .glyphicon {font-size:40%;color:white;margin-right:1%;opacity:0.8;}
header .glyphicon:hover {opacity:1;}
header small {font-size:30%;vertical-align:text-top;margin-left:5px;color:aquamarine;}
/*  .container-fluid {padding-left:5%;padding-right:5%;}*/
/*
#navbar a:hover {background-color:#ddd;}
#nav-user a:first-child:hover{background-color:transparent; background-color:#ddd;}
*/

.navbar-static-top {
  z-index: 501;
  position: relative;
  top: 100px;
}

.navbar-brand {
  color: black;
  font-family: Titillium Web;
  font-weight: 900;
  font-size: 24px;
}
/* Sticky Header stylex
----------------------------------------------------*/

header {
  top: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 150px;
  height: 150px;
  background: #47c9af;
  color: #fff;
  z-index: 501;
  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header h1 {
  font-family: Hanna;
  /*  font-weight:600;*/
  
  font-size: 50px;
}

header.sticky {
  line-height: 30px;
  height: 30px;
  text-align: left;
  z-index: 502;
}

header.sticky h1 {
  margin-top: 7px;
  font-size: 14px;
  padding-left: 20px;
}

nav {
  z-index: 501;
  top: 100px;
}

nav.sticky {
  z-index: 500;
  top: 0px;
}