.container {display:block;}
.post-content {margin:auto;margin-top:100px;}
.well {background-color:#f5f5f5;
  border-radius:0px;border:0;box-shadow:none;-webkit-box-shadow:none;
/*  box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);*/
}

section .name {color:#47c9af;}
.profile-pic {border:1px solid #47c9af; border-radius: 50%;background-color:#47c9af;width:2em;height:2em;margin-left:0.5em;}
.photo *{padding:-15px;}

.detail {border-left:0px;height:500px;}
.photo {marigin-bottom:0px;height:500px;}
/*
.post-detail {margin:auto; margin-bottom:10px;
  padding:15px;}
*/
/*  .box {padding:5px; padding-top:15px;}*/
.box {position:relative;padding-bottom:5px; margin-bottom:15px;}
.post-heading{
  width:100%; padding-bottom: 10px;margin-bottom:15px; word-break:break-all;}

/* #NOTE : word-break: break-all ======================== */
/*.post-price {padding-bottom:5px;}*/
#price-label {background-color:#FFB84D;width:60px;text-align:center;color:white;font-size:1em;vertical-align:text-bottom;padding:auto;padding:0.2em;border-radius:2px;height:1.6em;}
#price-label .glyphicon {vertical-align: text-top;}
.post-price .glyphicon::before:hover {color:white;}
.class-tag {margin-top:5px;padding-top:5px;}
.class-tag span:nth-child(2){padding-left:10%;}
#post-price {font-size: 1.5em;display:inline-block;margin-bottom:5px;width:60%;color:#FFB84D;font-weight:800;}
#post-add,#post-day,#post-time,#post-minmax{padding-left:3px;line-height:2em;padding-top:5px;}

.post-detail {padding:5px;margin:5px;}
.post-detail .glyphicon {color:dimgray;vertical-align: text-top;}
.post-detail .glyphicon:hover {color:red;}
.post-detail #cont-btn {margin-left:-10px;border-radius:4px;}

/*
.panel {width:100%; border:0px; border-radius:0px;margin-bottom:10px;max-height:300px;overflow:auto;}
.panel .glyphicon:first-child {margin-left:5px;margin-right:5px;font-size:1.2em;vertical-align:text-top;}
.panel .contact {border-radius:3px;border-color:red;}
.panel-heading {border-top:1px solid;}
.panel-title {margin-left:-10px;margin-right:-10px; font-size:1em; vertical-align: text-bottom; text-decoration:none;}
.panel-title a:hover{text-decoration:none;}
*/
/*.glyphicon-chevron-down {color:#ddd;margin-left:30px;}*/
/*.panel-body {margin-left:-10px;margin-right:-5px;}*/
/*.panel-body p {word-break:break-all;}*/

.content-summernote {margin:auto;padding-top:10px;padding-bottom:15px;overflow:auto;}
.title-summer {padding-bottom:10px;}

dd {margin-top:10px;}
h4 {margin-top:10px;margin-left:-1px;}
/*.icon {margin-left:5px; margin-right:5px; display:inline-block;vertical-align:middle;}*/

/* PHOTO / CAROUSEL / MEDIA / CAPTION
========================================================== */
.post-photo {margin:auto;padding-top:0px;width:100%}
.thumbnail {padding:0px; border:0px;margin-bottom:0px;}
.carousel-inner {overflow:hidden; position: relative; z-index: 1;margin-bottom:1em;}
.carousel-inner img{margin:auto;width:100%;position:relative;z-index:0;} /*if want width:500px img delete this */
.item {overflow:hidden;height:470px;}
@media (max-width : 472px){.item {max-height:360px;}}
/*
.carousel-control {width:10%;}
.carousel-control.left, .carousel-control.right {
  background-image: none; opacity:0.5; z-index: 2; color:mediumseagreen;}
.carousel-control.left:hover, .carousel-control.right:hover {
  background-image: none;opacity:1;}
*/

/*
.thumb {margin-left:0;width:320px;}
.mini-thumb{padding:0px;margin:0px;}
*/
/*  .mini-thumb a {padding:0;height:60px;overflow:hidden;position:relative;z-index:10;}*/
/*
.mini-thumb img{opacity:0.5; border:1px solid #eee;width:80px;}
.mini-thumb img:hover{opacity:1;}
.mini-thumb .ttt {width:50px;height:50px;overflow:hidden;display:block;}
.caption {z-index:15; background-color:white;height:15px;padding-top:0px;}
.caption > h4 {margin:0;padding:0;}
.map {height:450px;border-left:0px;line-height:2em;}
*/
/*.map .glyphicon {font-size:1.2em; color:red;margin-left:5px;margin-right:5px;vertical-align: text-top;}*/

.carousel-indicators {bottom:10px;}
.carousel-indicators li {border:2px solid white;}
.carousel-indicators .active {background-color:white;}
/*======================================================== */

/*Panel
========================================================== */
.panel-group .panel-default {border-radius:0px; border:none;background-color:#f5f5f5;margin:5px;}

.panel-group .panel-heading {background-color:#ddd;}
.panel-group .panel-heading:hover {background-color:#eee;}
.panel-title {font-size:1em;color:black;}
.collapse {background-color:47C9AF;}

.panel-collapse .in {background-color:#47C9AF;}


/* Tab
========================================================== */
/*.nav-tabs {background-color:none;border:none;}*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {border:none;color:#47C9AF;}
.nav-tabs > li > a {border:none;color:black;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {border:none;background-color:transparent; color:#47C9AF;}