.container {display:block;}
.post-content {margin:auto;vertical-align:text-bottom;}
.well {background-color:white; 
  padding:15px; border-radius:0px; box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);}
.detail {padding-left:15;padding-right:15;}

.post-photo {margin:auto;margin-top:15px;width:100%}
.thumbnail {margin:auto; padding:0px; border:0px; } /* max-width:500px deleted */
.post-detail {margin:auto; margin-bottom:10px;
  padding-bottom:10px;}
/*  .box {padding:5px; padding-top:15px;}*/
.box {padding-bottom:15px; margin-bottom:15px;}

.post-heading{
  /*    border-bottom: 5px double #ddd; */
  width:100%; padding-bottom: 10px;margin-bottom:15px;font-family:Verdana;}
#post-price {font-size: 18px;display:block; margin-bottom:20px;}
#post-add {padding-bottom:10px;}

.panel {width:100%; border:0px; border-radius:0px;margin-bottom:10px;}
.panel .contact {border-radius:3px;border-color:red;}
.thumb {;margin:auto;margin-bottom:5%;}
.mini-thumb{padding:0px; margin-right:-1px;display:inline:block;}
.mini-thumb img{border:1px solid #eee;}
.mini-thumb:hover{opacity:0.5;}
.panel-heading {border-top:1px solid;}

.panel-title {margin-left:-10px;margin-right:-10px; font-size:1em; vertical-align: text-bottom; text-decoration:none;}
.panel-title a:hover{color:skyblue;text-decoration:none;}
.glyphicon-chevron-down {color:#ddd;margin-left:30px;}
.panel-body {margin-left:-10px;margin-right:-10px;}
.content-summernote {margin:auto;padding-top:10px;padding-bottom:15px;}
.title-summer {border-bottom: 5px double #ddd; padding-bottom:10px;}

dd {margin-top:10px;}
h4 {margin-top:10px;margin-left:-1px;}
.icon {margin-left:5px; margin-right:5px; display:inline-block;vertical-align: text-bottom;}

.carousel-inner img{margin:auto; width:100%} /*if want width:500px img delete this */
#cont-btn {margin-top:5px; background-color:lemonchiffon;width:100%;color:black;border:1px solid transparent;}
#cont-btn:hover {background-color:lightcoral; color:white;}
.carousel-control {width:10%;}
.carousel-control.left, .carousel-control.right {
  background-image: none;opacity:0;}
.carousel-control.left:hover, .carousel-control.right:hover {
  background-image: none;opacity:0.8;}
/*  .carousel-indicators li {color:black;}*/
/*  .glyphicon-chevron-left, .glyphicon-chevron-right {color:black;}*/
.modal-dialog {max-width:450px;}
.modal-body {height:450px;margin:auto;text-align: center;}