body {
  background-color: #eee;
  min-width:600px;}
/*
table {
  display: table;
  border-collapse: seperate;
  border-spacing: 2px;
  border-color: gray;
}
*/


.footer-wrapper {border-top: 2px solid white; margin-top:5%; max-height:200px; vertical-align: bottom;}
.footer-inner {text-align: center; padding:30px; }
.footer-logo h2 {font-family:cursive;}
