@import url("webfont.css");

body {
  background-color: #eee;}
/*
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: 50% 50% no-repeat rgb(249,249,249);
}
*/
/* Sticky Header stylex
----------------------------------------------------*/
header{
  top:0;
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 150px;
  height: 150px;
  background: #47c9af;
  color: #fff;
  z-index: 501;
  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
header h1 {font-family:Hanna;
/*  font-weight:600;*/
  font-size:50px;}

header.sticky { 
  line-height: 30px;
  height: 30px; 
  text-align: left;
  z-index:502;
}

header.sticky h1 {
  margin-top:7px;
  font-size:14px;
  padding-left:20px;
}

nav {z-index:501;top:100px;}
nav.sticky {z-index:500;top:0px;}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  font-family:Nanum Gothic;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push{height:80px;}
#footer {
  height: 240px;
}

#footer {font-family:Titillium web;background-color:#47c9af;}

#upper-footer {height:120px;background-color:#47c9af;width:100%;padding-top:10px;margin-left:-20px;}
.footer-nav {margin:auto;margin-top:20px;font-family:Nanum Gothic;}
.footer-nav ul{text-align: center; list-style:outside;list-style-type: none;}
.footer-nav li {display:inline;padding:10px;}
.footer-nav a {color:white;font-size:16px;font-weight:600;}


#bi .logo {font-family:Titillium web, sans-serif; color:cornsilk;font-size:24px;font-weight:600;word-break:none;white-space:nowrap;}
.credit {padding-left:10px;}
/*.name {color:silver;}*/

/* Lastly, apply responsive CSS fixes as necessary */

  .container .logo {
    margin: 10px 0;
  }
  .container .credit {
    margin: 20px 0;
  }


@media (max-width: 767px) {
  #footer, #upper-footer,{
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
   }
  #upper-footer {height:80px;}
  .container .logo {
    margin: 10px 0;margin-top:10px;margin-bottom:0px;
  }
  .container .credit {
    margin: 10px 0;
  }
}

*/
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 30px;
}
.container #bi {
  margin: 10px 0;
}
#bi hr {
  width:100%;border-top:3px solid cornsilk;margin-bottom:10px;}

code {
  font-size: 80%;
}


/* Navbar
-------------------------------------------------- */
@media (max-width: 767px)
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-right: -20px;
    margin-left: -20px;
  }
