{%load static from staticfiles%}
<a href="#" class="go-top hidden">
  <span>▲</span>
</a>


<div id="tmk-footer">
  <div class="container">
      <div class="tmk-footer-nav">
        <ul>
          <li><a href="/">토마킷이란?</a></li>
          <li><a href="#">이용약관</a></li>
          <li><a href="/user/userprivacy">개인정보보호정책</a></li>
          <li class="visible-xs"><a href="//goto.kakao.com/@토마킷"><img src="{%static 'media/image/tmk-kakao_cs.png'%}"></a></li>
          <li><span>상호</span> : 텐시티(10city) <span>사업자 등록번호 437-18-00075 | 대표자 문현철 | 통신판매업신고 2015-서울성북-00567호</span>
            <br>
            <span>소재지 주소 : 서울특별시 성북구 동소문로 34길 24, 107동 310호 | 연락처 010-3379-4189
              <!--010-3379-4189-->
            </span></li>
        </ul>
      </div>
      <div class="tmk-footer-copyright">
        <ul>
          <li class="tmk-footer-logo"><img style="width:50px;vertical-align:sub;" src="{%static 'media/image/logo/tomakit-logo-red-h32.png' %}"></li>
          <li class="" style="text-align:right;padding-top:10px;">&#169; 2015 Tencity, Inc. All rights reserved.</li>
        </ul>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(window).scroll(function() {
    if ($(this).scrollTop() > 200){
      $('.go-top').removeClass("hidden");
    }
    else{
      $('.go-top').addClass("hidden");
    }
  });
</script>
