{% load static from staticfiles%}

<div id="how-tmk">

<div class="how-tmk-set" id="how-tmk-set">
    <div class="tmk-guide-img" style="background-image:url({%static 'media/image/slice/guide-1.png'%});"></div>
    <div class="tmk-guide-text">
        <div class="guide-title">편한 시간, 장소를 알려주세요.</div>
    <div class="guide-title-sub">간단한 질문에 답해주시면 맞춤수업을 찾아 드려요. <br>
        토마킷 도우미가 연락을 드리기도 합니다. <br>반갑게 맞아 주세요:)
        </div>
    </div>
    <!--<input type="button" id="btn1" value="changeGuide">-->
</div>

    <div class="how-tmk-set" id="how-tmk-set-2">
        <div class="tmk-guide-img" style="background-image:url({%static 'media/image/slice/guide-2.png'%});"></div>
        <div class="tmk-guide-text">
            <div class="guide-title">문자로 수업을 받아 보세요</div>
            <div class="guide-title-sub">딱 맞는 수업 몇개를 보내드려요.<br>
            여기저기 헤매지 말고 핸드폰에서 골라 보세요.
            </div>
        </div>
    </div>

    <div class="how-tmk-set" id="how-tmk-set-3">
        <div class="tmk-guide-img" style="background-image:url({%static 'media/image/slice/guide-3.png'%});"></div>
        <div class="tmk-guide-text">
            <div class="guide-title">믿을 수 있는 선생님</div>
            <div class="guide-title-sub">내 손으로 직접 만든 다는 것. 처음에는 어렵죠.<br>
                선생님의 친절한 도움과 함께라면 금방 완성 할 수 있어요.
                <a href="http://{{HTTP_HOST}}/v2/board/caseboard/">다른 분들의 수업사례를 살펴보세요. </a>
            </div>
        </div>
    </div>
</div>