{% load static from staticfiles%}
<!-- <a href="/">
  <header>
    <h1>토마킷 <span style="color:cornsilk;">tomakit</span></h1>
  </header>
</a> -->
{%include 'component/navigation/_head_nav.html'%}

<!--<script>-->
  <!--// $(window).scroll(function() {-->
  <!--//   if ($(this).scrollTop() > 5){-->
  <!--//     $('header').addClass("sticky");-->
  <!--//   }-->
  <!--//   else{-->
  <!--//     $('header').removeClass("sticky");-->
  <!--//   }-->
  <!--// });-->
  <!--$(window).scroll(function() {-->
    <!--if ($(this).scrollTop() > 5){-->
      <!--$('nav').addClass("sticky");-->
    <!--}-->
    <!--else{-->
      <!--$('nav').removeClass("sticky");-->
    <!--}-->
  <!--});-->
<!--</script>-->
