{%extends "base.html"%}
{% load static from staticfiles %}
<title>{%block title%}제휴하기{%endblock%}</title>
{%block content%}
<style>
  .tmk-panel-heading {text-align:center;margin:50px auto;}
  .tmk-panel-contact {margin-top:50px; background:rgba(255,255,255,0.3);padding:50px;}
  .bt-form {margin:30px auto;text-align:center;}
</style>

<div class="tmk-sub-body">

    <div class="tmk-panel-contact well" style="text-align:left;">
      <div class="tmk-panel-heading h1">제휴 / Q&A</div>
      <form method="POST" action="">
        {% csrf_token%}
        {% for field in emailform %}
        {{ field.errors|striptags }}
        {% endfor %}
        <label for="form_address">이메일</label>
        <input class="form-control" name="from_address" type="email" placeholder="연락 가능한 이메일 주소를 입력해주세요"/><br>
        <label for="mobile">핸드폰</label>
        <input id="id_modile" name="modile"  type="tel" class="form-control" placeholder="하이픈(-) 없이 숫자만 입력해주세요"><br>
        <label for="content">토마킷과 어떤 아이템을 제휴하고 싶으신가요? 최대한 자세히 설명해주세요.</label>
        <textarea cols="40" class="form-control" id="id_content" name="content" rows="10"></textarea><br>
        <div class="bt-form"><button id="submit" type = "submit" value="이메일 전송하기" class="btn btn-primary">이메일 보내기</button>
        </div>
      </form>
    </div>
  </div>

{%endblock%}