* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: '³ª´®°íµñ', NanumGothic,'ÇÑ³ª', Hanna, 'µ¸¿ò', Dotum, '³ª´®¸íÁ¶', NanumMyeongjo, '±¼¸²', Gulim, Helvetica, sans-serif;
}

body {
  text-align: center;
  //overflow-x:hidden !important;
  background-color: #e0e0e0 !important;
}

//global btn
$g-btn-color:#e86460;
$g-btn-h-color:#e86460;

.tmk-main-body{
  //background-color:transparent;
  margin-top:500px;
  text-align: center;
  display: inline-block;
  width: 1250px;
}

ul{
  list-style-type: none;
}

.box{
  width: 270px;
  margin: 30px;
  height: 470px;
}


.tmk-main-banner {
  min-width:1250px;
  width: 100%;
  height: 500px;
  position: absolute;
  top:0;
  overflow: hidden;
  //overflow-x:hidden !important;

  video {
    position: absolute;
    top: 0%;
    left: 50%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index: -100;
    //-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    //background: url("main-background.png'") no-repeat;
    //background-size: cover;
  }

  .main-banner-title {
    color: white;
    text-align: center;
    padding-top: 180px;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 700;
  }
  .main-banner-subtitle {
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.tmk-body-picks {
  padding: 15px;
  //check here//
  width:100%;
  display:inline;
  //check here//

  .tmk-picks-list {
    padding: 15px 14px 24px 14px;
    vertical-align: top;
    height: 470px;
    border: 1px solid #eee;

    span:first-child {
      font-size: 16px;
      font-weight: bold;
    }
  }

  > div {
    display: inline-block;
    margin: 15px;
    border-radius: 10px;
  }
  .tmk-picks-main {
    width: 570px;
    height: 470px;
    //float:left;
    background-image: url("http://blog.freepeople.com/wp-content/uploads/2013/03/diy-painted-feathers-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
  }

  .tmk-picks-sub {
    width: 270px;
    height: 470px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/c3/59/32/c359324722c8e1e3fee69a1d9fa512e4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
  }
}

.tmk-picks-main, .tmk-footer-banner {
  text-align:center;

  .tmk-picks-title {
    width:90%;
    //float:left;
    background: rgba(255, 255, 255, 0.9);
    margin: 200px 5%;
    position:inherit;
    padding: 20px 0px 20px 0px;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 1px;
    //font-family: '³ª´®¸íÁ¶', NanumMyeongjo, Serif;
  }
  .tmk-picks-subtitle {
    font-size: 14px;
    font-weight: 400;
  }
}

.tmk-picks-list-ul{
  li{
    margin-top: 15px;
  }
  .list-ul-img{
    display: inline-block;
    width: 55px;
    height: 37px;
    margin-right: 10px;
    background-image:url('http://papers.co/wp-content/uploads/papers.co-ma39-lovely-moss-flower-nature-1-wallpaper-300x300.jpg');
    background-repeat:no-repeat;
    background-size:cover;
  }
  .list-ul-span{
    display: inline-block;
    float: right;
  }
  .span-title{
    font-size: 16px;
    font-weight: bolder;
  }
  .span-by{
    font-size: 14px;
    color: #999;
  }
}

.tmk-main-border{
  text-align: center;
  position: relative;
  border-top: 1px solid #ddd;
  margin: 64px 40px 20px 40px;
  div {
    position: absolute;
    display: inline-block;
    margin-top: -12px;
    margin-left: -115px;
    left: 50%;
    width: 230px;
    font-size: 18px;
    font-weight: bold;
  }
}

.tmk-footer-banner {
  min-width:1250px;
  width: 100%;
  margin-top: -50px;
  height:400px;

  .footer-frame {
    position:absolute;
    margin-top: -60px;
    width: 100%;
    height: 470px;
    background: url("http://3.bp.blogspot.com/_uI298qBcU7o/TVCDstkUFUI/AAAAAAAABy4/gOy6o_dz-O8/s1600/lisastudio1.jpg");
    background-size: cover;
    opacity: 0.3;
    z-index:-100;
    background-position: 0px -200px;
  }
  .footer-banner-ul {
    margin-top: -120px;
    text-align:center;
    li {
      margin: 15px;
      display:inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: url("http://s3-us-west-1.amazonaws.com/witty-avatars/default-avatar-5-l.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px solid #e0e0e0;
    }
  }

  .footer-banner-ul2{
    margin-top: 0px 0px 0px -15px;
    text-align:center;

    li {
      margin: 0px 15px;
      display:inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: url("http://s3-us-west-1.amazonaws.com/witty-avatars/default-avatar-4-l.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border: 2px solid #e0e0e0;
    }
  }
}

.tmk-main-picks{
  margin-top: 25px;

  .picks-title{
    font-size: 14px;
    height: 18px;
    .title-main {

    }
    .titele-seeAll{
      color: #f0922e;
    }
  }
}

.picks-cards {
  margin-top: 26px;

  ul {
    position: relative;
    width: 100%;
    height: 470px;
  }

//should be removed
  .tmk-picks-main {
    width: 570px;
    height: 470px;
    //float:left;
    background-image: url("http://blog.freepeople.com/wp-content/uploads/2013/03/diy-painted-feathers-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  }
  .tmk-picks-sub {
    width: 270px;
    height: 470px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/c3/59/32/c359324722c8e1e3fee69a1d9fa512e4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
  }

  li {
    overflow: hidden;
    display: inline-block;
    width: 270px;
    height: 470px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin: 0px 15px;
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/19/48/c0/1948c0fc6aabce73963164f0f14798e8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);

    &:nth-child(2) {
      background-image: url("https://s-media-cache-ak0.pinimg.com/736x/7a/57/c9/7a57c9e5d62265e8db0e6df919f4b88a.jpg");
    }
    &:nth-child(3) {
      background-image: url("http://ak-hdl.buzzfed.com/static/2015-01/25/13/enhanced/webdr07/enhanced-buzz-16252-1422208840-10.jpg");
      background-position: 0px -180px;
    }
  }
}


.picks-cards-photo {
  height: 270px;
  .picks-cards-profile {
    width: 34px;
    height: 34px;
    margin: 10px auto auto 10px;
    background: rgb(255, 255, 255);
    border: 1px solid #e0e0e0;
    position: absolute;
    border-radius: 50%;
  }
  .profile-name {
    height:34px;
    margin-left: 38px;
    padding:15px;
    text-align:left;
  }
}

.picks-cards-credit {
  text-align:left;
  margin: 0px;
  padding: 5px 0 0 0;
  position: relative;
  bottom: 0px;
  height: 200px;
  background: rgba(255, 255, 255,0.9);
  border-radius: 0px 0px 10px 10px;

  >div {
    padding: 10px 10px 0 10px;
    //display:inline-block;
  }

  .h3 {
    margin: 0px auto 5px !important;
    color:#e0e0e0;
  }
  .credit-title {
    height: 150px;
    //width:80%;
    font-size:16px;
    padding: 5 auto auto 0px;
  }
  .cards-date {
    height: 43px;
    width:100%;
    outline: 1px solid #e0e0e0;
    position:inherit;
    background-color: #C6A109;
    text-align:right;
    color: white;
    span {
      color: rgba(255, 0, 0, 1);
    }
  }

  .cards-credit-label {
    width:100%;
    text-align:center;
    position: absolute;
    background: #e0e0e0;
    height: 40px;
    //margin: auto -10px;
    padding:12px 0 0;
    bottom: 0;

    color: #777777;
    vertical-align: text-bottom;
    border-top: 1px solid #e0e0e0;
    border-radius: 0px 0px 10px 10px;
    font-size:12px;
    //border: 1px solid #eee;
    //&:hover {
    //  background-color: #e0e0e0;
    //}
  }
}

nav {
  //min-width:1250px;
  > li {
    &:hover, &:focus {
      background-color: none;
    }
  }
}


//.container {background-color:transparent;}

.navbar {
  //box-shadow: 0.5px 0.5px #4f4f4f;
  padding: 10px;
  height: 70px;
  z-index:997;
  margin-bottom: 0px !important;
  .navbar-brand {
    padding: 7px;
  }
  .navbar-static-top {
    height: 70px;
  }
}




#navbar {height:70px}
.collapse {
  height: 70px;
  .navbar-collapse {
    ul {
      height: 70px;
      //padding:0px;
    }
  }
}

.nav {
  .open > a {
    &, &:hover, &:focus {
      border-bottom: 4px solid #e86460 !important;
    }
  }
}

.nav>li>a:hover {
    background-color: transparent !important;
  }
.nav>li>a:focus {
    background-color: transparent !important;
  }

.navbar-nav {
  > li {
    a {
      height: 60px;
    }
    a:hover {
      border-radius: 0;
      border-bottom: 4px solid #e86460;
    }
  }
}

.dropdown-menu {
  > li {
    padding: 5px;
    a {
      height: 40px;
    }
    a:hover {
      border-bottom:0px;
    }
  }
}

#footer {
  margin-top: 10px;
  background-color: #f49e80;
  bottom: 0;
  width: 100%;
  height: 176px;
  text-align: left;
  color: white;
  min-width:1000px
}

.footer-nav {
  color: white;
  ul {
    /*text-align: center;*/
    list-style: none;
    margin: 15px auto 15px 0px;
  }
  li {
    display: inline-block;
    padding: 10px;
    a {
      color: white;
      font-weight: 600;
    }
    a:hover {
      color: orangered;
      text-decoration-line: none !important;
    }
  }

}

.footer-copyright {
  padding:5px 10px 5px 10px;
  ul {
    border-top: 3px solid #ffffff;
  }
  li {
    display: inline;
    padding: 5px 0px;
  }
  .tmk-footer-logo {
    font-family: Titillium web;
    font-size:18px;
    font-weight: bold;
  }
}

.main {
  width:100%;
  height:300px;
  background-color:#e5e5e5;
  .banner {@extend .main;
  }
}

@keyframes ani {
  0% {transition: all 0.3s ease 0s; opacity:0;}
  100% {opacity:0.8;}
}

/*go-top button*/
.go-top {
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 998;
  font-size: 30px;
  color: orangered;
  animation: ani 1s linear 1 normal;
  //transition: all 0.3s ease 0s;
  &:hover {
    opacity: 1;
    color: gold;
  }
}


/* Modal / pop-ups */

.modal-backdrop {z-index:999 !important;}
.modal {z-index:1041 !important;}